[2020-02-06 20:47] ABonomo21 commented on #345
TESTED ON PERMIT 263249 WORKS GOOD THANKS

[2020-02-06 20:50] megisys commented on #352
Changed logtype

[2020-02-06 20:50] megisys commented on #352
Make Sure TCOOIS log type in Building is not expired

[2020-02-06 20:51] ABonomo21 commented on #320
tested the extension process on 263249, everything worked but did not get the new official issuance - ran batch manager and it did not work...

[2020-02-06 20:53] megisys commented on #322
This is due to the out of the box tool not understanding your requirements. It is too generic as I mentioned. A custom tool may need to be written or a large workaround applied.. Please let me know the priority here.

[2020-02-06 20:54] AReed327 commented on #354
I closed 4889, 3995 on 2/5/2020 and many others that have old staff on them. My concern is that these projects can end up on the portal so we need to get this cleaned up.
We need to find a work around. There are too many for a rainy day activity.
![image](https://user-images.githubusercontent.com/58854333/73976341-1afa7e00-48f6-11ea-8913-6669082f3396.png)
![image](https://user-images.githubusercon

[2020-02-06 20:55] ABonomo21 commented on #205
![image](https://user-images.githubusercontent.com/47611580/73977819-023f9780-48f9-11ea-9909-b4123f7a2d5f.png)

did not work

[2020-02-06 20:56] megisys commented on #354
Those are reviews added bu the county. I dont know what you would like me to do here. It is a case by case thing. If you want me to NA any reviews on a Closed Application I can. But the bottom one is open.

Dan

[2020-02-06 20:58] JuanitaMiles commented on #362
Right what I'm saying is that, that "approved" statement you see in the new summary view header is just showing the approved data that lives on the Job description tab. They are the same thing. The only difference is how Dan designed the new summary header to show that approved date.

But I agree, if the approved date doesn't cause any confusion internally or with applicants just close it and revi

[2020-02-06 20:58] AReed327 commented on #354
Those reviews are causing at least part of the issue. I tried to result them as N/A and it gives me the same  AssignedTo error
![image](https://user-images.githubusercontent.com/58854333/73978016-737f4a80-48f9-11ea-8b2b-6562a3e6bfe4.png)

My expectation is that I can close old projects.

[2020-02-06 21:00] TaraF commented on #326
Updated, along with Lauren's latest request for Business class showing the coded value.  Ready for re-test in Prod.

[2020-02-06 21:00] AReed327 commented on #354
I can't void these because they are likely approved plans that have reviews on them that were never resulted. I just want to close them.

[2020-02-06 21:00] ABonomo21 commented on #299
tested under permit 263215 in test and it did not progress to awaiting applicant resubmit due to check status condition the building permit should only check for this status at pending issuance.
![image](https://user-images.githubusercontent.com/47611580/73978119-ac1f2400-48f9-11ea-9d2d-a3a6f6b8a535.png)

[2020-02-06 21:03] megisys commented on #354
THese reviews are now gone and that ap moved. ANy others

[2020-02-06 21:23] calequin commented on #323
UPDATE: researching our current configuration of 100 visible on the mobile page and testing out a possible download of all violations when sychronizing in the mornings.

[2020-02-06 21:23] TaraF commented on #349
@ABonomo21 - please read my comment above.  This was the original logic based on what i am saying above.  If you want that dropped out I can, but it will be for all, so i need to be sure the logic is correct.

[2020-02-06 21:34] TaraF commented on #205
@ABonomo21  this is correct.  Please discuss over with Emily.  202617 in TEST is a nonresbldg, with a construction type of Complete, and it is Issued.  That qualifies it to be one of the two cases Emily identified that should have a selection of either COC or COO, since it is a business process decision which cannot be determined by the system, which is what we are presenting.

@emilypearl1 taggin

[2020-02-06 22:05] JuanitaMiles commented on #230
clsoing, tracking as enhance in future phase list

[2020-02-06 22:05] #230 closed

[2020-02-06 22:46] JuanitaMiles commented on #343
Please advise if Dan still needs to make any adjustments here or if Ashley's void in production has solved the problem.

[2020-02-06 22:47] JuanitaMiles commented on #340
will follow up with Dan Lewis to see if fix was successful.

[2020-02-06 22:56] JuanitaMiles commented on #305
Appears a temporary work around is in place. Closing and tracking as an enhancement to limit related record functionality on R4C.

[2020-02-06 22:56] #305 closed

[2020-02-07 02:24] TaraF commented on #321
This update is complete, and is ready for re-test (in Prod).

[2020-02-07 11:56] MLWilkins commented on #343
@JuanitaMiles  @megisys
Ashley did not void or close all of the items listed above.  Ashley is working on closing all applications from 2010 back.  Many of the APs that generated that PZMylar review on 1/4/20 are still legitimate projects that are currently active and valid so we do not want to close or void those.  This ticket is just to n/a those PZMYLAR reviews listed above, not to close any AP

[2020-02-07 12:11] MLWilkins commented on #362
found one other example of this.  I look at the project letter report for both and nothing indicates "approved" on those letters.  I cannot confirm if "approved" appears on the portal.

[2020-02-07 12:40] emilypearl1 commented on #205
Tara- the COO/COC option is correct on this permit - however it is at wrong milestone. This permit is at the inspections milestone- the certificates should not be available until the Pending Certificate milestone.

[2020-02-07 12:44] emilypearl1 commented on #321
Testing Failed in TEST on both notices . Checked on AP#187136

![image](https://user-images.githubusercontent.com/58855801/74030635-850a3600-497d-11ea-9bae-b0118841383c.png)
![image](https://user-images.githubusercontent.com/58855801/74030660-95221580-497d-11ea-975a-7a7adc1588d7.png)

Also confirmed on permit #167617.

[2020-02-07 12:47] mlibbey131 opened #365 "Unable to print Cut-Ins"
When we try to print the cut in reports we receive this error-High Priority Per Ashlye

![image](https://user-images.githubusercontent.com/58980189/74030835-04980500-497e-11ea-9ca6-399bb1b78f64.png)

[2020-02-07 12:47] awhite806 opened #366 "Unable to open Documents for permits"
We are unable to open any documents for permits. When clicking the Document button, this error pops up. High Priority per Ashlye!
![image](https://user-images.githubusercontent.com/58981029/74030825-fd70f700-497d-11ea-9001-e631fcf92acc.png)

[2020-02-07 13:37] JuanitaMiles commented on #359
@calequin @ABonomo21 When Christian's questions above has been answered, please do not assign back to Christian. This task needs to go to Jeff Wisner.

[2020-02-07 13:41] #364 closed

[2020-02-07 13:45] megisys commented on #320
THis is due to Tara and the COunty needing to promote Production reports to TEST. Assigning to County and TAra

[2020-02-07 13:55] pooldaddy commented on #365
Related to SSRS report issue.  Dave & Tara investigating.

[2020-02-07 13:59] megisys commented on #343
Hi Mike there were 17 left behind. These are now NA in Production

[2020-02-07 14:09] awhite806 opened #367 "Resubmittal from not appearing on dashboard and detail page was able to change"
Permit #260631 had a resubmittal on 2/4/2020 and it never appeared on the dashboard even though the log showed it. I spoke with the Customer and she let me know that she was able to edit the details page, even though the permit was issued. This details page should not be available to edit once the permit was issued.
![image](https://user-images.githubusercontent.com/58981029/74036019-775aad80-4989

[2020-02-07 14:10] megisys commented on #337
Advice sent via email on how to open these attachments

[2020-02-07 14:29] JuanitaMiles commented on #123
County GIS is currently working on this item. Will await progress reports from GIS.

[2020-02-07 14:35] JuanitaMiles commented on #367
@calequin looks like two separate issues here. If you can address the editing of the detail page issue. I'll follow up on the dashboard piece.

[2020-02-07 15:12] ABonomo21 opened #368 "PORTAL ACCOUNT LINK ERROR"
I have two customers that have their portal account linked accurately and we are not able to see them within their portal

their dashboards are blank
recelectric@verizon.net - should have a trade license number em257820 showing up
alecproakis@gmail.com- should have demo permit number 261914

Is the a larger issue how do we get it corrected??

[2020-02-07 15:20] emilypearl1 opened #369 "Migration of Unpaid Fees"
Permit #57444 was unpaid in hansen 7

![image](https://user-images.githubusercontent.com/58855801/74041250-4f704780-4993-11ea-963b-abdf3ef0f669.png)

In IPS the fee is showing as waived.
![image](https://user-images.githubusercontent.com/58855801/74041294-63b44480-4993-11ea-817d-6b7e7e0e421a.png)

currently - the permitting fees for this permit are UNPAID!!

[2020-02-07 15:20] emilypearl1 commented on #369
IPS shows an unpaid amount of $0.00

[2020-02-07 15:31] calequin commented on #368
Fixed - Electrical Trade status of Processing was not enabled to display in the OPEN Filter for Prod
![image](https://user-images.githubusercontent.com/47603568/74042079-7ecf8600-498c-11ea-9bfb-a52089b6ac3c.png)

Demolition - did not find an issue here and it displayed correctly in my portal in prod and test

![image](https://user-images.githubusercontent.com/47603568/74041645-a96d0f00-498b-11ea-8

[2020-02-07 15:33] megisys commented on #368
I cant even see a demo permit of  261914 . ??

[2020-02-07 15:34] calequin commented on #368
When searching for alecproakis@gmail.com in contact and property browser the demolition permit listed is 261964

[2020-02-07 15:39] megisys commented on #366
Dave Desai says this issues is addressed

[2020-02-07 15:40] megisys commented on #369
The Application is closed. Please advise

[2020-02-07 15:41] megisys commented on #365
County advises this issue is addressed

[2020-02-07 15:50] pooldaddy commented on #366
Closing this issue as it was related to SSRS server outage

[2020-02-07 15:50] #366 closed

[2020-02-07 15:50] pooldaddy commented on #366
Close

[2020-02-07 15:51] #365 closed

[2020-02-07 15:52] pooldaddy commented on #365
Closing issue. Cause was ssrs server outage

[2020-02-07 15:57] emilypearl1 commented on #369
Dan - FRO permits do not expire and therefore, this application should not have been apart of the migration push for in-life mapping. The in life mapping push was set to waive fees, reviews, inspections etc on permits that "expired". These fees should not be waiving for FRO, we have two examples
52199 and 57444

What we need from you is to remove all expiration dates from FRO permits so the mappin

[2020-02-07 16:07] megisys commented on #369
Email sent. County able to adjust these as required. No Issue for Infor to address.

[2020-02-07 16:10] AReed327 commented on #354
Figured out how to make it work. Need to go in and assign the unassigned reviews on the projects that give error. By using process of elimination, I have closed all applications I needed to.  AREED

[2020-02-07 16:10] #354 closed

[2020-02-07 16:35] megisys commented on #367
PLease use the new detail page method here

[2020-02-07 16:36] megisys commented on #367
Also there was no resubmittal. They used the applicant action page and clicked resub. They should have selected changes.

[2020-02-07 17:19] ABonomo21 opened #370 "Related Record Error"
related to issue #231

processing BP # 264591 there are a number of cases being related as an other records that are unrelated. had this issue previously.

![image](https://user-images.githubusercontent.com/47611580/74050452-155b7180-49a4-11ea-8eed-f779b5c4b1e1.png)

[2020-02-07 17:25] calequin commented on #363
The parent permit was related after the pending issuance milestone, therefore it didnt know a parent was added.
No issue here just need to related the permit before issuance
![image](https://user-images.githubusercontent.com/47603568/74050857-741ced00-499c-11ea-8bd5-c0fb6c3294d4.png)

[2020-02-07 17:30] calequin commented on #370
somehow this application was added without an address and then fixed after. How was this application created? group add etc?
![image](https://user-images.githubusercontent.com/47603568/74051248-39678480-499d-11ea-86e2-965228da8f80.png)

[2020-02-07 17:32] calequin commented on #370
all cases have been cleared now

[2020-02-07 17:45] ABonomo21 commented on #363
I will remind staff they need to relate records before resulting the completeness check and make sure they are checking the back office parent required check box. Emily please send an email.

[2020-02-07 17:45] #363 closed

[2020-02-07 17:47] megisys commented on #370
BLDG_ListOpenCases_AAF - Issue found needs to be promoted urgently.. Test by Dan Grendon

[2020-02-07 17:56] calequin commented on #367
fixed the detail page editing to not allow

[2020-02-07 17:56] calequin commented on #367
fixed in production

[2020-02-07 17:59] calequin commented on #323
should we have all code violations download in the morning on the inspector profile?

[2020-02-07 18:17] calequin commented on #299
fixed in test and production. Expired this status check and made sure pending issuance had the correct status check

[2020-02-07 18:21] ABonomo21 commented on #281
Where does this stand, it is an important option needed for applicants submitting on R4C @JuanitaMiles

[2020-02-07 18:30] calequin commented on #281
im in process of it now actually

[2020-02-07 18:36] JuanitaMiles commented on #337
copying Gary's final comments with direction on path forward.

![image](https://user-images.githubusercontent.com/31770504/74055857-d2eb6200-49ae-11ea-9c23-8bf4108ec2a5.png)

[2020-02-07 18:36] emilypearl1 opened #371 "Zoning Use Details"
Permit #202731 didnt have a zoning use details tab-  Justin went to add the details when he chose Zoning Use Details it acted like it was going to save but did not save.

I had to manually add it myself since he was unable to get it to save.
![image](https://user-images.githubusercontent.com/58855801/74055847-ce26ae00-49ae-11ea-948c-0aeb7e9df95f.png)

[2020-02-07 18:37] JuanitaMiles commented on #337
assigning to Dan as he indicated through email, he will make the change.

[2020-02-07 18:38] JuanitaMiles commented on #361
Closing as a duplicate of the solution for ticket 337. Gary's final confirmation comments below.

![image](https://user-images.githubusercontent.com/31770504/74055950-f9a99880-49ae-11ea-98de-72feb3f65e74.png)

[2020-02-07 18:38] #361 closed

[2020-02-07 18:39] JuanitaMiles commented on #371
i'll look at the permissions to see if the permission for him to add detail pages is in effect.

[2020-02-07 18:44] ABonomo21 opened #372 "R4C- Completeness Check and Under Review Milestone"
While in completeness check and in the under review milestone -  Maddison was able to change the details on permit 264574

We need to lock this down should only be able to make changes when the permit is in awaiting applicant resubmission.

[2020-02-07 18:46] ABonomo21 commented on #372
related to ticket #367

[2020-02-07 18:54] JuanitaMiles opened #373 "Treasury - Time Out Issues"
Dan Lewis in Treasury has reported time out issues again for his staff. Kristi Lewandowksi in DUSWM was also trying to hit the "Receipt" button to complete a transaction and received an error. I believe these issues are related from what I see of Kristi's error below.

![image](https://user-images.githubusercontent.com/31770504/74057065-1d6dde00-49b1-11ea-9f47-fc8ae44734a5.png)

![image](https://u

[2020-02-07 18:58] ABonomo21 commented on #168
Received feedback from a few customers over the past couple of days about how improved the speed is. More importantly Maddison provided feedback that her speed has been great.

Mike and Ashley have you had any feedback @MLWilkins @AReed327

[2020-02-07 18:58] awhite806 opened #374 "Plumbing License Renewal Review error"
When trying to result a renewal review, this error is generating.  Not sure what it is referring too??
PM001350
![image](https://user-images.githubusercontent.com/58981029/74057451-f663dc00-49b1-11ea-893a-77f92bf8ae44.png)

[2020-02-07 19:12] JuanitaMiles commented on #374
Not sure if this is related to the broader errors occurring in the system in general. Christian please take a look when you are able to confirm.

[2020-02-07 19:27] megisys commented on #373
Closing this.. This was due to accidental update.. System is back..

[2020-02-07 19:27] #373 closed

[2020-02-07 19:30] megisys commented on #374
PLease Try Now.. Also what result are you trying to result it

[2020-02-07 19:33] JuanitaMiles commented on #374
You can see in the screenshot it says approved.

[2020-02-07 19:49] megisys commented on #374
You have good eyes.. LOL Did it work now.

[2020-02-07 19:56] ABonomo21 commented on #370
here is another one.

[2020-02-07 19:56] ABonomo21 commented on #370
![image](https://user-images.githubusercontent.com/47611580/74061449-07b0e680-49ba-11ea-97fc-99c7bc946e38.png)

[2020-02-07 19:56] ABonomo21 commented on #370
@calequin

[2020-02-07 19:57] calequin commented on #370
formula fix will need to be promoted after hours BLDG_ListOpenCases_AAF

[2020-02-07 20:05] calequin commented on #372
fixed in test and production to make detail pages not editable

[2020-02-07 20:07] AReed327 opened #375 "Planning - IPS created 3rd review cycle before resubmit in PDOX"
Project Number - SP257690

Observed behavior - I received the 3rd submission in PDOX. Before routing I reviewed IPS. IPS already had the 3rd review cycle populated. When I routed the 3rd submission from PDOX, IPS kept the due date that it originally populated on 2/3/2020 when it added in error. IPS added the 3rd cycle when the last reviewer resulted their review on the 2nd cycle.

Expected behavio

[2020-02-07 20:33] ABonomo21 commented on #368
That is correct christian.

[2020-02-07 20:36] awhite806 commented on #367
closing for now-aw

[2020-02-07 20:37] awhite806 commented on #374
Leslie got it to approve! closing the issue

[2020-02-07 20:37] #374 closed

[2020-02-07 20:40] ABonomo21 commented on #369
Emily and I will try to move to the correct milestones and adjust as we find them. @emilypearl1

[2020-02-07 20:40] #369 closed

[2020-02-07 20:40] ABonomo21 commented on #359
They all go to Kathy Evans.

[2020-02-07 20:40] ABonomo21 commented on #359
@JuanitaMiles

[2020-02-07 20:42] JuanitaMiles commented on #375
@calequin will likely need Dan's support as he has worked extensively with these reviews and communication to and from PDox.

[2020-02-07 20:42] ABonomo21 commented on #349
I think it would need to be dropped out. The plumber will be the primary and be listed as the contractor

we do not want the information duplicated.

[2020-02-07 20:44] megisys commented on #375
IPS didn't add this review 3. It was initiated by Project Dox check the far right column within IPS.  Do we know what happened in Pdox. Not sure we can help here too much. Will need Robert to assist

[2020-02-07 20:45] megisys commented on #375
@JuanitaMiles

[2020-02-07 20:45] JuanitaMiles commented on #368
@calequin is this ready for retest now?? can't tell if there is still an outstanding question...

[2020-02-07 20:45] ABonomo21 commented on #325
can we assign this to bob @JuanitaMiles

[2020-02-07 20:46] ABonomo21 commented on #168
mike okay with closing will monitor in the future.

[2020-02-07 20:46] #168 closed

[2020-02-07 20:47] #313 closed

[2020-02-07 20:47] awhite806 commented on #368
Megan's customer for REC Electric is working! I have emailed my customer Alec to confirm his portal is linked as well. Closing for now unless I hear back from Alec that the portal is not linked.

[2020-02-07 20:47] #368 closed

[2020-02-07 20:48] ABonomo21 commented on #358
closing for now

[2020-02-07 20:48] #358 closed

[2020-02-07 20:49] ABonomo21 commented on #317
closing for now

[2020-02-07 20:49] #317 closed

[2020-02-07 20:53] MLWilkins commented on #343
@JuanitaMiles  not sure what to do with this.  Im done with this ticket but not sure how to label it, or if to close it on not.

[2020-02-07 20:54] JuanitaMiles commented on #325
See email from 2/7 1:47pm. Dustin will need to add bob to the repository when he creates his account, then I will assign all inspection issues to bob.

[2020-02-07 21:08] JuanitaMiles commented on #343
@MLWilkins It looks like Dan marked those 17 outliers as NA in production, so i think they've all been taken care of. Ashley's voiding and Dan's NA solution were both done in Production so no testing needs to be done. I think if you are satisfied with the state of the errant PZ Mylars, lets close the ticket.

[2020-02-07 21:13] AReed327 opened #376 "PLANNING - Town Review - Emmitsburg didn't add"
Project Number - PW258818
Observed behavior - Town not adding as an applicant. I will add manually on this one.
Expected behavior   - Towns/Municipalities will add as applicant based on Parcel Details
![image](https://user-images.githubusercontent.com/58854333/74064833-7fceda80-49c1-11ea-8089-c605b3983831.png)

[2020-02-07 21:19] #343 closed

[2020-02-07 21:23] JuanitaMiles commented on #371
I don't see anything in the permissions that would be preventing Justin to add this detail page. Perhaps christian will have more information.
![image](https://user-images.githubusercontent.com/31770504/74066946-20bf9480-49c6-11ea-94d8-a628f370be8e.png)

[2020-02-07 21:25] JuanitaMiles commented on #372
Per message from AB. Marking as retest failed. Applicant was able to update detail page at intake review milestone on grading permit. Ensure all building ap's have the configuration applied.

[2020-02-08 13:56] megisys commented on #110
•	When an application has been processed - Meaning, when the Completeness Check review has been resulted and the Processed Date has been applied to the application. I don’t believe this is currently a notification we have but it will be extremely useful to the Towns. - DONE !!

### **Promote - BP_NotifyTownReviewers**

•	When the Permit has been Issued - We have this notification already for Build

[2020-02-08 14:00] megisys commented on #110
PLease TEST RESBLDG, RESUSES and NONRESBLDG.. Let me know which other application a town might want to be informed of final inspections being completed please..

Add yourself as a TOWNR to see this..

[2020-02-08 14:03] megisys commented on #110
Template TownUpdate need to be promoted and added to config editor

[2020-02-08 14:04] megisys commented on #110
Opt Out also Fixed for Contractors

[2020-02-08 14:17] megisys commented on #322
Email send directly to Mary and Team

[2020-02-09 14:48] calequin commented on #370
promoted on 2.9.2020

[2020-02-09 14:48] #370 closed

[2020-02-09 14:51] calequin commented on #351
promoted on 2.9.2020

[2020-02-09 14:51] #351 closed

[2020-02-09 14:52] calequin commented on #350
promoted on 2.9.2020

[2020-02-09 14:52] #350 closed

[2020-02-09 14:53] calequin commented on #348
promoted on 2.9.2020

[2020-02-09 14:53] #348 closed

[2020-02-09 14:54] calequin commented on #347
promoted on 2.9.2020

[2020-02-09 14:54] #347 closed

[2020-02-09 14:56] calequin commented on #345
promoted on 2.9.2020

[2020-02-09 14:56] #345 closed

[2020-02-09 14:56] #344 closed

[2020-02-09 14:57] #299 closed

[2020-02-09 14:58] calequin commented on #296
promoted on 2.9.2020

[2020-02-09 14:58] #296 closed

[2020-02-09 15:06] calequin commented on #284
promoted on 2.9.2020

[2020-02-09 15:09] #246 closed

[2020-02-09 15:09] calequin commented on #246
promoted on 2.9.2020

[2020-02-09 15:13] calequin commented on #6
promoted on 2.9.2020

[2020-02-09 15:13] #6 closed

[2020-02-09 15:49] calequin commented on #352
promoted on 2.9.2020

[2020-02-09 15:49] #352 closed

[2020-02-10 13:08] MLWilkins opened #377 "Planning-waived fee but wouldnt move past awaiting plan review payment"
waived fees on this site plan to test PDox upgrade but systems still requires fee payment.  Had to supervisor override this one to test PDox.

![image](https://user-images.githubusercontent.com/50637067/74152312-0bbc4e80-4bdc-11ea-819c-64f121291395.png)
![image](https://user-images.githubusercontent.com/50637067/74152338-1b3b9780-4bdc-11ea-900d-77d413762434.png)

[2020-02-10 13:09] #340 closed

[2020-02-10 13:27] megisys commented on #377
Cause this was moved unable to see fault. Is it possible we can try and replicate in Test

[2020-02-10 14:04] MLWilkins commented on #377
see SP258806 in TEST

![image](https://user-images.githubusercontent.com/50637067/74156457-5c37aa00-4be4-11ea-9e63-7ee41a6e88f4.png)

[2020-02-10 14:07] megisys commented on #377
Thanks so much Mike.. Issue is addressed in Test and Production. Was a hold up on Wavied

[2020-02-10 14:15] MLWilkins commented on #377
tested in TEST and it works.  Thanks!

![image](https://user-images.githubusercontent.com/50637067/74157130-c00ea280-4be5-11ea-8873-efa87b5a5bf2.png)

[2020-02-10 14:15] #377 closed

[2020-02-10 14:16] MLWilkins commented on #362
Christian confirmed on 1/7/20 morning call that the "approved" label is not appearing on portal.

[2020-02-10 14:16] #362 closed

[2020-02-10 14:20] AReed327 commented on #256
Ok to push to production. Will verify in production after update. AREED

[2020-02-10 14:30] AReed327 commented on #375
There was no re submission in PDOX until 2/7/2020 as you can see in the screenshot above. We have been unable to replicate. Changing to will monitor and closing.

[2020-02-10 14:30] #375 closed

[2020-02-10 14:53] AReed327 commented on #346
Screen shot to show changes. Closing ticket.

[2020-02-10 14:58] AReed327 commented on #346
Verified correct. Test Accepted.

[2020-02-10 15:06] AReed327 commented on #329
This information is still showing on the report in production and in test.
![image](https://user-images.githubusercontent.com/58854333/74161106-6f4e7800-4bec-11ea-8485-8d88e55bdf01.png)
![image](https://user-images.githubusercontent.com/58854333/74161441-f0a60a80-4bec-11ea-8b1f-b7ea74a42822.png)

[2020-02-10 15:10] JuanitaMiles opened #378 "Building Permits - RESBLDG - Placard Not Generating in TEST"
In the TEST system. When trying to run the Building Permit - Official Placard on-demand, the placard does not generate. It's just a white screen.

Abbie to attach screen shot....

[2020-02-10 15:15] AReed327 commented on #105
"Planning - Pending Reviews by staff" Report should email weekly on Monday mornings to Mike Wilkins and Ashley Reed.
MWilkins - MWilkins@FrederickCountyMD.gov
AReed - AReed@FrederickCountyMD.gov
![image](https://user-images.githubusercontent.com/58854333/74162071-0d8f0d80-4bee-11ea-88d7-aaade12b0fea.png)

We would also like to receive a weekly report for plans submitted. However, we are having dif

[2020-02-10 15:31] awhite806 commented on #378
![image](https://user-images.githubusercontent.com/58981029/74163526-84c5a100-4bf0-11ea-9b9f-92ea92dafb0e.png)
![image](https://user-images.githubusercontent.com/58981029/74163539-88592800-4bf0-11ea-95e5-f4b6fc8dfc02.png)

[2020-02-10 15:34] megisys commented on #105
unassigning myself as Juanita needs to be around this and is assigning resources

[2020-02-10 15:48] AReed327 opened #379 "Planning - Wrong milestone on Site Plan. Awaiting Applicant Payment after all reviews approved"
SP258819
Application went to Awaiting Applicant Payment after all reviews were completed.
Expectation is that application will not stop at this milestone when there is no payment due. There should not be a fee owed on this application type at this milestone.
![image](https://user-images.githubusercontent.com/58854333/74164766-34e7d980-4bf2-11ea-80fc-625db79e49d7.png)

[2020-02-10 15:53] TaraF commented on #349
Latest request assigned, in progress.

[2020-02-10 15:54] megisys commented on #379
Addressed in Prod

[2020-02-10 16:12] calequin commented on #372
fixed in Prod. starting config in test now

[2020-02-10 16:24] TaraF commented on #205
@emilypearl1 please re-test in test.

[2020-02-10 16:26] TaraF commented on #320
Test environment is up and running for reports.

[2020-02-10 16:30] TaraF commented on #321
@emilypearl1  - not sure when this was tested, but it may have been when things were reverted temporarily on Friday by IT.   At any rate, it is available now, just checked, but please re-test.

![image](https://user-images.githubusercontent.com/4104464/74169075-b6db0100-4bf8-11ea-9124-2e5f560bf77a.png)

[2020-02-10 16:35] TaraF commented on #333
@JuanitaMiles  - the environment is up and working.  See email sent yesterday evening.

[2020-02-10 16:36] TaraF commented on #329
Something got out of sync with the set up of test on Friday.  Requesting a redeploy for this report with the fixes, assigned.  Will update when available.

[2020-02-10 16:42] emilypearl1 commented on #321
just re-checked. closing ticket

[2020-02-10 16:42] #321 closed

[2020-02-10 16:47] TaraF commented on #378
Working - please test in test again.

[2020-02-10 17:03] JuanitaMiles commented on #378
Confirmed the placard generates on-demand in both environments. Closing ticket.

![image](https://user-images.githubusercontent.com/31770504/74171838-2eab2a80-4bfd-11ea-84ff-083cbcee08b2.png)

![image](https://user-images.githubusercontent.com/31770504/74171878-41256400-4bfd-11ea-88c7-2def81b6305b.png)

[2020-02-10 17:03] #378 closed

[2020-02-10 17:06] emilypearl1 opened #380 "Grading Details Page"
Permit #264598
the applicant completed the Grading Details Intake however they did not copy over to the Grading Details page
![image](https://user-images.githubusercontent.com/58855801/74172185-cc065e80-4bfd-11ea-8fc7-ab6f03588c9f.png)
![image](https://user-images.githubusercontent.com/58855801/74172211-d4f73000-4bfd-11ea-97e6-c15e1c5bc8c5.png)

[2020-02-10 17:08] ABonomo21 opened #381 "Grading Permit - Condition Bypass"
It is not allowing me to do a resubmit at intake review for grading permit 262030 because it is being blocked by the condition for the related to a parent.

Like all other conditions this one should be bypassed if the result of an intake review is a resubmit

![image](https://user-images.githubusercontent.com/47611580/74172324-0a038280-4bfe-11ea-8387-d2b6dc1c9ec9.png)

[2020-02-10 17:10] ABonomo21 opened #382 "Grading Permit spawned from a Non Res BLDG"
grading permit 262030 appears to have spawned from a non-res permit, which was correct

however, it went to intake review instead of awaiting application resubmit like it should have , thoughts?
![image](https://user-images.githubusercontent.com/47611580/74172493-5484ff00-4bfe-11ea-916d-0daf34bfffc9.png)

[2020-02-10 17:20] calequin commented on #372
fixed in test

[2020-02-10 17:23] calequin commented on #371
could not replicate. can we try again? Couldve been a cached screen taking long if it was his first time adding a detail page.

[2020-02-10 17:24] emilypearl1 commented on #205
In TEST: Checked on permit 263302-milestone Revision Assignment- able to print COO
![image](https://user-images.githubusercontent.com/58855801/74173209-b3974380-4bff-11ea-8e6a-4116bdbee06b.png)

permit 263290- worked
![image](https://user-images.githubusercontent.com/58855801/74173437-1a1c6180-4c00-11ea-9e36-e4a8a9982f3c.png)

RESUSE permit 263153- able to print COC- milestone under review
![image

[2020-02-10 18:09] JuanitaMiles commented on #333
confirmed many of the reports in TEST are running and with TEST data. Closing ticket.

[2020-02-10 18:09] #333 closed

[2020-02-10 18:23] megisys commented on #382
IT is linked to the other issue

![image](https://user-images.githubusercontent.com/47392306/74177838-826f4100-4c08-11ea-8c33-85fba95658ec.png)

[2020-02-10 18:36] TaraF commented on #342
@JuanitaMiles  please test this in TEST.  If confirmed, this will need to be pushed to prod by Infor - as a formula update on the On Demand report.

[2020-02-10 18:40] calequin commented on #381
added formula GRADING_ParentCondition2_SCF to the "All Condition(s) must be Resulted" status check

[2020-02-10 18:44] calequin commented on #382
fixed the formula on issue 381 and fixes this one.

[2020-02-10 18:55] calequin commented on #382
tested with 263332

[2020-02-10 18:56] JuanitaMiles commented on #342
@TaraF is there a specific formula name that Infor will look for to push to production once test accepted? If so please provide.

[2020-02-10 19:39] TaraF commented on #342
The system generated formula name is AR_4:

![image](https://user-images.githubusercontent.com/4104464/74183446-f7e00f00-4c12-11ea-9f1b-e674b1e54558.png)

![image](https://user-images.githubusercontent.com/4104464/74183527-1ba35500-4c13-11ea-9139-1555964f3af2.png)

[2020-02-10 19:42] MLWilkins commented on #379
tested in IPS and Pdox TEST.  SP258806.  Project went to schedule hearing as expected.

![image](https://user-images.githubusercontent.com/50637067/74183773-98363380-4c13-11ea-94ba-d965cee14408.png)

[2020-02-10 19:42] #379 closed

[2020-02-10 20:57] JuanitaMiles commented on #324
Tested by group adding the application above with a NonRes Occupancy type and no U&O fee added. Then tested with a Res Occupancy Type, and the U&O fee added. Marking as Test Accepted.
![image](https://user-images.githubusercontent.com/31770504/74189132-dafd0900-4c1d-11ea-9499-6fcd3f45bdc9.png)
![image](https://user-images.githubusercontent.com/31770504/74189108-cfa9dd80-4c1d-11ea-9cfc-64d50e7f46df

[2020-02-10 21:05] JuanitaMiles commented on #326
emailed lauren for confirmation 2/10/20 4:05pm

[2020-02-10 21:19] calequin commented on #376
please test and if accepted promote

BldgAppDtl_CreateAppLogsDetail_AA

[2020-02-10 21:22] JuanitaMiles commented on #320
Please retest in test now that the reports test environment is setup.

[2020-02-10 21:22] calequin commented on #380
please test and if accepted promote

BldgAppDtl_CreateAppLogsDetail_AA

[2020-02-10 21:36] calequin commented on #376
please test and promote once accepted
PLN_AddTownReviewer_AAF

[2020-02-10 21:36] JuanitaMiles commented on #220
@MLWilkins @AReed327 Keep an eye on these now that the PDox upgrade has been completed. If theses plans are now approved and past the point of being able to go back and open. Monitor speeds of new projects moving forward and close this ticket if you are not having additional problems.

[2020-02-10 22:09] calequin commented on #281
added in test and prod

[2020-02-11 11:58] MLWilkins commented on #220
Closing ticket. Will reopen if improvement is not seen.

[2020-02-11 11:58] #220 closed

[2020-02-11 12:43] TheBobEnsor commented on #300
I'm assuming I need to wait until Friday after 12:pm and or Saturday to test, is there a way to change date in test?
Thought about it Sunday evening which was after 12:pm and it would only allow me to schedule Tuesday

[2020-02-11 13:35] pooldaddy commented on #359
Added all election districts to TEST
![image](https://user-images.githubusercontent.com/47391482/74241086-4d66fb00-4ca9-11ea-9ef8-ea252d5ab53c.png)

![image](https://user-images.githubusercontent.com/47391482/74241136-62dc2500-4ca9-11ea-89c2-d52b96ef4668.png)

[2020-02-11 14:43] ABonomo21 opened #383 "System Wide - Related Records Functionality on R4C"
Source:
Repository: dhenry-KCI/FredCo-Post-Go-Live-
Ticket #: 305
Requested By: Ashlye Bonomo
Jump to this repository

Request:
Need to restrict applicants from editing the related records that are displayed in R4C. They are currently able to add and delete permits which can cause problems. For now, related records have been turned off on the portal.

Received an Email from Mark Oliver 2.10.20- Th

[2020-02-11 15:24] ABonomo21 commented on #123
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2063
Requested By: Project Team
Jump to this repository

Request:
We will need to continue to monitor the clean up needed on parcels/addresses. This issue originally references duplicate addresses only, but this can be expanded to:

Water/Sewer details
Changes in Water/Sewer designation due to new/future development
Subdivision

[2020-02-11 15:31] ABonomo21 opened #384 "Trade License - Overall Trade License Review Needed"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2352
Requested By: Ashlye Bonomo
Jump to this repository

Request:
Would like to add a "resbumit" review option to the trade licence renewal review. as applicants may be missing information at renewal. Currently approved is the only option. Dan indicated that this was not the intended use for this review. Agree to re-evaluate af

[2020-02-11 15:32] ABonomo21 commented on #384
![image](https://user-images.githubusercontent.com/47611580/74251168-b8203280-4cb9-11ea-83c8-0d1c21b4a4b9.png)

![image](https://user-images.githubusercontent.com/47611580/74251190-c0786d80-4cb9-11ea-861f-fdbd3c46693a.png)

[2020-02-11 15:32] ABonomo21 commented on #384
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2347
Requested By: Ashlye Bonomo
Jump to this repository

Request:
We need to ensure the grace expiration dates on all licenses have migrated properly to IPS. In some cases the grace exp was populating the same as the expire date, while another issue was identified where the license went to awaiting renewal details even though i

[2020-02-11 15:32] ABonomo21 commented on #384
We need to move this one to current Github - Trade Licenses need work. I would like to have some time set up for Shannon, Abbie and I to meet with Dan when he is on site to walk through issues we have had on license renewals and new licenses.

[2020-02-11 15:33] ABonomo21 opened #385 "Project - Blanket - Missing "Items" on the Blanket Details Page"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2338
Requested By: Ashlye Bonomo
[Jump to this repository](https://github.com/kcigeospatial/Fred_Co_Land-Management/issues/2338)

Request:
The remaining blanket items that are missing in IPS11 needed new codes because they were over 10 characters. A spreadsheet was provided. Need to confirm these items have made it into IPS11 po

[2020-02-11 15:34] ABonomo21 opened #386 "CDR Common - Bond Class Type Cleanup"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2321
Requested By: Ashlye Bonomo
Jump to this repository

Request:
Would like to clean up the available Bond Class types. This needs to be done in the Code Definition Management as a business as usual task. Types would be expired, not deleted.

Ensure Planning and Building look through these types.
![image](https://user-images.g

[2020-02-11 15:36] ABonomo21 opened #387 "System Wide - Expiring Old Inspectors or Employee Records"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2180
Requested By: Ashlye Bonomo
Jump to this repository

Request:
Ticket originally addressed the need to expire old inspectors that are showing as available to assign and result inspections in IPS. (WSummer, JWilhelm).

This can be expanded to included any staff that does not work at the County any longer.

This should be move

[2020-02-11 15:37] ABonomo21 opened #388 "System Wide - Log Type Clean Up"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 995
Requested By: Ashlye Bonomo
[Jump to this repository](https://github.com/kcigeospatial/Fred_Co_Land-Management/issues/995)

Request:
Log types in IPS need to be cleaned up. Ashlye indicated a list was provided to County IIT to complete this task.

Due to changes in County IIT staff, we will need to confirm if this task was c

[2020-02-11 15:37] ABonomo21 opened #389 "System Wide - Expiring Hansen7 Milestones in IPS"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 1241
Requested By: Ashlye Bonomo
Jump to this repository

Request:
This ticket was created as a reminder to expire the old stage progression statuses/milestones from Hansen7 post go-live.

[2020-02-11 15:38] ABonomo21 opened #390 "Building Permits - Town Permits - Sending COC & COO Reports"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2098
Requested By: Ashlye Bonomo
Jump to this repository

Request:
Ensure that the correspondence sent for COCs or COOs that are in a town are only sent to the generic town email address. It should not send to the other applicants on the application.

need to have emily test

[2020-02-11 15:40] ABonomo21 commented on #163
retitle- Planning-school construction fees on in life projects did not update 1/1/20

[2020-02-11 15:40] ABonomo21 commented on #163
Source:
Repository: dhenry-KCI / FredCo-Post-Go-Live-
Ticket #: 163
Requested By: Mike Wilkins
Jump to this repository

Request:
This issue was originally created to address the school construction fees that did not update on in-life projects upon the fee increase on 1/1/20. However it appears the issue is larger, as Infor will need to complete the fee recalculation configuration for when fee sche

[2020-02-11 15:41] ABonomo21 commented on #163
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2294
Requested By: Ashlye Bonomo
Jump to this repository

Request:
Ticket initially created to correct impact fee budget codes, but then broadened to include ALL fees. Jeff Wisner worked on these and reported all fee budget codes should now be correct.

Need to confirm we have not identified any budget code issues post go-live.

[2020-02-11 15:42] ABonomo21 opened #391 "Planning - NID and VERIFY - Add Completeness Check Milestone"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2096
Requested By: Mike Wilkins, Ashley Reed
Jump to this repository

Request:
The Completeness Check/Intake Review milestone needs to be added to the workflow for the NID and VERIFY application types.

[2020-02-11 15:45] ABonomo21 opened #392 "Building Permits - New As-Built AP Type for PDox"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2288
Requested By: Ashlye Bonomo
Jump to this repository

Request:
We would like to have this as a future phase that once a SWM permit reach guarantee release inspection and the as built submission is required, we would like to have an a/p type created for as built that will be routed and reviewed through project dox with GIS /

[2020-02-11 15:46] ABonomo21 commented on #392
reference # 38 and # 11 from Juanita's repository.

[2020-02-11 15:47] ABonomo21 opened #393 "R4C - Ensure Service Requests and Cases Are Not Public / Anonymous Requests"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2239 & 2326
Requested By: Ashlye Bonomo / Mike Wilkins
2239 - Jump to this repository
2326 - Jump to this repository

Request:
Summarizing both tickets - We need to ensure all service requests and cases are not searchable/viewable to the public. The public should be able to submit an anonymous service request on the portal. Alte

[2020-02-11 16:37] JuanitaMiles commented on #388
The original list for cleanup may need to be provided again to Jeff W. Jeff please advise if you need the list and we can reach out to Ashlye to see if she still has it or if it needs to be recreated.

[2020-02-11 16:39] JuanitaMiles commented on #387
When old employees are expired, we need to ensure that the licenses they used up in IPS go back into the pool of available licenses. I don't know if this happens automatically or if they need their licenses manually removed.

[2020-02-11 16:47] JuanitaMiles commented on #386
Emily and Ashley Reed should review the lists of Bond Type and Classes below first to mark which ones they would like to keep.
[Bond_Types.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4186912/Bond_Types.xlsx)
[Bond_Classes.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4186916/Bond_Classes.xlsx)

[2020-02-11 16:52] JuanitaMiles commented on #385
Use the "New Code" column for the highlighted items to confirm if these have been updated and now show in the IPS system. Spreadsheet attached below.

[Blanket_Codes.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4186939/Blanket_Codes.xlsx)

[2020-02-11 17:03] JuanitaMiles commented on #233
closing this ticket. Ticket #384 has been opened requesting an overall meeting request to discuss trade licenses, what does work...what doesn't work, etc.

[2020-02-11 17:03] #233 closed

[2020-02-11 17:09] awhite806 commented on #367
We have another occurrence of this exact same issue. This customer submitted the resubmittal and it was not on our dashboard. And the customer was able to change the details page, when she should not have been able to since this permit was issued.
![image](https://user-images.githubusercontent.com/58981029/74260302-4818a900-4cc7-11ea-8072-6a805626b939.png)
![image](https://user-images.githubuserco

[2020-02-11 17:13] JuanitaMiles opened #394 "Planning - Update Application Status Check Names for R4C Display"
Rather than going the route of trying to change the product to allow the County to choose which status checks should display on R4C, we will try changing the description of the status check that shows on R4C to allow for more clarification to the applicant that the status checks are for internal county staff to complete.

Original ticket copied below for reference:
Source:
Repository: dhenry-KCI /

[2020-02-11 17:16] JuanitaMiles commented on #394
@MLWilkins @AReed327 Please determine what prefix you would like to add to your status check descriptions to tell the applicant the status check is for internal staff to complete. For example, "Internal Staff Only - All Reviews must be Resulted" Once this language is provided, we can assign to Jeff to complete.

[2020-02-11 17:22] calequin commented on #367
The applicant action detail page is editable throughout the life of the application in order to allow the applicant to address any changes to the application this way. They have two options when editing this detail page. Resubmit or Changes.
My suggestion is to add a label on the applicant action detail page as to have them select changes instead of Resubmit.
Also the electric permit details page

[2020-02-11 17:23] JuanitaMiles opened #395 "Building Permits - Capacity - Fee Needs to be Unexpired"
Jeff, please see below. We need to confirm that the fee mentioned below is no longer expired in the system.

Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2358
Requested By: Lauren Englar / Juanita Miles
Jump to this repository

Request:
Lauren E. reported that **RESIDENTIAL SEWER FEE 21400** is missing in IPS and needs to be made available with a value of **$7509.00**

Per

[2020-02-11 17:41] JuanitaMiles commented on #367
The RESSUB log is not appearing on the dashboard because this log is being added at the Inspections milestone. Along the lines of what Christian is saying above, the RESSUB log should only be used by an applicant when the county has resulted a review with "RESUBMIT". So this should only occur during the Completeness Check or Under Review milestones which is what the dashboard is looking for.

If a

[2020-02-11 17:43] JuanitaMiles commented on #245
Leaving both Dan and Christian assigned to this ticket so it can be worked on during notification redesign efforts.

[2020-02-11 17:48] emilypearl1 commented on #386
Emily needs the following Bond Types:
[Bond Type.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4187227/Bond.Type.pdf)

For Bond Classes-  I would like to clean these up at a later time- we currently have bonds that are being held within the Towns (slowly dwindling) so we are unable to get rid of the Town Classes until all the Town Bonds are at zero balance. **### Is this something

[2020-02-11 19:01] awhite806 opened #396 "Home Occupation for Daycare-Number of Children"
The box for Number of Children for a Home Daycare is not on the details page. We need to have this information for Home Daycares.
![image](https://user-images.githubusercontent.com/58981029/74266552-794aa680-4cd2-11ea-9d82-0f69ffc13aec.png)
![image](https://user-images.githubusercontent.com/58981029/74266644-a13a0a00-4cd2-11ea-9af1-2df88afeb026.png)

[2020-02-11 19:33] awhite806 opened #397 "Non Res- New Tenant No Change-Building fee did not generate"
The minimum building fee ($49)for a New Tenant No Change permit did not generate. The only time it should not generate for this type of permit is if it is an EXP walkthough. This permit has the priority code of P2 and should have the building fee.
![image](https://user-images.githubusercontent.com/58981029/74271444-e82bfd80-4cda-11ea-90f7-036fdc6a0881.png)
![image](https://user-images.githubuserco

[2020-02-11 19:58] mlibbey131 opened #398 "Revision Fee Generating when Health Department Results as Resubmit"
Health Department resulted their review as a resubmit. They were the only agency to result their review as a resubmit and the $27.00 Revision fee generated. A revision fee should not generate if the Health Department is the only department to result their review as a resubmit. Permit# 260669

![260669](https://user-images.githubusercontent.com/58980189/74273490-8ec5cd80-4cde-11ea-8595-2c6356f03689

[2020-02-11 20:19] ABonomo21 commented on #192
Re-opening ticket-

Need clarification on when the 11 month run and for what days? a week.. one month etc?
What logs are being generated? no logs are generating on building permits.
How often are they set to send? - should send one time
Same question for expired noticed.
Is this supposed to be working for grading? see permit log for a/p 68005

[2020-02-11 20:31] calequin commented on #396
Added numerical field to detail page in test. Once tested and approved please promote the following:
Module: Use
Ap Type: Homeoccupation
Detail Page: Home occupancy Intake Details
Add edit box - If Home Daycare # of children
Show in portal = True
Bind to = NOCHILD
save and generate  to rhythm prod
InforClient.AgencyCDR.UseApplet.HomeOccupancyIntakeDetails

[2020-02-12 03:58] JuanitaMiles commented on #384
Will request Dustin to setup a meeting for us to kick off work on this ticket.

[2020-02-12 12:07] emilypearl1 opened #399 "Grading Expired Notices- Added by Batch Manager"
The expired grading notices are being added by the batch manager every day at the same time on permits.
Example: 189095
![image](https://user-images.githubusercontent.com/58855801/74333489-0985fb80-4d66-11ea-8f43-4177406d961a.png)

Also: 68005
![image](https://user-images.githubusercontent.com/58855801/74333585-376b4000-4d66-11ea-9868-f98e4d4342c3.png)

Are these notifications being sent out??

[2020-02-12 13:02] emilypearl1 commented on #371
Closing ticket

[2020-02-12 13:02] #371 closed

[2020-02-12 14:44] TaraF commented on #349
@ABonomo21 - the update was made as requested above.  This is a global update, so please test APNO 264494 and other plumbing permits to make sure this is the desired effect.

264494 is only available in Prod, so this update was made for Prod and Test environments.

Ready for re-test.

[2020-02-12 14:55] TaraF commented on #329
@AReed327  - ready for re-test - this was deployed to both Prod and Test (because it happened prior to the test move).

[2020-02-12 14:55] JuanitaMiles commented on #399
Christian, this may be connected to Dan's work on extensions and expirations. Please confirm, and assign to Dan if it is.

[2020-02-12 16:23] calequin commented on #398
Fixed in test. Please promote once accepted
Formula: BLDG_PWDRNoRevisionFee_AOC

[2020-02-12 17:14] ABonomo21 commented on #398
tested on 261959

[2020-02-12 17:18] ABonomo21 commented on #396
![image](https://user-images.githubusercontent.com/47611580/74359690-b7f36600-4d91-11ea-943a-1436cc7456cb.png)

[2020-02-12 17:20] ABonomo21 commented on #382
tested 263285

[2020-02-12 17:20] ABonomo21 commented on #382
![image](https://user-images.githubusercontent.com/47611580/74359862-07d22d00-4d92-11ea-8c03-e428643aa50f.png)

[2020-02-12 17:21] ABonomo21 commented on #381
tested 263344 did not bypass the condition

[2020-02-12 17:23] ABonomo21 commented on #380
tested on 263317 did not generate the intake details to the grading details

[2020-02-12 17:27] ABonomo21 commented on #372
maddison just checked in production for me and she was still able to edit while in the completeness check -

she was using a/p # 264772 in production

[2020-02-12 17:31] ABonomo21 commented on #372
also she was able to edit on 264575

[2020-02-12 17:36] JuanitaMiles commented on #105
@megisys the configuration of correspondence around a date/time needs infor support. Based on the information Ashley has provided above, please configure the following:

**Report:** Planning - Pending Reviews by staff
**Requirement:** Automatically email the report to Mike WIlkins and Ashley Reed every Monday morning at 7am.

[2020-02-12 17:37] calequin commented on #399
need to promote once approved
Formula
BP_ExtensionRequest_AA

[2020-02-12 17:38] ABonomo21 commented on #110
tested on 263345 worked - duplicated from a current production permit 264800 which did not work to confirm that this was an accurate test!

[2020-02-12 17:40] calequin commented on #399
once formula BP_ExtensionRequest_AA is promoted need to add Batch_BP_Expiration_BCT back to the batch manager job = Expire Building Permits in PROD

[2020-02-12 18:01] calequin commented on #372
Hello,
Which detail page was she able to edit. Can she provide a screenshot? From the configuration stand point all of the detail pages are locked in the correct milestone

[2020-02-12 18:33] AReed327 opened #400 "Planning - BOE Reviewer on PWCONSTRUC in PDOX"
Project Number - PW257666
Observed behavior - BOE will not add to PWCONSTRUC
Expected behavior - Need to be able to add BOE as a reviewer on PWCONSTRUC. Unclear if this is IPS or PDOX causing the issue.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/74365465-29d0ad00-4d9c-11ea-8ffd-e4f6d10dbfc6.png)

[2020-02-12 18:42] awhite806 opened #401 "Professional ID Box needs to be Editable"
The Professional ID box needs to be editable so we can update the correct license number to the contact.
![image](https://user-images.githubusercontent.com/58981029/74362309-787b4880-4d96-11ea-945e-b71954a5ba82.png)

[2020-02-12 18:58] ABonomo21 opened #402 "Instructions Menu on Current applications"
Can we make it so when you open a permit in the dashboard that the instructions page populates on those permits?

![image](https://user-images.githubusercontent.com/47611580/74366942-fe9b8d00-4d9e-11ea-9407-75d7f13dacf9.png)

We are utilizing many of those instruction pages to provide direction to applicants on the a/p's that spawn and move right to the awaiting applicant resubmit  milestone such

[2020-02-12 19:01] ABonomo21 commented on #372
@JuanitaMiles @calequin Can we get on a Webex with Maddison ?

[2020-02-12 19:02] ABonomo21 commented on #372
MGraham@ramcopermits.com

[2020-02-12 19:05] emilypearl1 commented on #106
Re- opening Ticket- would like to make changes to the wording of the 11 Month Grading and Expired  Grading Permit notices

11 Month Notice:
![image](https://user-images.githubusercontent.com/58855801/74367683-47a01100-4da0-11ea-8c10-85b3c2cbc59d.png)

Expired Notice (2nd Notice):
![image](https://user-images.githubusercontent.com/58855801/74367752-64d4df80-4da0-11ea-8498-c0235aca6412.png)

Change

[2020-02-12 19:08] ABonomo21 commented on #320
tested 263280 - added placard- retest failed
![image](https://user-images.githubusercontent.com/47611580/74368178-1d028800-4da1-11ea-81ef-e880cb8e35e6.png)
![image](https://user-images.githubusercontent.com/47611580/74368216-2e4b9480-4da1-11ea-983f-faf0a9736bc3.png)

[2020-02-12 19:11] ABonomo21 commented on #281
![image](https://user-images.githubusercontent.com/47611580/74368350-75d22080-4da1-11ea-9419-0f09797c4438.png)

[2020-02-12 19:14] ABonomo21 commented on #372
Christian- Just reach out to maddison when you are free, her email is listed above and her phone number is 301.676.8622. She is happy to jump on a quick webex to show you all the places she can edit.

I spoke to Juanita so she knows what is going on as well. :)

[2020-02-12 19:14] calequin commented on #400
BOE was not a review type under PWCONSTRUC. I have added it as a available review and also added it to the ProjectDoxReviews in code definition management.
Live in PROD and Test

[2020-02-12 19:23] ABonomo21 commented on #300
I will get into test this weekend and try to schedule an inspection.,

[2020-02-12 19:32] ABonomo21 commented on #342
looks fixed
![image](https://user-images.githubusercontent.com/47611580/74370052-70c2a080-4da4-11ea-8270-4ba127fa72ed.png)

[2020-02-12 19:38] AReed327 commented on #400
It worked:)

[2020-02-12 19:38] #400 closed

[2020-02-12 19:42] calequin commented on #402
Ashlye, capacity doesnt have any instructions therefore it is not displaying the instructions tab. The instructions are always minimized because of the rendering of the page. Unfortunately the product does not support an options of always  making it display as open instead of minimize

Also the log type were strictly in test and not in prod. I have disabled them in test just in case.

![image](htt

[2020-02-12 19:44] AReed327 opened #403 "PLANNING - PDOX - Pushing due dates to IPS when review is added after assign reviewers task"
Project Number - PW257666  (I believe this is solely a PDOX issue based on other due date discussions)
Observed behavior - Review did not transfer from PDOX to IPS when review is added after initial assign reviewers task through the Workflow Review Assignment Manager.
Expected behavior - When reviews are added through this method, the due date should be sent to PDOX. The historic added review in t

[2020-02-12 19:59] AReed327 opened #404 "PLANNING - adjusting due date - insufficient access"
Trying to change BOE due date because it didn't transfer from PDOX. I need access to view this review

![image](https://user-images.githubusercontent.com/58854333/74372164-33f8a880-4da8-11ea-9833-65793062f78b.png)
![image](https://user-images.githubusercontent.com/58854333/74372240-5094e080-4da8-11ea-98d2-29480268cbbd.png)

[2020-02-12 20:04] JuanitaMiles commented on #404
Updated access control on the Super User role. Log out and back in and try again.

[2020-02-12 20:17] MLWilkins commented on #391
@calequin can you explain upcoming release? This is already a function in other AP types. We were talked out of having this on these AP types during development but since go live we discovered we need this.

[2020-02-12 20:33] calequin commented on #401
Hi Abbie, the professional cannot be edited and the system doesnt allow it to be an editable field because of the history against it. Instead the relationship can be expired from the old contact and associated to the current license holder in order for this company to be a valid license holder. This is a bit messy because of the legacy (h7) data that had these professional ID's created. A bigger d

[2020-02-12 20:35] calequin commented on #391
Hi Mike, it was added as Enhancement since the current configuration is not in the system. I plan on creating the configuration within the next day as have is a test ready for approval.

[2020-02-12 20:35] calequin commented on #391
The label is a bit misleading my aplogies

[2020-02-12 20:38] AReed327 commented on #404
it worked. Closing ticket.

[2020-02-12 20:38] #404 closed

[2020-02-12 20:38] MLWilkins commented on #394
@calequin is there a way to get a list of all the status checks for each planning AP type? Otherwise we will need to create on of each AP type and monitor the status checks that are showing in the portal. Just wondering if there is a faster way.

[2020-02-12 20:43] ABonomo21 commented on #402
Got it :)

[2020-02-12 20:43] #402 closed

[2020-02-12 20:45] ABonomo21 commented on #401
Can we set up a 30 min with Christian or Dan to discuss this and what impacts it is having on our contact records.. @JuanitaMiles

[2020-02-12 20:47] calequin commented on #381
tested on 263347
once approved please promote GRADING_ParentCondition3_SCF

[2020-02-12 20:59] calequin commented on #394
@MLWilkins I can provide an excel sheet with the status checks listed via a sql database search. This should give you a nicer look on what status check we have. The pain comes with actually updating the verbiage. The update would require us to go into each of those in the application type workflow and update them per milestone. I can provide the sheet within the next day or so.

[2020-02-12 21:03] MLWilkins commented on #394
Thank you Christian! That will be a big help!

[2020-02-12 23:03] JuanitaMiles commented on #403
Emailed Robert about this on 2/12

[2020-02-12 23:18] JuanitaMiles opened #405 "System Wide - Notification Redesign Task"
Creating a general ticket assigned to Dan as a placeholder for the notification redesign task. For tracking purposes.

[2020-02-13 12:59] ABonomo21 commented on #349
checked in prod

[2020-02-13 12:59] #349 closed

[2020-02-13 13:22] MLWilkins commented on #376
retest failed.

![image](https://user-images.githubusercontent.com/50637067/74439309-03614f00-4e3a-11ea-8932-fe56fd895fd1.png)

[2020-02-13 13:30] ABonomo21 commented on #367
Please add the following language to the applicant actions to help clarify change log vs. resubmission

Resubmission Log - Please use the Re-submission option if the application is **not** an **Issued permit** and you are responding to comments either under the "awaiting applicant resubmit" or "awaiting applicant revision" milestones.

Change Log- Please use the Change option if your permit **is**

[2020-02-13 13:36] MLWilkins commented on #329
fixed in test and prod.

test
![image](https://user-images.githubusercontent.com/50637067/74440296-c1d1a380-4e3b-11ea-8f8b-47c4938ba13a.png)

Prod
![image](https://user-images.githubusercontent.com/50637067/74440386-ec236100-4e3b-11ea-86bd-fa5f6f02a03f.png)

[2020-02-13 13:36] #329 closed

[2020-02-13 14:23] JuanitaMiles commented on #320
@calequin Please look into the formula Dan implemented in the thread above to try to understand why this item is not working properly. Tara has already confirmed that the test environment for reports has been setup.

[2020-02-13 14:32] TheBobEnsor commented on #323
I would like all violation downloaded, however that may lead to long load time due to the fact that fire violations are in the 1200 count range
I think we need to look at moving OLS out of fire and into their own violation data base?
??

[2020-02-13 15:02] mlibbey131 opened #406 "Error Generating when Starting Case from Service Request"
When Kathy is trying to create a case from a service request she receives his error. When Ashlye and I tried to replicate the issues we were able to create the case. Can we check to see if this is a permissions issue for Kathy Evans

Service request 1729; Case created was 257686.

![Case# 1729](https://user-images.githubusercontent.com/58980189/74447360-3a8a2d00-4e47-11ea-8eac-613d66a880aa.jpg)

[2020-02-13 15:23] calequin commented on #372
Spoke to Maddison. The detail pages were locked but she was referring to the information such as work type, job description etc. This has been locked down in Prod and Test as of 2/12 evening

[2020-02-13 15:45] calequin commented on #367
added to test detail page for applicant actions
![image](https://user-images.githubusercontent.com/47603568/74451681-9eabf180-4e45-11ea-8e78-0030620c3637.png)

[2020-02-13 15:59] calequin commented on #192
Hi Ashlye, answers to your questions below
Need clarification on when the 11 month run and for what days? a week.. one month etc?

What logs are being generated? no logs are generating on building permits.

How often are they set to send? - should send one time

Same question for expired noticed.

 Is this supposed to be working for grading? see permit log for a/p 68005

[2020-02-13 16:03] JuanitaMiles commented on #406
Added customer service license to Kathy's user. She'll need to log out and back in to Production and try again.

[2020-02-13 16:13] calequin commented on #376
@MLWilkins there seems to be an issue with that parcel. I see 15339454 listed as Township code 00 which is frederick county but the parcel details show it as water type Town. Can you try with a different parcel and @JuanitaMiles can GIS look into this one 15339454.

[2020-02-13 16:18] JuanitaMiles commented on #376
Per County Procedure - Mike or Ashley will need to create a ticket through the GIS ticketing system if the Township or Water/Sewer is incorrect so GIS can update.

[2020-02-13 16:19] MLWilkins commented on #376
this one in Thurmont worked.

![image](https://user-images.githubusercontent.com/50637067/74454853-7f679100-4e52-11ea-9d07-638b0d9239c1.png)

Also tested one for Walkersville and it worked too.

![image](https://user-images.githubusercontent.com/50637067/74455009-b8a00100-4e52-11ea-9a08-b6e9c7b89fb4.png)

[2020-02-13 16:23] JuanitaMiles commented on #325
[Inspections to generate.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4199449/Inspections.to.generate.xlsx)

![image](https://user-images.githubusercontent.com/31770504/74455357-3106c200-4e53-11ea-9cf4-45a5882e6df0.png)

[2020-02-13 16:59] awhite806 commented on #186
RE-OPENING- PERMIT #258340 was stuck in pending issuance with the hold of "capacity permit must be related and completed." the capacity permit needs to be issued not completed for the building permit to issue.
![image](https://user-images.githubusercontent.com/58981029/74458820-429e9880-4e58-11ea-9fa8-7bd03bb88786.png)
![image](https://user-images.githubusercontent.com/58981029/74458828-45998900-4

[2020-02-13 17:01] calequin commented on #380
i created application 263348 from start application and it worked. Was permit 263317 created via a group add or under start application?

[2020-02-13 17:03] awhite806 commented on #12
RE-OPENING- PERMIT 264855- permit property is on well/septic and the health review fee did not generate.
![Annotation 2020-02-13 HEALTH FEE](https://user-images.githubusercontent.com/58981029/74459177-dec89f80-4e58-11ea-9957-a977a81750e1.png)

[2020-02-13 17:11] awhite806 commented on #21
RE-OPENING- PERMIT 264856- Health review generated but did not automatically assign to Karen Amoss like it should

![1](https://user-images.githubusercontent.com/58981029/74459856-fce2cf80-4e59-11ea-910f-38e63261211d.jpg)

[2020-02-13 17:40] calequin commented on #12
hello the township code on this parcel is 02 therefore the fee did not add. The fee is only adding if township code is 00 and on well and septic. Do we need to allow other township codes?

[2020-02-13 17:49] JuanitaMiles commented on #397
reassigning to christian since Jeff is on vacation.

[2020-02-13 17:51] JuanitaMiles commented on #401
Meeting scheduled for 2/14 9:30am for discussion. Assigning to Ashlye and Christian to notate any outcomes of the meeting.

[2020-02-13 18:59] calequin commented on #397
Fixed in test. once approved please promote
NONRESBLDG_Fee_BLDGMinimum_AOC

[2020-02-13 19:26] calequin commented on #394
email sent with excel document to @MLWilkins  and @AReed327 . Once updated please relabel it back to myself or @JuanitaMiles  for promotion

[2020-02-13 19:32] JuanitaMiles commented on #394
[Frederick County Mileston Status Check_Planning.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4200593/Frederick.County.Mileston.Status.Check_Planning.xlsx)

[2020-02-13 19:33] TaraF commented on #106
Assigned, in progress.

[2020-02-13 20:25] TaraF opened #407 "New report request - variation of MDE Quarterly for ECS"
@pooldaddy - Jeff W:

This request is from Eric Dodson, they need another version of the MDE Quarterly report they can run in excel (just make the report, and deploy it as SSRS instead of PDF) - but it needs to be in the format of the attached PDF:
[6.4.2_2019_10.01.2019-12.31.2019_EDodson.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4200798/6.4.2_2019_10.01.2019-12.31.2019_EDods

[2020-02-13 20:30] calequin commented on #186
please test and once accepted promote
BP_CAPACITYPermitRelated_SCF

[2020-02-13 20:46] JuanitaMiles opened #408 "Building Permits - Review of Under Review/Applicant Revisions Between IPS & PDox Needed"
We need a session to review the communication between IPS and ProjectDox when the application goes through the Awaiting Applicant Revisions milestone.

Ashlye B. noted some issues where applications were requiring R4C Applicant Actions and PDox Applicant Resubmit tasks to be completed before progressing forward.

[2020-02-13 21:08] TaraF opened #409 "Reports - Email items - tracking"
@JuanitaMiles  - here is the breakdown of outstanding email requests:

1) Eric Dodson:
   - ECS - Inspection's Completed By Date Range - determine why inspections aren't showing and fix.  status: in progress.
   - ECS - Inspector's Active Sites - need to remove all voids and expired when finalized.   status: in progress.
   - ECS - MDE Quarterly Report - needs a different output for excel.  status

[2020-02-14 11:44] MLWilkins opened #410 "Planning-IPS not sending resubmit notification at intake review on Verification Letters-also not sending fee notification"
When resulting a intake review as "resubmit" the notification to the applicant stating more information is required is not sending.  Had a customer waiting three weeks on multiple verification letter APs not knowing they needed to do anything else.

FYI, this notification is working on Site, Plat, and PWCons.

![image](https://user-images.githubusercontent.com/50637067/74527494-d83b3600-4ef3-11ea-

[2020-02-14 13:40] AReed327 opened #411 "Planning - Bond Lookup - Formatting issue"
Project Number - All bonds I have accessed so far today 3306, 3307, 3761, 3764
Observed behavior - Blue Box around comments is covering the add and edit options in bond tracking details
Expected behavior - Blue Box should not cover the fields below it.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/74536203-931fff80-4f05-11ea-96a6-3b36bf8e2885.png)

[2020-02-14 15:00] ABonomo21 commented on #372
confirmed fixed ab

[2020-02-14 15:00] #372 closed

[2020-02-14 15:40] MLWilkins commented on #391
Please assign to MLWilkins and AREED when ready for testing.

[2020-02-14 16:07] calequin commented on #411
fixed in prod and test.

[2020-02-14 16:16] awhite806 opened #412 "Priority Codes for Use Permits"
Priority Code is not required for processing the reviews – L257944  The following is what comes up when you open priority on land use temp outdoor activity applications.
Reviews are defaulting to 1 week due date.

Ashlye would prefer to use the priority codes but at a minimum the review for landuse needs to be 2 weeks !
![11](https://user-images.githubusercontent.com/58981029/74548220-71ca0e00-4f1

[2020-02-14 16:24] calequin commented on #401
meeting rescheduled for 2/18

[2020-02-14 16:47] calequin commented on #412
do we need to create workflow for the same priority codes as building or just set the normal due dates to reflect as 2 weeks by default?

[2020-02-14 17:52] TaraF commented on #205
Update:   I am working with Infor on business object information since there isn't documentation available on it.  Once I have a resolution,  I will update the thread.

Related to the differences between objects for NonResidentialDetails and NonResIntake business objects, since the code needs to account for both.

![image](https://user-images.githubusercontent.com/4104464/74555031-d5a70380-4f28-11

[2020-02-14 19:52] TaraF commented on #205
@emilypearl1, @ABonomo21  - ready for re-test in Test.  I have checked every scenario I am aware of, including the ones you noticed above, and all should be corrected.  There are many cases, so please let me know if you see something not showing correctly.

[2020-02-14 19:55] emilypearl1 opened #413 "BOB Button Sending Out Notifications?"
We dont believe that the "BOB" Button is sending out notifications?

263132
263333
257809

Bob had an electrician tell him he didnt know he had an inspection. Bob hit the "Bob" button in the morning. The electrican realized he had an inspection  when he received his failed inspection notification.

[2020-02-16 15:09] calequin commented on #256
promoted on 2.16.2020

[2020-02-16 15:09] #256 closed

[2020-02-16 15:09] calequin commented on #281
promoted on 2.16.2020

[2020-02-16 15:09] #281 closed

[2020-02-16 15:11] calequin commented on #324
promoted on 2.16.2020

[2020-02-16 15:11] #324 closed

[2020-02-16 15:12] calequin commented on #342
promoted on 2.16.2020

[2020-02-16 15:12] #342 closed

[2020-02-16 15:14] calequin commented on #346
promoted on 2.16.2020

[2020-02-16 15:14] #346 closed

[2020-02-16 15:16] calequin commented on #376
promoted on 2.16.2020

[2020-02-16 15:18] calequin commented on #398
promoted on 2.16.2020

[2020-02-16 15:18] #398 closed

[2020-02-16 15:21] calequin commented on #359
PROMOTED ON 2.16.2020

[2020-02-16 15:21] #359 closed

[2020-02-16 15:25] calequin commented on #381
PROMOTED ON 2.16.2020

[2020-02-16 15:31] calequin commented on #382
PROMOTED ON 2.16.2020

[2020-02-16 15:31] #382 closed

[2020-02-16 15:36] calequin commented on #396
PROMOTED ON 2.16.2020

[2020-02-16 15:36] #396 closed

[2020-02-16 16:03] calequin commented on #110
promoted on 2.16.2020

[2020-02-16 16:19] TheBobEnsor commented on #300
In Test R4C on Sunday morning at 10:46 (before Noon) and requested inspection for permit 259370 for Monday Am and it allowed me to make the request.  Then verified in Test IPS
**Anything after Noon on any giving business day should be forced to two business days out**

[2020-02-17 12:32] ABonomo21 commented on #300
@3:52pm sunday I was not able to schedule for Monday – but when I tried to schedule for Tuesday on Sunday I got this error….
![image](https://user-images.githubusercontent.com/47611580/74654148-a88c6800-5157-11ea-9e6b-6ccbad8acbfa.png)

[2020-02-17 12:37] ABonomo21 opened #414 "Missing Official Issuance"
Missing the official issuance documents for ResUse and Demo permits.

Called Tara this morning.

[2020-02-17 12:58] TaraF commented on #414
This was an error in code - I fixed in Test.  Needs to be promoted to PROD asap.

The formula for on demand report Building Permit - Official Issuance (Building Permit), Formula: AR_4

![image](https://user-images.githubusercontent.com/4104464/74655888-243be400-515b-11ea-9221-c73a8eb2e204.png)

![image](https://user-images.githubusercontent.com/4104464/74655927-36b61d80-515b-11ea-9f72-2ecf859e34ba

[2020-02-17 13:15] ABonomo21 opened #415 "Notification Issue"
![image](https://user-images.githubusercontent.com/47611580/74657106-87c71100-515d-11ea-8bea-5aa73c761779.png)

![image](https://user-images.githubusercontent.com/47611580/74657128-9281a600-515d-11ea-8ebe-3201a781bc7b.png)

Abbie received the notification for building permit 264545 log shows it did not go to the customer??

[2020-02-17 13:17] ABonomo21 commented on #414
Will the correspondence still work even if it is not available on demand for printing?

[2020-02-17 13:40] ABonomo21 commented on #307
processed a freestanding sign # 264830 and the building fee did not generate.

[2020-02-17 13:40] ABonomo21 commented on #307
had to manually add

[2020-02-17 13:51] ABonomo21 opened #416 "HOLD to CONDITIONS"
It was my understanding that when a P & I hold is placed on a permit that the condition will automatically generate. That has not been occurring and was hoping Dan can confirm functionality.

Holds are sending the correspondence.

@megisys @JuanitaMiles

[2020-02-17 13:52] awhite806 commented on #415
Another few...seems to be every permit processed this morning.
![image](https://user-images.githubusercontent.com/58981029/74659603-a1b72280-5162-11ea-81c2-5d1ab34b14fd.png)
![image](https://user-images.githubusercontent.com/58981029/74659624-af6ca800-5162-11ea-88a2-b9b9f94a9c55.png)
![image](https://user-images.githubusercontent.com/58981029/74659657-bbf10080-5162-11ea-9a53-a73c950fe790.png)

[2020-02-17 13:56] TaraF commented on #414
@ABonomo21  - yes, the only formula change was the on demand portion, totally separate from correspondence.

[2020-02-17 14:21] megisys commented on #415
Small Change. Hopefully didn't cause too much disruption.  Let me know if they are flowing again

[2020-02-17 14:23] megisys commented on #416
I need to know an AP Type. As it will likely be an Application with out theese conditions configured.

Christian can handle this. No need for me to get involved

[2020-02-17 14:24] megisys commented on #413
Notification issues this morning.. Let me know if this still occurs.

[2020-02-17 16:06] mlibbey131 opened #417 "Re-Inspection Fee did not generate"
Permit# 200623
Second footing inspection failed, Third footing inspection generated but no re-inspection fee generated. A $49.00 re-inspection fee should generate prior to being able to schedule the third inspection for each type of inspection.

![image](https://user-images.githubusercontent.com/58980189/74669498-388cda80-5175-11ea-9a9c-8a36babeea20.png)

![image](https://user-images.githubusercon

[2020-02-17 16:08] ABonomo21 opened #418 "ADU- Home builder requirement"
Permit 264984 for an ADU within an accessory structure had to be supervisory override for bypass the homebuilder license requirement- a HB license is only required on Standalone/separate accessory structures - this permit was requiring the HB license on a ADU marked for within an accessory structure which should not be the case
![image](https://user-images.githubusercontent.com/47611580/74669756-c

[2020-02-17 17:21] ABonomo21 opened #419 "DPZ review on grading permit"
We removed DPZ review from grading permits when related to a res SFD permit related to ticket #147  however, after a month of this, there have been a few issues that we found we need to make a change.

Similar to the Driveway permits and rules set up under ticket #193 - we need to have a DPZ review on all RESBLDG permits with and occupancy types of RESSFD when not within a major subdivision.

You

[2020-02-17 17:23] MLWilkins commented on #403
![image](https://user-images.githubusercontent.com/50637067/74674846-4005b100-5180-11ea-8d49-fc50222f93fd.png)

[2020-02-17 17:28] ABonomo21 opened #420 "Withdrawl Request on R4C dashboard"
We need the request a withdrawal turned back on - i just had an applicant call me and I see it is no longer an option on the portal

[2020-02-17 17:37] ABonomo21 opened #421 "Extension requests duplicating"
once we process an extension review - they are duplicating and should not
![image](https://user-images.githubusercontent.com/47611580/74675345-5e1fe100-5181-11ea-85f6-48dff703e972.png)

See example # 189470, 188767, 189645, 189926, 169042, 161003, 153047, 147609, 188378

[2020-02-17 17:38] ABonomo21 commented on #421
the detail page should clear once the review is resulted as tested and approved on previous ticket

[2020-02-17 17:52] emilypearl1 commented on #381
Reopening Ticket #264958  Status Check- All Conditions must be Resulted. Condition has been resulted.

![image](https://user-images.githubusercontent.com/58855801/74676507-27979580-5184-11ea-941b-95e722977dbc.png)

![image](https://user-images.githubusercontent.com/58855801/74676465-1d759700-5184-11ea-97c5-6e8d146faee3.png)

Going to supervisor override it to get it out of being stuck

[2020-02-17 18:37] awhite806 opened #422 "Applicant Actions page is unavailable to customers on R4C"
The Applicant Actions page is unavailable to customers for them to send in their resubmittals/change request even though the permit is in the milestone of Awaiting Applicant Revisions.
![image](https://user-images.githubusercontent.com/58981029/74678977-7f38ff80-518a-11ea-9783-6155d9b60290.png)
This is the screenshot our customer sent me. You can see the Applicant Actions page, but there is no opt

[2020-02-17 19:53] ABonomo21 opened #423 "R4C SUBMISSION CLEAN UP"
Please clean up the a/p name's on r4c some are capitalized and others are not.

[2020-02-18 12:40] MLWilkins opened #424 "PDox-batch stamp location"
One of the customer complaints Planning has received is the 4" x 4" area in the top left corner that must be left for our 2" x 2" batch stamp.  Can the batch stamp location be moved closer to the corner of the page?

![image](https://user-images.githubusercontent.com/50637067/74736968-dc33c480-5221-11ea-8bc5-f86cc5928c81.png)

[2020-02-18 12:47] AReed327 commented on #411
Verified Corrected - Already deployed to production. Closing ticket. AREED

[2020-02-18 12:50] emilypearl1 commented on #138
Permit 200023- issued prior to go live
The CertPot is not a condition on the permit.
![image](https://user-images.githubusercontent.com/58855801/74737614-32553780-5223-11ea-84d3-b53c4aee4ec6.png)

Adding condition.
Please confirm that this is correct for migrated permits?

[2020-02-18 12:50] MLWilkins opened #425 "R4C-need it to be more printer friendly"
One of the complaints we received from customers is that printing the project record from R4C is not ideal.  The only option is to right-click  and print the page, which results in 5-7 pages (or more as the project goes thought its life cycle).  Everything is very spaced out, which is why so many pages print out. Applicants noted they need to print out the fee details to show clients each fee that

[2020-02-18 13:04] AReed327 commented on #403
This worked in Test. PL258825. I added two different reviewers with different due dates after the initial assigning of reviewers. Ok to push to production. AReed

[2020-02-18 13:27] mlibbey131 opened #426 "Distributor License Process"
Ashlye needs to go over the process for Distributor Licenses with Dan.

License number DL10

[2020-02-18 13:32] JuanitaMiles commented on #426
will reach out to get a meeting setup between Dan/Christian and Ashlye.

[2020-02-18 13:34] ABonomo21 commented on #416
It is all a/p's for building and use

[2020-02-18 13:35] ABonomo21 commented on #412
we can just set the normal due date to reflect two weeks by default.

[2020-02-18 13:41] awhite806 commented on #414
we are still missing the official issuance for Res Use and Demos
![image](https://user-images.githubusercontent.com/58981029/74741234-6e3fcb00-522a-11ea-943b-e0553b6399e6.png)
![image](https://user-images.githubusercontent.com/58981029/74741275-81529b00-522a-11ea-8548-e31d68b311a2.png)

[2020-02-18 13:45] megisys commented on #426
Christian will handle this.

[2020-02-18 13:46] awhite806 commented on #415
This is still occurring as of 2/18/2020 730AM.
![image](https://user-images.githubusercontent.com/58981029/74741593-19508480-522b-11ea-96a0-0abfb2e816db.png)
![image](https://user-images.githubusercontent.com/58981029/74741626-29686400-522b-11ea-8c8f-e7acea86d7ca.png)

[2020-02-18 13:48] JuanitaMiles commented on #327
This is an issue again as of 2/18 8:26AM. Reported by Terry May, screenshot below.

![image](https://user-images.githubusercontent.com/31770504/74741787-6c2a3c00-522b-11ea-84de-9c506fd8c3ba.png)

[2020-02-18 13:49] awhite806 commented on #415
They're are also duplicate emails being sent. Some are going to customers but most are being sent to Permits Staff
![image](https://user-images.githubusercontent.com/58981029/74741762-65032e00-522b-11ea-8240-61721c443e0d.png)
![image](https://user-images.githubusercontent.com/58981029/74741809-78ae9480-522b-11ea-9fbf-9d5030c70f23.png)

[2020-02-18 13:56] JuanitaMiles commented on #327
Ticket 415 was created for this. closing as a duplicate.

[2020-02-18 13:56] #327 closed

[2020-02-18 13:57] JuanitaMiles commented on #415
![image](https://user-images.githubusercontent.com/31770504/74742491-b3fd9300-522c-11ea-90f9-9c0808e21e6e.png)

[2020-02-18 15:17] AReed327 opened #427 "Planning - Unable to upload attachment from R4C"
Project Number - V258800
Observed behavior - Applicant was unable to add attachment when project was returned to them to attach documentation
Expected behavior - When the applicant has a request for resubmit, they need to be able to attach documentation
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/74749166-bdd8c380-5237-11ea-9e13-bf1737637bba.png)
![image](https://user-

[2020-02-18 15:48] calequin commented on #422
Hi Abbie,
I believe that the person was looking up this record as opposed to being an actual applicant on this permit. When they look up an application as public they are not allowed to edit detail pages. If logged in the detail page will have the edit function available. I tried this by adding myself as an applicatn on an application that was NONRES 264678 in the Awaiting Applicant Revision miles

[2020-02-18 16:04] ABonomo21 commented on #381
261981- this needs to be addressed no the condition even tho it is marked yes will not progress the permit either....
![image](https://user-images.githubusercontent.com/47611580/74753572-4eb29d80-523e-11ea-8fb3-4fdeba4bb2a2.png)

![image](https://user-images.githubusercontent.com/47611580/74753631-65f18b00-523e-11ea-9469-b693010b7d32.png)

[2020-02-18 16:04] ABonomo21 commented on #381
@calequin

[2020-02-18 16:05] awhite806 opened #428 "Error when trying to result a completeness check"
permit 265020- there is an error when trying to result a completeness check.
![image](https://user-images.githubusercontent.com/58981029/74753758-96d1c000-523e-11ea-80ab-5067421b9c42.png)

[2020-02-18 16:10] AReed327 opened #429 "Planning - Fee notification did not send"
Project Number - PL258848
Observed behavior - No Fee notification went out.
Expected behavior - I expect fee notifications to be sent when the completeness check is resulted to eplans or internal review.
This plan has two completeness checks because the first one required more information. I do not know if that has anything to do with this.
Screenshot -

![image](https://user-images.githubusercont

[2020-02-18 16:53] megisys commented on #428
Formula needs to be updated to have .Applicant.Contact for the Erroring Formula

[2020-02-18 16:55] calequin commented on #417
the code looks at the first of this inspection type as a failed and then if the inspection is the third one of its kind it adds a reinspection fee. In this case the first inspection type of Footing was Passed and another footing was added and failed. The code would not be able to handle this type of logic since this looks to be a one off occurrence. In a case like this a reinspection fee should ma

[2020-02-18 17:10] calequin commented on #427
fixed StopUploadAfterCompletenessCheck and tested on SP258797. The formula will now allow to upload attachments whenever an application is under an "AWAITING" milestone.

If accepted please promote:
Formula Name: StopUploadAfterCompletenessCheck

[2020-02-18 17:47] MLWilkins commented on #427
test successful.  See V258828
Also tried to add attachment while under review and it did not allow me, which is correct.

[2020-02-18 17:55] ABonomo21 commented on #415
There is a error now in mobile when trying to result building finals for notifications as well @megisys @calequin
![image](https://user-images.githubusercontent.com/47611580/74763524-fbe0e200-524d-11ea-8d0e-c6de3d5bb724.png)

[2020-02-18 17:56] ABonomo21 commented on #415
Inspectors cannot result building finals in the field on mobile.

[2020-02-18 18:00] MLWilkins commented on #410
fee notifications are also not being sent on Verification letters

[2020-02-18 18:27] awhite806 opened #430 "Customer was unable to pay and then received email address is not accurate"
Our Customer tried to pay online for a permit and got the notice that the transaction failed. Then he received an email from TEST that the permit was issued. And he also informed us that his card has been charged.
![1](https://user-images.githubusercontent.com/58981029/74765861-48c6b780-5252-11ea-886f-a4cec942421f.jpg)
<img width="847" alt="2" src="https://user-images.githubusercontent.com/5898102

[2020-02-18 18:29] TaraF commented on #106
@emilypearl1  - the above text update has been made to both reports.  Please test in Test to confirm.

@JuanitaMiles  - once confirmed, this is just a report move from SSRS Test to Production - and can be assigned to Jeff W. or myself.

[2020-02-18 18:37] JuanitaMiles commented on #430
spoke with Christian, he is looking into this ticket now.

[2020-02-18 18:39] JuanitaMiles commented on #424
marking as an enhancement, low priority. I will compile a list of requests of this nature to send to Robert for his feedback this week.

[2020-02-18 18:41] megisys commented on #430
Email came from Production. The Address for web services was old. Actually been this way since Go Live.

[2020-02-18 18:50] MLWilkins commented on #386
Planning needs to keep APFO, CELL, and DRE as Bond Types.  Also recommend sharing the list with Vijay Kapoor and Eric Dodson to make sure they dont use some of these.
Based on above Planning will hold off on reviewing Bond Class

![image](https://user-images.githubusercontent.com/50637067/74767704-5a5d8e80-5255-11ea-8aa1-2cc62d54c539.png)

[2020-02-18 19:18] megisys commented on #429
Will need an outage tonight to address this

[2020-02-18 19:56] JuanitaMiles commented on #410
In regards to the fees due notification not sending...this may be related to old GitHub issue 1798. I believe there may have been an issue where notifications weren't sending for fees if the application was submitted through R4C but they would send if it was being processed completely back office, it looks like the potential outcome was to create a fees reminder notification but this old ticket wa

[2020-02-18 20:03] megisys commented on #428
BP_IssuePermitNotification - NEED to be Promoted
BP_FinalNotTown_AOC - Needs to be promoted

[2020-02-18 20:04] megisys commented on #429
Rebuild All Required.

[2020-02-18 20:08] megisys commented on #415
Addressed in other Ticket

[2020-02-18 20:18] ABonomo21 commented on #422
Christian the applicant actions detail page needs to be editable at any point in the project as an applicant can request changes at any time in the project.

[2020-02-18 20:20] calequin commented on #422
Yes this is currently set up to take in any changes at any milestone if the user is logged in to r4c. Public cannot request or edit detail pages at all

[2020-02-18 20:21] ABonomo21 commented on #417
We will add something in the SOP that lets staff know they need to make sure if there is a manual insert that the fee must be manually added.

[2020-02-18 20:30] ABonomo21 commented on #417
I have added something to the SOP however, i would still think in this case that the system should recognize the this is the third inspection of that type and would charge the fee. the only time is should disregard the fee is if one of those inspection types is canceled or waived.

Therefore, in this case it should have autogenerated the fee.

[2020-02-18 20:32] MLWilkins commented on #429
Need ability to verify fix. Please label ready for test after promotion.

[2020-02-18 20:34] ABonomo21 commented on #422
I confirmed with Maddison that it was available Thank you.

[2020-02-18 20:34] #422 closed

[2020-02-18 20:38] ABonomo21 commented on #380
new permits created 264977- grading details intake page completed in r4c - grading details did not generate automatically at intake review. IN PRODUCTION.

[2020-02-18 20:40] ABonomo21 commented on #12
the township code should not have an impact on this- it is based on the water/sewer type as well and septic.

[2020-02-18 20:42] ABonomo21 commented on #406
Thank you.

[2020-02-18 20:42] #406 closed

[2020-02-18 20:46] ABonomo21 commented on #367
Can you added the word log after resubmission and add the dash and it is good to go.
see bolded below.

**Resubmission Log -** Please use the Re-submission option if the application is not an Issued permit and you are responding to comments either under the "awaiting applicant resubmit" or "awaiting applicant revision" milestones.

Change Log- Please use the Change option if your permit is issued

[2020-02-18 20:48] ABonomo21 commented on #423
@JuanitaMiles is this something we can do ourselves in the application workflow ?

[2020-02-18 20:49] ABonomo21 commented on #420
Is this something we can do ourselves from the application workflow system setup selection? @JuanitaMiles

[2020-02-18 20:50] ABonomo21 commented on #418
FYI this is a ticket that would normally be a high priority however, it is rare we will get another one anytime soon so I had it as a medium- i will drop to low possibly something we can have IIT attempt.

[2020-02-18 20:54] MLWilkins commented on #410
We just need the standard fee notification to send on this ap type, same that is sent on all other AP types. I don’t think we need a different approach. Also need the “more infor is required” notification as noted above.

[2020-02-18 20:54] ABonomo21 commented on #412
is this something we can do ourselves as review times may change in the future- otherwise this is something we can probably wait for IIT to attempt- there are not many use permits processed at this point in the season.

[2020-02-18 20:54] ABonomo21 commented on #412
@JuanitaMiles FYI see above.

[2020-02-18 20:56] ABonomo21 commented on #413
No log showed up for notifications so we are not sure if it works. Is there a clear way for us to know if the notification sent? @megisys

[2020-02-18 21:03] JuanitaMiles commented on #423
Yes. It's something you can do as you have time. Practice in TEST before going into Prod if you need to. Would have given something like this to Jeff W. but he is currently out. We can give any additional ones to him once he comes back. Steps below:

1. Building Permits > Setup > Application Workflow
2. Expand Building Permits tree.
3. Right Click on the AP Type > Select 'Open Application Type'
4.

[2020-02-18 21:08] JuanitaMiles commented on #420
This is something I'm less knowledgeable about. If it can wait until Jeff W. comes back Christian can show him how to do it if it wasn't covered in their training. Otherwise, I would recommend Christian complete this task.

[2020-02-18 21:19] JuanitaMiles commented on #412
IIT can probably get some training on this then implement updated review windows in the future. Will leave for Jeff.

[2020-02-18 21:23] megisys commented on #417
But you passed the first instance..  What happens if you have 4 inspections and we have a pass then a fail and then a pass and then a fail. Code will charge for a reinspection fee as it counts 2 failed.. If there is a pass in the history. The code will not add a reinspection fee. This will require a large change and was not previously discovered and this will need to be an enhancment and scheduled

[2020-02-18 21:26] megisys commented on #419
Changing as it is not a bug and is net new discovery and a request that should be bundled

[2020-02-18 21:28] megisys commented on #416
Updating the Priority on this. Christian you will need to review that the conditions exist, are named consistently and they are working for all AP Types. As you are doing the testing of this ticket for all building and use application to see which are working. I would expect this to be 4 hours effort

[2020-02-18 21:41] MLWilkins commented on #429
confirmed that this fee notification is working in test. This ticket may be closed when promoted to prod.

![image](https://user-images.githubusercontent.com/50637067/74780359-710fdf80-526d-11ea-9075-07a0827bf1a4.png)

[2020-02-18 21:43] MLWilkins commented on #403
@calequin Robert said Avolve will be pushing this to their Prod environment after 4pm today.

[2020-02-18 22:22] JuanitaMiles commented on #401
@calequin or @ABonomo21 Please provide notes here on the outcomes/next steps of the Professional ID meeting.

[2020-02-18 23:03] JuanitaMiles commented on #123
Downgrading to a medium priority ticket. We know GIS is actively working on all tasks related to road details, subdivision, and address/parcel updates. We will continually reach out and request weekly status updates from the GIS team.

[2020-02-19 01:06] calequin commented on #403
@MLWilkins or @JuanitaMiles can you confirm this was promoted to pdox prod? Leaving open until confirmation

[2020-02-19 01:10] calequin commented on #414
promoted on 2.18.2020

[2020-02-19 01:10] #414 closed

[2020-02-19 01:11] calequin commented on #427
promoted on 2.18.2020

[2020-02-19 01:11] #427 closed

[2020-02-19 01:29] calequin commented on #429
promoted on 2.18.2020

[2020-02-19 01:29] #429 closed

[2020-02-19 01:32] calequin commented on #428
promoted on 2.18.2020

[2020-02-19 01:32] #428 closed

[2020-02-19 01:46] MLWilkins commented on #403
@calequin Robert sent an email at 6:30pm Confirming Due Date code has been moved from the TEST site to the PROD site.

[2020-02-19 01:50] calequin commented on #403
Promoted on 2.18.2020

[2020-02-19 01:50] #403 closed

[2020-02-19 12:14] ABonomo21 commented on #423
Thanks Done

[2020-02-19 12:14] #423 closed

[2020-02-19 12:15] ABonomo21 commented on #420
Sounds good I have assigned it to Jeff

[2020-02-19 12:17] ABonomo21 commented on #417
It does not matter if you pass the first two- it is charged not based on a fail it is charged based on the number of inspections for that type.

Regardless of a partial pass, pass or fail if it is the third inspection of that type or higher it needs to charge the fee.

[2020-02-19 12:26] megisys commented on #417
So 3 passes means a reinspection fee

[2020-02-19 12:33] ABonomo21 commented on #397
failed tested in test permit 263356

[2020-02-19 12:33] ABonomo21 commented on #397
![image](https://user-images.githubusercontent.com/47611580/74834827-2ed8b380-52ea-11ea-964e-f0311b3e4c45.png)

[2020-02-19 12:41] ABonomo21 commented on #205
Nonres 202617 -appears to be the only one that still failed
![image](https://user-images.githubusercontent.com/47611580/74834997-8545f200-52ea-11ea-9aa5-ac53d0983d23.png)

[2020-02-19 13:23] megisys commented on #413
Notification Log will now show up in Production. = Thanks

[2020-02-19 13:25] megisys commented on #405
#245  Needs to be actioned as well during this task

[2020-02-19 13:26] megisys commented on #245
Closing due to linkage to #405  - These are one piece - Will not be missed. Linked

[2020-02-19 13:34] emilypearl1 opened #431 "Grading Under Result Error Result"
Grading Permit #264993

intake Review- check status states "All conditions must be met":
![image](https://user-images.githubusercontent.com/58855801/74839018-8e3ac180-52f2-11ea-8fb6-7369b2f4db0c.png)

There are no conditions to meet:
![image](https://user-images.githubusercontent.com/58855801/74839047-a01c6480-52f2-11ea-928c-77cd207d3966.png)

We are unable to supervisor override  this is the erro

[2020-02-19 13:35] emilypearl1 commented on #431
per Juanita i have assigned to Christian and assigned a high priority.

[2020-02-19 13:41] JuanitaMiles commented on #431
Worked with Emily and confirmed she is doing everything correctly. These errors are holding up several of her permits, therefore labeling as a high priority.

[2020-02-19 13:50] JuanitaMiles commented on #367
Downgrading to medium priority for the last small language change.

[2020-02-19 14:10] megisys commented on #322
Issue is with Mary to test in test

[2020-02-19 14:18] megisys commented on #431
Someone removed the Occupancy Code.. This is a must. Please Add back and you will be fine. It is a required field during Intake

[2020-02-19 14:22] megisys commented on #431
You can supervisor override once occupancy is back..

GRADING_ParentCondition3_SCF Needs Line 1 changes to StateCheck = False

[2020-02-19 14:48] calequin commented on #381
TESTED ON 263348. Once tested and approved please promote
GRADING_ParentCondition4_SCF

[2020-02-19 14:54] calequin commented on #307
looks like this ticket was never promoted to Prod. Can we retes in TEST and verify if promotion is needed.

[2020-02-19 15:07] calequin commented on #307
Tested on 263357 once accepted please promote
SIGN_Building_Fee_AOC

[2020-02-19 15:52] calequin commented on #21
associated BP_APTypeAssignmentGroup with EH review in test and prod. Once tested please close

[2020-02-19 15:55] emilypearl1 commented on #106
Grading Permits- Expiration Notice - looks good in test- READY TO DEPLOY.
Grading Permits- Expiration Notice (2nd Letter)- have a few minor edits to the wording.

Please change to:
"In order to retroactively extend the permit, please log into your citizen portal account and complete the extension request detail page for this permit to submit for the extension of the referenced Grading permit. Upon

[2020-02-19 16:05] emilypearl1 commented on #381
Tested in test- Worked! please promote to PRODUCTION

[2020-02-19 16:30] emilypearl1 commented on #431
Conditions is ready for promotion to production (tested in test)

once the occupancy type was added in- it progressed correctly.

[2020-02-19 16:35] calequin commented on #12
removed township from this formula- Tested on 263339
once approved please promoted formula below
RESBLDG_Fee_HealthReview_AOC

[2020-02-19 16:42] calequin commented on #401
@JuanitaMiles staff will be instructed to not use professional ID's during a search since Pro ID's are actually license numbers associated with an individual. Instead they can search for the company name and make sure the relationship exists with the company. This is a data issue and needs to be cleaned up by county staff. County will need to expire the old contacts for the company and make sure o

[2020-02-19 16:46] calequin commented on #380
@ABonomo21 this was not promoted yet to production. Can this be tested in test please.

[2020-02-19 17:34] megisys commented on #322
PLease promote TESTERproperty - But please name AgencyCDR_RetainDetailPage_BUF

[2020-02-19 18:43] calequin commented on #397
sent email to Juanita to gather requirements on this. Need to know all possible scenarios on when this fee is added. Per formula there seems to be a bunch of different variables.

[2020-02-19 19:17] ABonomo21 commented on #397
FOR NON RES BLDG ONLY-

the minimum building fee should add when the construction type is equal to NOCHANG or OWNERCH except when the priority code is equal to EXP

the minimum building fee should also add on construction types of FOUN-SLAB and MINOR

[2020-02-19 20:01] calequin commented on #300
please test on weekend, if accepted please promote

BP_ScheduleInspection_BU

[2020-02-19 21:06] calequin commented on #323
reaching out to Rick M which level of effort and availability

[2020-02-19 21:35] JuanitaMiles commented on #326
Requested confirmation of fix from DUSWM twice and have received no response. Closing ticket. Fixes appear to be made in Prod so no migration is needed.

[2020-02-19 21:35] #326 closed

[2020-02-19 21:53] JuanitaMiles commented on #430
@ABonomo21 Ashlye please confirm there have been no additional email or payment issues reported by customers.

[2020-02-20 14:01] megisys commented on #412
I would just leave this as standard date entry against the review types in workflow

[2020-02-20 14:08] JuanitaMiles commented on #415
Ashlye reported that this is still a problem as of yesterday. Ashlye to send examples of this from yesterday to Christian.

[2020-02-20 15:19] TaraF commented on #106
Latest request assigned, in progress.

[2020-02-20 15:27] ABonomo21 commented on #430
none have been reported

[2020-02-20 15:28] ABonomo21 commented on #430
is the issue resolved

[2020-02-20 15:28] calequin commented on #415
Email sent out about notification ad hoc that allows staff to view which notifications went out and to whom.

Hi Team,
We created an adhoc report that can be added to your dashboard for notifications called Email Notifications and it is housed under the Common Group. This will give you a look into what notifications have been sent out, recipient, delivery result and record #. Please add this to yo

[2020-02-20 15:32] calequin commented on #430
yes looks like they are coming in correctly and completed
![image](https://user-images.githubusercontent.com/47603568/74949867-ee4d6880-53c3-11ea-902b-9fa6d30bdc7d.png)

[2020-02-20 15:48] #138 closed

[2020-02-20 16:38] ABonomo21 commented on #21
permit #260914 auto assigned to karen- closing tickets will monitor.

[2020-02-20 16:44] ABonomo21 opened #432 "Town Reviewer added when not in a town"
The town reviewer for Brunswick generated on permit 265180 when the property is not located in the town limits,

address is 6900 ENGLISH MUFFIN WAY SUITE M-P FREDERICK MD 21703
parcel is 01021524

town ship code is 00
![image](https://user-images.githubusercontent.com/47611580/74958039-60c74400-53d6-11ea-9cbe-bb4c2bd00841.png)

staff waived but this should not have occurred.

[2020-02-20 17:23] calequin commented on #367
fixed in test. Needs promotion to Prod once approved

Promote:
InforClient.AgencyCDR.BuildingApplet.ApplicantAct add two new labels and add verbiage above
regenerate detail page in Production R4C

[2020-02-20 18:06] ABonomo21 commented on #123
Changing to a high priority ticket- permit 265084 for 3014 Roderick road is missing the road attribute- had it been county road it would have generated the fee as required and did not.

[2020-02-20 18:08] ABonomo21 commented on #123
![image](https://user-images.githubusercontent.com/47611580/74964738-e997ad00-53e1-11ea-86f2-50eb09ef4e26.png)

@JuanitaMiles do we need to create a github ticket for Infor, the driveway permit spawned on it's own maybe the fee is coded different.

[2020-02-20 18:19] calequin commented on #397
added the above logic to nonres blfg minimum fee. tested on 263356 by jumping milestone
Please test and once approved promote formula below:
NONRESBLDG_Fee_BLDGMinimum_AOC

[2020-02-20 18:23] calequin commented on #432
the township code on this address is listed as 01 = Brunswick
![image](https://user-images.githubusercontent.com/47603568/74965975-d681de80-53db-11ea-95e7-1dce95ad9a34.png)

[2020-02-20 18:32] JuanitaMiles commented on #432
@calequin I believe the accurate township codes are held on the Parcel detail rather than the address. If you open the linked parcel to this address the Township code shows as 00.

![image](https://user-images.githubusercontent.com/31770504/74966623-64ae9280-53e5-11ea-89a6-873bdbe08e7c.png)

[2020-02-20 18:44] awhite806 commented on #314
reopening-Home Occupation hold letter is not showing the reviewer comments.
![image](https://user-images.githubusercontent.com/58981029/74967456-01256480-53e7-11ea-8448-983aee0b5e8e.png)
[Use Permit - Hold Letter.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4232442/Use.Permit.-.Hold.Letter.pdf)

[2020-02-20 19:16] ABonomo21 commented on #380
Tested from scratch started a resbldg permit in r4c , permit 263361, it spawned grading permit 263363. the grading permit automatically goes to awaiting applicant resubmit for the applicant to complete the grading intake details, which I completed and resubmitted back to the county. grading permit is in intake review and the grading intake details did not copy over to the grading details page like

[2020-02-20 19:17] ABonomo21 commented on #367
thank you, this will work. is there a way for us to update these details on our own in the future? @JuanitaMiles

[2020-02-20 19:21] calequin commented on #410
Hi Team,
Spoke to Dan about this ticket. This goes hand in hand with the completeness check enhancement for VERIFY ap types. This was configured in a different workflow because of the pay for service nature of these AP types. Constituents apply online, pay the fees, county verifies the letter and application closes. The Review portion was not designed to send out notifications like the other AP ty

[2020-02-20 19:31] ABonomo21 commented on #186
tested 263366 and it worked thanks

[2020-02-20 19:34] MLWilkins commented on #410
@calequin  every application type should have been configured to send a notification when the review is resulted as "resubmit".  We never discussed, or agreed, that Verification letters would not send out this type of notification.  If you look at Ticket 1798 that Juanita provided a link to in her comment above, you can see that this notification was created before go live.

[2020-02-20 19:36] MLWilkins commented on #391
marking this as a High Priority because customers are submitting the wrong work types under Verification and therefore paying the wrong fees.

[2020-02-20 19:39] MLWilkins commented on #410
see below.  The fee notification was created and working in September 2019

![image](https://user-images.githubusercontent.com/50637067/74971713-895b3800-53ee-11ea-8c56-a74272ac70e0.png)

It worked for a day then it was broken.  Dan was to fix it.

![image](https://user-images.githubusercontent.com/50637067/74971832-b7d91300-53ee-11ea-91aa-8b6374a07c58.png)

[2020-02-20 19:41] awhite806 opened #433 "Expired Licenses showing on Plumbing permits."
similar to issue #349   This contact has two expired licenses and they are both marked as inactive, yet they are still printing on the official issuance when they shouldn't. I highlighted the incorrect licenses on the official issuance. it even shows the expiration date on them
![image](https://user-images.githubusercontent.com/58981029/74971769-a0018f00-53ee-11ea-8572-3b113be3012d.png)
[265202 of

[2020-02-20 19:42] ABonomo21 commented on #421
@JuanitaMiles  can we make this a high priority to ensure it is done by the end of the week?

[2020-02-20 19:43] TheBobEnsor opened #434 "Mobile locking up when looking at building permit details"
[When I click on Building Details.docx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4232684/When.I.click.on.Building.Details.docx)

[2020-02-20 19:44] #430 closed

[2020-02-20 19:54] calequin commented on #432
@JuanitaMiles GIS will need to make sure that parcel township and address township codes are matching. Building permits workflows rely heavily on the address field and changing it to the parcel will require a mass amount of rework.

[2020-02-20 20:00] TheBobEnsor commented on #434
[When I click on Building Details.docx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4232750/When.I.click.on.Building.Details.docx)
Ashlye says, I need more descriptions with each screen shot :)

[2020-02-20 20:00] TheBobEnsor commented on #434
Closed in error
Sorry

[2020-02-20 20:54] awhite806 commented on #297
REOPENING-This issue has not been resolved. permit  265223 has the homeowner with the license on his contact and the permit still will not progress stating it needs a license.
![1](https://user-images.githubusercontent.com/58981029/74977587-f96ebb80-53f8-11ea-8018-c10627ff7287.jpg)
![2](https://user-images.githubusercontent.com/58981029/74977590-fa9fe880-53f8-11ea-8e8f-24136ec82f43.jpg)

[2020-02-20 21:48] megisys commented on #410
Adjusted the Notifications as per other planning applications

[2020-02-20 21:50] megisys commented on #391
Email sent on this. Agree it is high urgency change. Need approval of hours for changes

[2020-02-20 22:28] JuanitaMiles commented on #308
Juanita met with Liquor Board on 2/19/20 without Infor in attendance to gather as much information as possible surrounding these requests. Next steps will be for Infor to provide a level of effort to complete. Documentation attached below.

[LiquorBoard_Requirements 2.19.20.docx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4233300/LiquorBoard_Requirements.2.19.20.docx)

[2020-02-20 22:29] JuanitaMiles commented on #341
Juanita met with Liquor Board on 2/19/20 without Infor in attendance to gather as much information as possible surrounding these requests. Next steps will be for Infor to provide a level of effort to complete. Documentation attached below.

[LiquorBoard_Requirements 2.19.20.docx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4233306/LiquorBoard_Requirements.2.19.20.docx)

[2020-02-20 22:36] megisys commented on #297
This was previously addressed, however we hit an unexpected issue after move to production.

BP_ELEC_Check_SCF to be changed again.

[2020-02-20 22:41] megisys commented on #395
This fee is up to date, but I am not sure if the formula will reflect this.. This will need to be monitored and if change is required Jeff will not be able to address this

[2020-02-20 22:42] #395 closed

[2020-02-20 22:49] megisys commented on #105
Hi Juanita,

The report will need to be changed by Tara, as it seems to have 2 date parameters. For correspondence to work the report will need the range built into it, so for today + 7 or similar. Correspondence can not pass parameters.

Thanks

Dan

[2020-02-21 00:29] JuanitaMiles commented on #424
emailed Robert a list of questions, including this one, on 2/20/20 7:30pm. Will await a response.

[2020-02-21 00:54] JuanitaMiles commented on #413
@ABonomo21 @TheBobEnsor please confirm logs are now showing up and notifications are being sent from the "send today's notifications", aka BOB button.

[2020-02-21 01:47] MLWilkins commented on #410
@megisys Was this change also made in test?

[2020-02-21 12:58] megisys commented on #410
Yes, should be in test the same

[2020-02-21 13:18] MLWilkins commented on #391
Reference ticket 2096 from previous repository.

[2020-02-21 13:29] MLWilkins commented on #410
Tested in Test.  V258833.

fee notification looks good.

![image](https://user-images.githubusercontent.com/50637067/75038164-d3422d80-5483-11ea-94aa-c8c33abc8f77.png)

[2020-02-21 13:30] MLWilkins commented on #410
the "more information is required" notification still not working when resulting verification review as resubmit.

![image](https://user-images.githubusercontent.com/50637067/75038439-5e232800-5484-11ea-9415-0b959f38f24b.png)

![image](https://user-images.githubusercontent.com/50637067/75038481-72672500-5484-11ea-829e-1b94a74d0e18.png)

[2020-02-21 13:40] megisys commented on #410
![image](https://user-images.githubusercontent.com/47392306/75039069-dd652b80-5485-11ea-8e58-c7344fd2a623.png)

[2020-02-21 13:41] megisys commented on #410
Was not copied to test. My apologises.. See now..

[2020-02-21 14:05] emilypearl1 commented on #260
Re-opening ticket #125855

![image](https://user-images.githubusercontent.com/58855801/75040725-31bdda80-5489-11ea-84ce-8b2bd0453538.png)

Partial As Built 1072780 should be #5

[2020-02-21 14:26] JuanitaMiles commented on #415
@ABonomo21 Please close if no additional instances of staff getting emails has occurred in the last day or two. If it has, provide some examples.

[2020-02-21 14:52] calequin commented on #421
please test if accepted promote formula.
Test by adding an extension request log, then add the detail page information, approve review
BP_ExtensionReview_BUF

[2020-02-21 15:03] AReed327 commented on #376
Project Number - PW258871
Observed behavior - Town Emmitsburg did not add as APPLICANT
Expected behavior - Town will add when Township code is populated
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/75045482-5fa71d00-5491-11ea-8bf7-f09669e91f6b.png)

![image](https://user-images.githubusercontent.com/58854333/75045460-57e77880-5491-11ea-9d7c-80a4eb608336.png)

[2020-02-21 15:12] AReed327 commented on #376
Why is ABonomo's email attached to Emmitsburg?
![image](https://user-images.githubusercontent.com/58854333/75046179-a5b0b080-5492-11ea-889c-d01632482379.png)

[2020-02-21 15:13] JuanitaMiles commented on #105
@TaraF Please see Dan's comments below and advise if you need any additional information to make the requested changes.

[2020-02-21 15:19] AReed327 commented on #376
It appears Emmitsburg and New Market have not been set up with Portal Accounts.

Emmitsburg should be zgulden@emmitsburgmd.gov
NewMarket should be Clerk2Council@townofnewmarket.org

[2020-02-21 15:27] MLWilkins commented on #410
tested in test, V258834.  Did two resubs and got notifications for each. Approved project and closed and received approval notification.  All notifications are working smoothly.

![image](https://user-images.githubusercontent.com/50637067/75046954-012f6e00-5494-11ea-9cb2-bb38ff6f2be3.png)
![image](https://user-images.githubusercontent.com/50637067/75047195-59667000-5494-11ea-82df-4050f66d7190.png)

[2020-02-21 15:27] #410 closed

[2020-02-21 15:33] calequin commented on #105
Did research on this with Dan @megisys . IPS does not have the ability to send over a report via batch manager as correspondence is for a single record. This type of report captures multiple records therefore the system does not have the ability to run it as a batch manager task. County would need to look at other report delivery options for this weekly task.

[2020-02-21 15:37] calequin commented on #260
This is correct. The inspection process was completed in the correct cycle. This inspection is not seen as related to the last cycle. Working as standard product design

[2020-02-21 15:49] calequin commented on #320
Please test once accepted promote formula:
Fee_ProcessExtension_BU

[2020-02-21 16:01] calequin commented on #376
added emmitsburg and new market as requested in production. These will add for Building permit as well. Is this correct for Building Permits @ABonomo21

[2020-02-21 16:08] calequin commented on #376
@AReed327  can we get an email for emmitsburg and new market that is not an individuals email? This allows us to have a town reviewer emmitsburg contact.

[2020-02-21 16:22] JuanitaMiles commented on #260
@calequin are you saying this because the fourth cycle of the inspection was passed and not partial? I think we always had the understanding that if another review or inspection was added at any point the system would recognize the cycle and follow suit.

This plumbing permit for example. The utility inspection was passed and not partial and people have since added a utility inspection and the cyc

[2020-02-21 16:51] JuanitaMiles commented on #432
Sent an email to the project and GIS team requesting some information on this. 2/21/20 11:50am. Awaiting response.

[2020-02-21 17:22] calequin commented on #260
this is a difference between 7 and 11. The above inspection existed in 7 the next one was in 11. v7 wouldve seen it as a completed cycle. the life started a cycle in 11 with the new one.

[2020-02-21 17:51] TaraF commented on #106
@emilypearl1  - this is ready for testing in Test.

@JuanitaMiles  - once Emily is able to approve please reassign to me to promote to prod (since Jeff W is on vacation - I believe).

[2020-02-21 17:57] calequin commented on #416
Ready for acceptance in test:
Once accepted please promote the following:
Make sure each AP type in Building Module has a PIHOLD and UOHOLD condition type available
Promote formula: BP_Hold_Notification_AAF

[2020-02-21 18:07] ABonomo21 commented on #106
Looks good in test- Juanita- please promote to production.

[2020-02-21 18:08] ABonomo21 commented on #106
checked by EPEARL 2/21/2020 @ 1:08pm

[2020-02-21 18:47] megisys commented on #297
BP_ELEC_Check_SCF  To be promoted once accepted

[2020-02-21 18:58] calequin commented on #418
please test and if accepted promote
RESBLDG_LicReqResubmit_Req

[2020-02-21 19:22] calequin commented on #380
please test if accepted promote:
GRADING_UpdateGradingDetails_BU

[2020-02-21 19:39] calequin commented on #434
Infor Xtreme ticket has been created 14355497

[2020-02-21 19:39] calequin commented on #323
Infor Xtreme ticket has been created 14355465

[2020-02-21 20:06] ABonomo21 commented on #300
was just able to request and inspection for Monday in test
![image](https://user-images.githubusercontent.com/47611580/75067726-af9ad980-54bb-11ea-8f81-22f19f70af24.png)

[2020-02-21 20:06] ABonomo21 commented on #300
test permit 263327

[2020-02-21 20:12] ABonomo21 commented on #421
tested in test permit 263290 worked

[2020-02-21 20:17] ABonomo21 commented on #380
unable to test in test - getting an internal server error
![image](https://user-images.githubusercontent.com/47611580/75068496-47e58e00-54bd-11ea-8e49-753be2979a43.png)

[2020-02-21 20:17] ABonomo21 commented on #380
was trying to test 263372

[2020-02-21 20:18] ABonomo21 commented on #380
@JuanitaMiles @calequin

[2020-02-21 20:24] calequin commented on #380
had to resync r4c. please try again

[2020-02-21 20:25] ABonomo21 commented on #320
placard did not generate
![image](https://user-images.githubusercontent.com/47611580/75069032-57b1a200-54be-11ea-9c7a-558d45f60cc0.png)

[2020-02-21 20:28] ABonomo21 commented on #380
retest failed
tested permit 263372

![image](https://user-images.githubusercontent.com/47611580/75069269-d9a1cb00-54be-11ea-9f74-ee71298e8c15.png)

![image](https://user-images.githubusercontent.com/47611580/75069238-c989eb80-54be-11ea-8211-fda713df7245.png)

[2020-02-21 20:36] ABonomo21 commented on #297
tested
![image](https://user-images.githubusercontent.com/47611580/75069792-ebd03900-54bf-11ea-8518-9413d0ee6c50.png)

[2020-02-21 20:39] ABonomo21 commented on #416
tested on permit 263374
![image](https://user-images.githubusercontent.com/47611580/75069946-48cbef00-54c0-11ea-9b96-98381719b273.png)

[2020-02-21 20:42] ABonomo21 commented on #418
tested on 263375 worked

[2020-02-21 20:43] #415 closed

[2020-02-21 20:44] ABonomo21 commented on #415
checked with staff they have not received any emails.

[2020-02-21 20:46] #192 closed

[2020-02-21 20:49] ABonomo21 commented on #314
@TaraF - they just made it so the holds entered as logs become conditions, if your hold report is looking for a condition instead of a log it works but is it not capturing all of the holds,

see hold report on permit in test 263374

![image](https://user-images.githubusercontent.com/47611580/75070702-ca704c80-54c1-11ea-8786-24f835e38871.png)
@JuanitaMiles

[2020-02-21 20:51] ABonomo21 commented on #413
![image](https://user-images.githubusercontent.com/47611580/75070815-04415300-54c2-11ea-9bf5-12d231af48f9.png)

confirmed 202341

[2020-02-23 15:01] calequin commented on #12
promoted on 2.23.2020

[2020-02-23 15:04] calequin commented on #186
promoted on 2.23.2020

[2020-02-23 15:05] calequin commented on #297
promoted on 2.23.2020

[2020-02-23 15:07] calequin commented on #307
promoted on 2.23.2020

[2020-02-23 15:08] calequin commented on #320
promoted on 2.23.2020

[2020-02-23 15:16] calequin commented on #367
promoted on 2.23.2020

[2020-02-23 15:19] calequin commented on #381
promoted on 2.23.2020

[2020-02-23 15:20] calequin commented on #397
promoted on 2.23.2020

[2020-02-23 15:24] calequin commented on #399
promoted and enabled batch manager on 2.23.2020

[2020-02-23 15:31] calequin commented on #416
Promoted on 2.23.2020

[2020-02-23 15:32] calequin commented on #418
promoted on 2.23.2020

[2020-02-23 15:32] #418 closed

[2020-02-23 15:34] calequin commented on #421
promoted on 2.23.2020

[2020-02-23 15:34] #421 closed

[2020-02-23 15:35] calequin commented on #431
promoted on 2.23.2020

[2020-02-23 15:35] #431 closed

[2020-02-23 15:35] #399 closed

[2020-02-23 15:36] #397 closed

[2020-02-23 15:36] #12 closed

[2020-02-23 15:36] #186 closed

[2020-02-23 15:36] #297 closed

[2020-02-23 15:37] #320 closed

[2020-02-23 15:37] #367 closed

[2020-02-23 15:37] #381 closed

[2020-02-23 15:39] calequin commented on #322
added formula and promoted on 2.23.2020

[2020-02-24 13:04] MLWilkins commented on #394
per 2/21/20 email with Juanita, Planning will go through spreadsheet when we can and ultimately assign this task to IIT

[2020-02-24 14:06] calequin commented on #376
this has been added in test and prod.

[2020-02-24 14:08] JuanitaMiles commented on #105
Mike to follow up and close once confirmed.

[2020-02-24 14:41] calequin commented on #380
TESTED ON R4C WITH RESBLDG 263381 it spawned the grading permit 263383. I added the details intake, clicked save and the information copied over to the grading details.
Please test and if accepted:
Create and AfterAdd formula under GradingDetail
Formula name: GRADING_CopyIntake_AA

[2020-02-24 14:41] MLWilkins commented on #105
closing issue per Infor's comment above- not something IPS can do.

[2020-02-24 14:41] #105 closed

[2020-02-24 14:56] calequin commented on #300
Please test the following scenarios:
On Friday after 12pm try to request for Monday
Saturday try requesting for Monday
Sunday try requesting for Monday

if approved please promote
BP_ScheduleInspection_BU

[2020-02-24 15:11] JuanitaMiles opened #435 "GIS - Township Code on Address Issue - Need Infor Assistance"
Creating a ticket for tracking...

Mary McCullough has discovered an issue where many of the Township codes on addresses in the system are not correct because there is no match of that address in GIS. Assistance from Infor has been requested to help query and bulk update these addresses.

Details regarding this can be found in the 2/21 - 2/24 email chain. Dan has requested approval prior to workin

[2020-02-24 15:42] JuanitaMiles commented on #435
Mary to provide a list of the addresses affected.

[2020-02-24 15:43] AReed327 commented on #376
PW258836 Worked for Emmitsburg
![image](https://user-images.githubusercontent.com/58854333/75165605-a8104600-56f0-11ea-88c0-0d4caae51034.png)
PW258837 Does not appear to be correct for New Market. There is no email associated to New Market under the Town Reviewer contact in Production and there is no portal account associated in Test. It does not match the test I ran with an Emmitsburg parcel.
Tes

[2020-02-24 15:57] calequin commented on #376
fixed in production. Created a portal account for New Market using their email for credentials.

![image](https://user-images.githubusercontent.com/47603568/75168155-0b4ba980-56ec-11ea-8576-1fc5c8f85632.png)

[2020-02-24 15:58] calequin commented on #376
i have also fixed it in test but the portal account will not be associated because of test records. I used my email in test so that the town reviewers do not get test emails sent

[2020-02-24 16:16] TaraF commented on #314
@ABonomo21 - thanks, I have a few follow up questions:

1) Currently the logic is pulling from Conditions tab, with a Condition Type of "PIHOLD".  Should we continue to pull from the Conditions tab, or should we switch and pull from the Logs tab, where the log type is "PIHOLD"?

2) In Dec 2019, we were instructed to change the logic to only show PIHOLD values.  If that has changed, please provide

[2020-02-24 16:58] TaraF commented on #433
Noting this is a new request. Assigned, in progress.

[2020-02-24 17:09] TaraF commented on #205
@ABonomo21  @JuanitaMiles

After not seeing the issue, and working with Juanita on this, I believe what is happening is the script is correct, and the reports are showing if you get back into the samples in Test (202617, 263385) - but if you are actively moving through to the milestones, the application has to be refreshed to pick up the formula / script (or at the very least getting out of the AP

[2020-02-24 18:19] JuanitaMiles commented on #417
Christian feels this ticket will need a larger conversation surrounding the requirements of when the re-inspection fee should generate. Potentially group this in with any conversations to be had with ticket #325 .

[2020-02-24 18:23] JuanitaMiles commented on #420
Assigning to @calequin due to minimal work on 2/24.

[2020-02-24 18:34] JuanitaMiles opened #436 "System Wide - DUSWM - Add Employees as Inspectors"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2357
Requested By: Brenda Teach / Juanita Miles
Jump to this repository

Request:
Brenda Teach has requested that **Kimberly Getzandanner** and **Cory Brandt** have the Inspector tag applied to their employee records. This is to allow their usernames to appear on the Inspector drop down list for Capacity permit final fixture ins

[2020-02-24 19:36] JuanitaMiles commented on #412
Reassigning to @calequin due to minimal work on 2/24

[2020-02-24 19:41] JuanitaMiles opened #437 "Business License - Liquor License - Missing Endorsement Types"
Source:
Repository: kcigeospatial / Fred_Co_Land-Management
Ticket #: 2329
Requested By: Liquor Board / Tara Feaga
Jump to this repository

Request:
Endorsement types that are missing and need to be added:

Entertainment (no fee associated)
Patio (no fee associated)
Growler Permit Wine Beer/Wine
Growler Permit Wine Only
Need to confirm these have been added.

[2020-02-24 19:51] JuanitaMiles commented on #435
Mary has provided a spreadsheet that outlines the AddressKey and what the Township Code should be in the "ACTUAL_TOWNSHIP" field. See attached spreadsheet and Mary's email explanation below.

There appears to be over 5500 addresses that need correcting. Pushing this ticket as a high priority. Will follow up with an email to the team.

[CorrectedTownships.xlsx](https://github.com/dhenry-KCI/FredCo-

[2020-02-24 19:57] awhite806 opened #438 "Permit Issued with review still marked as resubmit"
Permit #260914 issued while still having the review from the health department marked as resubmit. Permits should not issued if they have reviews that are not approved.
![image](https://user-images.githubusercontent.com/58981029/75186397-cfc5d500-5715-11ea-8735-6864d0fc6849.png)
![image](https://user-images.githubusercontent.com/58981029/75186408-d5231f80-5715-11ea-80a7-a75e0a49f9a0.png)

[2020-02-24 20:02] calequin commented on #420
i have added the WITHREQ log to be visible in R4C for applicants to request. Please test and if accepted needs to be manually added for each AP type in BLDG and PLN.
Application Workflow > Log Generation Links > add WITHREQ as the Log

[2020-02-24 20:02] calequin commented on #420
if needed in USE and BL we would need to create a formula and AD-Hoc report for this log type

[2020-02-24 20:11] calequin commented on #412
changed the review due dates to be 10 business days - 2 weeks
![image](https://user-images.githubusercontent.com/47603568/75187339-7b1f5b80-570f-11ea-9796-ff94c779f322.png)

[2020-02-24 20:16] JuanitaMiles commented on #438
could have something to do with the cycles of the EH review versus the PLNREV? Health wasn't added on the application until the 2nd cycle of review overall, so the review cycles don't match.

[2020-02-24 20:24] calequin commented on #438
our code has comments indicating that EH reviews after a second cycle will be manually added. Is this not correct?
![image](https://user-images.githubusercontent.com/47603568/75188240-63e16d80-5711-11ea-82c8-8c2c804c7d94.png)

[2020-02-24 20:44] JuanitaMiles commented on #438
talked to christian on the phone to clarify. he will follow up.

[2020-02-24 20:48] JuanitaMiles commented on #322
Reopening per Mary's request. She has identified the following error in Prod with the Delete tool.

![image](https://user-images.githubusercontent.com/31770504/75189747-d99f0680-571c-11ea-99ae-a55b3430107d.png)

![image](https://user-images.githubusercontent.com/31770504/75189812-fd624c80-571c-11ea-95d9-fb67fceb8af0.png)

![image](https://user-images.githubusercontent.com/31770504/75189852-1965ee0

[2020-02-24 21:04] calequin commented on #438
FIXED AND TESTED IN TEST WITH AP 260914 if accepted please promoted
Formula:
BP_ToTolerance_NSF

[2020-02-25 00:35] JuanitaMiles commented on #432
I've replicated this application in TEST (263386) and tried it with the updated address township code. The town did not add as an applicant to the application. This correction was also made by Mary in the Prod environment. I've created high priority ticket #435 to address the overall issue with some of the addresses not having a correct township code. Closing this ticket.

![image](https://user-im

[2020-02-25 00:35] #432 closed

[2020-02-25 00:56] JuanitaMiles commented on #260
@emilypearl1 Emily - I was able to replicate the issue you found on this specific application in the test environment. However, I tried adding the inspection on a couple other old applications in test and the inspection count increased as it should have. If we haven't seen this on any other applications, can we close and monitor this? If we see again we can re-open and investigate further.

![imag

[2020-02-25 01:04] JuanitaMiles commented on #384
Meeting scheduled 2/26 to discuss.

[2020-02-25 01:06] emilypearl1 commented on #260
Sure! Let’s close and monitor.

Sent from my iPhone

On Feb 24, 2020, at 7:56 PM, Juanita Miles <notifications@github.com> wrote:

﻿
[EXTERNAL EMAIL]

@emilypearl1<https://github.com/emilypearl1> Emily - I was able to replicate the issue you found on this specific application in the test environment. However, I tried adding the inspection on a couple other old applications in test and the inspecti

[2020-02-25 01:09] JuanitaMiles commented on #322
Dan emailed 2/24 requesting that an Infor Extreme ticket be submitted for Mary's latest issue with the delete tool as the strategy to delete data is not the recommended best practice. Unassigning Dan for now until we receive a response.

[2020-02-25 01:15] JuanitaMiles commented on #405
Identified as a short list enhancement item for Dan to indicate level of effort and potential work sooner rather than later. Assigning to Dan for tracking.

[2020-02-25 01:19] JuanitaMiles commented on #391
Identified as a short list enhancement item for Dan to indicate level of effort and potential work sooner rather than later. Assigning to Dan for tracking.

Meeting scheduled for 2/26 to discuss with team.

[2020-02-25 01:25] JuanitaMiles commented on #260
If we see another instance of this we will reopen the ticket.

[2020-02-25 01:25] #260 closed

[2020-02-25 01:28] JuanitaMiles commented on #426
I've let @dhenry-KCI know that a meeting has been requested.

[2020-02-25 01:28] JuanitaMiles commented on #408
I've let @dhenry-KCI know that a meeting has been requested.

[2020-02-25 03:54] dhenry-KCI commented on #426
@JuanitaMiles - i can schedule meeting. Should the meeting include Christian or Dan?

[2020-02-25 12:04] ABonomo21 commented on #438
Can you look into why the system generated this health review. It is a minor permit which should only trigger building plan review.

![image](https://user-images.githubusercontent.com/47611580/75246084-085cc180-579d-11ea-9bdb-14b4fe17b822.png)
Regardless in the event of a resubmit all reviews will be manually added.

[2020-02-25 14:54] MLWilkins opened #439 "PDox- invitation email notification-add project name"
Can the PDOX invitation email include the project name?

![image](https://user-images.githubusercontent.com/50637067/75258632-c5a6e380-57b4-11ea-9fc4-6a686370db48.png)

[2020-02-25 14:55] awhite806 commented on #438
this minor permit for a hot tub had a health review generate as well. minor permit should only have Building Plan Review generate.
![image](https://user-images.githubusercontent.com/58981029/75258681-dc4d3a80-57b4-11ea-84e2-c7b2c85a41f3.png)
![image](https://user-images.githubusercontent.com/58981029/75258727-ea02c000-57b4-11ea-8379-ac4d9375fa65.png)

[2020-02-25 14:55] pooldaddy commented on #437
Verified all 4 types listed above were defined in both TEST & PROD.  See screenshots from TEST below:

[Github # 437.docx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4250578/Github.437.docx)

[2020-02-25 15:37] ABonomo21 opened #440 "Extension Request Detail - Edit on R4C"
I have a customer that is not able to edit the extension request details page on his building permit 189858. Customers should be able to edit this detail page to send us a request for extension. Is there a reason why he does not have that option ?
![20200224_160726](https://user-images.githubusercontent.com/47611580/75262483-985d3400-57ba-11ea-9560-65261b322659.jpg)

[2020-02-25 15:55] awhite806 opened #441 "RESSFD Fees incorrect"
For this SFD permit, only the building fee and the SCD review fee generated. It is missing everything else (zoning, filing, automation, minor grading, stormwater, mpdu fees). Not sure what cause this??
![image](https://user-images.githubusercontent.com/58981029/75264382-58e41700-57bd-11ea-86c0-96c0c3fd307f.png)

[2020-02-25 15:59] ABonomo21 opened #442 "Review Due Date"
I re-assgined reviews fro Justin Horman to Tolson DeSa that were due today and tomorrow. When i did that it changed the due date of the review to a week from today.

The review due date should not change due to a re-assignment. I re-assigned them because the reviewer was out sick and the reviewers are due...

![image](https://user-images.githubusercontent.com/47611580/75264734-d9a31300-57bd-11ea-9

[2020-02-25 16:47] ABonomo21 opened #443 "DPZ review in an incorporated town"
a DPZ review populated on a permit that is located within the town limits of emmitsburg, DPZ review should not generate on properties within a municipality.

![image](https://user-images.githubusercontent.com/47611580/75267736-9dbf7c00-57c4-11ea-80d1-6d7fb79c4a91.png)

[2020-02-25 17:11] TaraF commented on #106
promoted to Prod 2/25/20.

[2020-02-25 17:11] #106 closed

[2020-02-25 17:12] TaraF commented on #433
This is ready for testing in Test.

[2020-02-25 17:43] TaraF commented on #310
Updated and ready for testing in Test.  Email was sent to the LB team 2/25/20.

[2020-02-25 18:36] JuanitaMiles commented on #440
@ABonomo21 can we get a screenshot of the very top of this person's rhythm page so we can see the menus and things please?

[2020-02-25 18:50] ABonomo21 commented on #307
reopening- building mounted sign generated the building review
![image](https://user-images.githubusercontent.com/47611580/75277318-c3a14c80-57d5-11ea-817c-787edeb568b2.png)

[2020-02-25 18:51] JuanitaMiles commented on #443
Both the Address and Parcel records for this application indicate that the Township is 00 - County, which is likely the cause of the DPZ review still adding. If this is incorrect, please create a County GIS ticket for the gis team to investigate and update.

![image](https://user-images.githubusercontent.com/31770504/75277182-8c32a000-57d5-11ea-9b5f-4a8784f88a56.png)

![image](https://user-images.

[2020-02-25 19:17] AReed327 commented on #376
Verified New Market and Emmitsburg emails are linked under Town Reviewer in Production.

PW258838 & PW258839 Under both of these in test, only one email went out. This is different from the Emmitsburg application PW258836 that I tested yesterday. It does not appear the notification is being sent to the town. I understand that it would not actually send in test, but I am expecting it to show in the

[2020-02-25 19:53] JuanitaMiles commented on #93
Re-opening per Ashlye's request. Her comments and screenshot are below:
AP # 265420
![image](https://user-images.githubusercontent.com/31770504/75281945-2f87b300-57de-11ea-9429-9b25a7c88b34.png)
![image](https://user-images.githubusercontent.com/31770504/75282057-61007e80-57de-11ea-9eb5-8ab21696486d.png)

[2020-02-25 20:07] JuanitaMiles commented on #443
closing, ashlye is creating a GIS ticket.

[2020-02-25 20:07] #443 closed

[2020-02-26 12:49] AReed327 opened #444 "PLANNING - PWCONSTRUC - Fee Notification"
Project Number - PW257727
Observed behavior - No fee email generated when the per page fee was added on PWCONSTRUC
Expected behavior - Notification to the applicant should go out if/when fees generate after the first review cycle on PWCONSTRUC
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/75346309-6ad0c300-586c-11ea-88c5-1f12a6533444.png)

![image](https://user-images.gi

[2020-02-26 13:00] megisys commented on #435
HI All,

We need to meet to discuss this, as things like this will come up all the time and we need to build this in a repeatable fashion. We do not support SQL updates to the database, so we should meet to talk about the best way to achieve this fix and other fixes which may come up.

Thanks

Dan

[2020-02-26 13:02] MLWilkins commented on #444
see ticket 1656 in pre-go live github.

[2020-02-26 13:53] JuanitaMiles commented on #438
@ABonomo21 The issue of the Health Review adding when it shouldn't have should really be a different ticket. We need to test if the fix Christian put in place to prevent the application from moving forward when there is a difference in review numbers works.

[2020-02-26 13:57] ABonomo21 commented on #426
Add renewal fees
Pay fees
Renewal review and issue
Complete review

met with dan 2.26.19 confirmed in test

[2020-02-26 13:57] #426 closed

[2020-02-26 14:03] megisys commented on #442
BP_RevisionDueDates_BU to be promoted

[2020-02-26 14:03] ABonomo21 commented on #442
tested with dan on permit 263387 confirmed fix- will promote to production

[2020-02-26 14:36] ABonomo21 commented on #401
Spoke with Dan - Will clear out all professional id in test and will not use professional id's moving forward.

[2020-02-26 14:37] ABonomo21 commented on #401
Megan will test !

[2020-02-26 15:23] ABonomo21 opened #445 "Permit applied for by subdivision report"
[20200226094907673.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4256506/20200226094907673.pdf)

Tara- I ran the permit applied for report to complete my holds on applications not issued by the six month mark - when I ran the report I compared it to the previous report I had run in H7 and saw there was some missing permits, so I ran a query and confirmed there are missing permits f

[2020-02-26 15:38] ABonomo21 commented on #438
issuance of the permit cycle issue appears to be fixed via test on a/p 263391 in test

[2020-02-26 15:41] ABonomo21 opened #446 "Minor Permit - Health Review"
when adding a minor permit under the resuses a/p if the minor permit check box is marked only BUILDING PLAN review should be a reviewing agency -

no other agencies are required and more importantly health department should never add even if the property is on well and or septic if this minor check box is marked

![image](https://user-images.githubusercontent.com/47611580/75360984-9069c680-5884-11

[2020-02-26 15:47] megisys commented on #446
Promote RESUSES_EH_Review_AOC - When Test Accepted

[2020-02-26 15:48] ABonomo21 commented on #412
tested land use default due date to two weeks - L257925

[2020-02-26 15:54] ABonomo21 commented on #446
was in a meeting with Dan and this was a high priority - asked him what the code was written to say - there was just something missing in the code but the "requirement to exclude HD on minor permits was there" he just had to clean up the code took 30 seconds. Fixed
tested in test 263392- worked ! please push to production.

[2020-02-26 16:00] ABonomo21 commented on #420
tested on permit 263369 from r4c to ips test withdrawl request worked

we need this back on all building permit a/p's - void requests on home occ and land use are minimal so we do not need for use and bl for now just building permits.

[2020-02-26 16:53] JuanitaMiles commented on #384
Requirements as follows:

Will need to add a "resubmit" option to the renewal review. If the review is resulted with resubmit then a notification will be sent requesting more information and the application will progress to a "Awaiting Renewal Resubmit" milestone for the applicant to complete the applicant actions detail page. Once the resubmittal is completed by the applicant, the application wil

[2020-02-26 18:41] ABonomo21 opened #447 "Resuse Permit Inspections"
Inspections for resuse permits not generating as provided via airtable

in meeting with dan and jeff found the code has an error in it and it is a quick fix.

[2020-02-26 18:42] JuanitaMiles commented on #405
Per discussion with Dan and Ashlye on 2/26...Notifications now appear to be stable and working. Ashlye has agreed to not move forward with the full notification redesign at this time. If we continue forward and something comes up in the future that makes us need to revisit we will do so. Closing this ticket, will reopen if staff decides it is needed in the future.

We will, however, need to move f

[2020-02-26 18:42] #405 closed

[2020-02-26 18:47] JuanitaMiles commented on #245
Reopening per conversation with Dan and Ashlye on 2/26. This ticket will replace the overall notification redesign task. We have decided that we will move forward with the inspector photo design, and not the full notification redesign.

[2020-02-26 19:16] megisys commented on #441
HI There, (Jeff and Dan together)

eems we had a GIS update reinstate the PlanR of FR. This logic was retired and rather than adjust all the pre written formulas it was decided to ensure in the future to not set this attribute.

I update the PLNR on the AgencyProperty.ParcelDet to be Null where FR to avoid wrong fees on new building permits

![image](https://user-images.githubusercontent.com/47392

[2020-02-26 19:25] JuanitaMiles commented on #391
Agreed this will be addressed and delivered March 9th. Taking the high priority label off.

[2020-02-26 19:48] megisys commented on #444
See in TEST. Addressed Issue.

[2020-02-26 19:57] megisys commented on #376
New market was set for all communications to be opted out. This is a data issue against the contact. I removed planning notification opt outs if you would like to retest in Test..

New Issue - Not related to the original issue request but understand why this was considered a retest fail

[2020-02-26 20:18] JuanitaMiles commented on #307
PLNREV potentially added due to the "OTHER" sign type on the detail page, which cancelled out the coding behind the building mounted sign not requiring a PLNREV. We need to understand how to handle these "other" instances so the code can be updated or put a SOP process in place to waive the plan review when it's not required.

[2020-02-26 20:24] JuanitaMiles commented on #441
Jeff has emailed Mary and Austin regarding this on 2/26.

[2020-02-27 13:43] ABonomo21 commented on #380
Tested on grading permit 263395 and details page copied over.

[2020-02-27 13:43] ABonomo21 commented on #380
Did not mean to close- should be test accepted to push on March 9

[2020-02-27 13:59] ABonomo21 commented on #433
TESTED IN TEST - 263396
![image](https://user-images.githubusercontent.com/47611580/75452034-83f67400-593f-11ea-984b-0a5aab97c7dd.png)

[2020-02-27 14:09] ABonomo21 commented on #440
Customer stated that he was logged in however, i am going to close the ticket because he is not providing me screenshots- will have to address if we have any other customers that have this issue.

[2020-02-27 14:18] megisys commented on #307
Update Made.. Only Freestanding, Monument will be reviewed.. Other Type may be an issue as it is unclear what this is..

[2020-02-27 14:25] ABonomo21 commented on #307
tested 263398 for freestanding 263399 monument and 263397 all others- all worked correctly on building freestanding and monument signs triggered the building plan review fee and the review.

[2020-02-27 14:29] ABonomo21 commented on #441
Dan confirmed the error occurred because the FR was added back into the planning region on the parcels- This was working prior to Mary making this change.

Dwelling fees were working correctly prior to the change - test accepted as long as it is put back the way it was before the GIS change.

[2020-02-27 15:26] ABonomo21 commented on #447
inspections are generating correctly based on 3 test applications
263402 for addition
263401 for alteration
263400 for accessory

[2020-02-27 16:03] ABonomo21 commented on #314
See my comments below in bold

Currently the logic is pulling from Conditions tab, with a Condition Type of "PIHOLD". Should we continue to pull from the Conditions tab, or should we switch and pull from the Logs tab, where the log type is "PIHOLD"?- **Now that the P&I and U&O holds are creating conditions you should continue to pull from the conditions tab.**

In Dec 2019, we were instructed to c

[2020-02-27 16:30] ABonomo21 commented on #416
P&I hold did not add as a condition on use permit. Added the log type of P & I hold to use permit in test
![image](https://user-images.githubusercontent.com/47611580/75463970-87e0c100-5954-11ea-8699-ee41a266711b.png)

[2020-02-27 16:58] awhite806 opened #448 "Customers are unable to upload attachments."
A customer was trying to upload attachments while submitting a new permit application and got the error that it would not accept her files. then when she tried to go back and change the files, it would not let her change them. (266519 and 266528)
![12](https://user-images.githubusercontent.com/58981029/75466558-61248980-5958-11ea-9667-65133d1bc2ad.png)

she also tried to upload new attachments for

[2020-02-27 18:48] awhite806 opened #449 "STOP NOT log was added and notifications still went to customer."
The STOP NOT log was added to this permit and the applicant notification still went to the customer
H257942
![image](https://user-images.githubusercontent.com/58981029/75476044-e4011080-5967-11ea-9eb9-0e15edd47693.png)

[2020-02-27 19:09] JuanitaMiles commented on #449
I have a feeling this might have happened because there is another stopnot log on this application with a stop date. Perhaps the formula only looks to see if there is a stop date without taking into consideration that another one was added? For tracking purposes it would be ideal for the system to recognize this so staff can see the periods of time when notifications were set to not send.

[2020-02-27 19:40] megisys commented on #448
I can not read this screenshot. In the interest of time. Ask Applicant to email you the files and upload back office and see if the issue persists

[2020-02-27 19:55] TaraF commented on #445
@ABonomo21  - ok some answers for you:

The logic of the report is as follows:
-exclude APtypes of 'BPREVIEW','CAPACITY','FROPERM','GRADING','CITYIMPACT'

-Exclude APNOs that start with C (the APNO starting with C was added on 12/2/19)

-BLDGAPPL.STAT <> 'V' (All STATs returned by query are 'O' )

-BLDGAPPL.APDTTM within the date range

-Issued date is null

-BLDGPROCESSSTATE = 'OPEN'

So right aw

[2020-02-27 20:00] awhite806 commented on #448
closing for now, customer was able to upload attachment later on.

[2020-02-27 20:00] #448 closed

[2020-02-28 13:19] MLWilkins opened #450 "Planning-APFO-need more information notification not sending"
Resulted APFO review as resubmit and the "need more information" notification did not send.  marking as high priority as this is a Turbo Fast Track project and the applicants arent being notified of the review result or of the action they need to take.

![image](https://user-images.githubusercontent.com/50637067/75551734-d77dc600-5a02-11ea-82e0-1e15c4d80c71.png)

[2020-02-28 13:21] MLWilkins commented on #450
see related ticket in pre-go live repository

![image](https://user-images.githubusercontent.com/50637067/75551971-4eb35a00-5a03-11ea-8434-cea517acf821.png)

[2020-02-28 16:29] MLWilkins opened #451 "Planning-APFO-approved notification not sending"
notification for approved application not sending.

![image](https://user-images.githubusercontent.com/50637067/75566364-8b8c4a80-5a1d-11ea-883a-75019cc80c4f.png)

[2020-02-28 16:34] AReed327 opened #452 "PLANNING - R4C - MAP FUNCTION NOT WORKING"
Project Number - New Project in R4C
Observed behavior - Scroll in on map under search for address and you cannot make a selection. This is not working in Test or Production R4C
Expected behavior - Expect to be able to select property by the map function.
Screenshot -
Production
![image](https://user-images.githubusercontent.com/58854333/75566671-18370880-5a1e-11ea-91b8-73d48a2da37b.png)
Test
![ima

[2020-02-28 16:44] AReed327 opened #453 "Planning - Contact Details added in R4C not transferring to IPS"
Project Number - PW258842
Observed behavior - Contact Details didn't transfer to IPS
Expected behavior - Expect them to transfer.
Screenshot -

![image](https://user-images.githubusercontent.com/58854333/75567344-5da80580-5a1f-11ea-8768-c417b1f8c699.png)
![image](https://user-images.githubusercontent.com/58854333/75567446-8c25e080-5a1f-11ea-8807-38f4251f1a08.png)

[2020-02-28 16:48] ABonomo21 commented on #435
We need this fixed asap- here are example permits 266520,521,524&525 for properties located in brunswick crossing that have town water and sewer designations that triggered health review fees as if the water was on well and or septic.

after staff emailed gis they explained they were waiting for infor support to get a fix for the area code issues.

This can be very problematic if parcels do not ha

[2020-02-28 16:53] AReed327 commented on #376
It's not clear why New Market would have ever been set to be opted out of all communications as they are a Municipality that we review projects for. I do not see this as a new issue.

New Market didn't add. It just TownR with no info.
![image](https://user-images.githubusercontent.com/58854333/75567777-13735400-5a20-11ea-8112-f850ae1c5fa7.png)
![image](https://user-images.githubusercontent.com/588

[2020-02-28 17:08] MLWilkins commented on #284
same old problem came back.  WHY DOES THIS KEEP HAPPENING?  This happened on PL257647 and PL257653

![image](https://user-images.githubusercontent.com/50637067/75569145-93022280-5a22-11ea-86a7-a6316767a0e9.png)

[2020-02-28 17:41] JuanitaMiles commented on #284
@pooldaddy This is an item that Mike and Ashley have worked extensively with Dan and Christian on...but it appears the problem of two different types of emails are going out for plat recordation has returned. You can see in the logs that the PLAT Recordation Notification sent and the Final RecordationNotification sent as well. From looking at the comments above, the "PLAT Recordation Notification"

[2020-02-28 18:01] AReed327 commented on #453
Showing now. Closing ticket. Maybe there was a delay in the info coming across.
![image](https://user-images.githubusercontent.com/58854333/75573236-6a7e2680-5a2a-11ea-92d1-8a0b991113d8.png)

[2020-02-28 18:01] #453 closed

[2020-02-28 18:49] AReed327 commented on #444
Test Accepted
PW258842
![image](https://user-images.githubusercontent.com/58854333/75578006-0f9bfd80-5a31-11ea-8f56-7180987e5088.png)

[2020-02-28 20:05] pooldaddy commented on #387
Created 2 Batch Manager Jobs to do the following:
1. Expire any employee which does not have a user record. One time only.
2, Expire users who have not logged into the system in 90 days.  Employee record to be expired and any associated roles/licenses removed.  This job scheduled to run the 1st of each month.

See SBM jobs below:

![image](https://user-images.githubusercontent.com/47391482/7558341

[2020-02-28 20:09] pooldaddy commented on #385
Dan & I added these new codes to PROD Thursday

[2020-02-28 20:09] #385 closed

[2020-02-28 20:16] pooldaddy commented on #447
RESUSES_BLDG-Insul_insp_AOC
RESUSES_BLDG-Frame_Insp_AOC

[2020-02-28 20:24] JuanitaMiles commented on #447
Keeping labels as Test Accepted. This will let Dan know to promote to Prod.

[2020-02-28 20:26] JuanitaMiles commented on #437
This was just a task for Jeff to confirm endorsements have been added to Prod and TEST. Jeff has confirmed, closing this ticket since no promotion needs to happen.

[2020-02-28 20:26] #437 closed

[2020-02-28 20:31] JuanitaMiles commented on #401
Once the refresh of TEST occurs on Monday 3/2, Dan will have to clear the professional id's again in Test because they will be put back with the refresh.

[2020-02-28 20:33] pooldaddy commented on #386
Would like to do both Bond Type & Class at the same time.
@MLWilkins can you review Bond Class.
@JuanitaMiles can you get input from Vijay Kapoor and Eric Dodson as Mike suggests above.

[2020-02-28 20:35] pooldaddy commented on #388
@ABonomo21 just a reminder to resend the list to me Thanks.

[2020-02-28 20:36] JuanitaMiles commented on #163
@megisys While this has not been fully tested and accepted by county staff, can we ensure this configuration that exists in TEST does not get wiped away during the refresh monday?

[2020-02-28 20:40] JuanitaMiles commented on #386
@pooldaddy Both Mike and Emily have agreed to wait to assess the Bond Class options until a later time. I have already confirmed with Emily that Vijay and Eric do not handle bonds and that she has already taken into consideration the types that they would be involved in anyway.

Can we move forward with the Bond Types?

[2020-02-28 20:47] JuanitaMiles commented on #310
Liquor Board has provided one minor comment. I have confirmed with Tara that the refresh planned to take place on Monday 3/2 will not impact these report changes. These can be promoted to production at a later time.

[2020-02-28 20:49] JuanitaMiles commented on #310
Email from Dawn S below:

![image](https://user-images.githubusercontent.com/31770504/75586244-ecc61500-5a41-11ea-980c-648163b35ade.png)

[2020-02-28 21:22] JuanitaMiles commented on #441
It appears all steps have been taken to correct the errant population of the Plan Region. Closing ticket, if the issue re-appears again in the future we will need to reopen and re-evaluate the the issue.

[2020-02-28 21:22] #441 closed

[2020-03-01 00:05] TheBobEnsor commented on #300
did not try on Friday
Saturday at 6:30 pm tried to schedule for Monday and it appeared to be correct, I received an error that told me I needed to pick a future date, but when I tried to schedule for Tuesday I got the same message. I also tried to set it for Wednesday and received the same message.  I then tried to reschedule one that was already scheduled for Tuesday for Monday and it gave me the

[2020-03-01 16:30] #205 closed

[2020-03-01 16:33] #307 closed

[2020-03-01 16:33] #376 closed

[2020-03-01 16:36] #380 closed

[2020-03-01 16:37] #412 closed

[2020-03-01 16:38] #433 closed

[2020-03-01 16:40] #438 closed

[2020-03-01 16:41] #442 closed

[2020-03-01 16:42] #444 closed

[2020-03-01 16:43] #446 closed

[2020-03-01 16:45] #447 closed

[2020-03-01 16:53] #420 closed

[2020-03-01 16:59] #387 closed

[2020-03-01 17:01] megisys commented on #163
Added to Production..

[2020-03-01 17:38] MLWilkins commented on #163
This has not been tested and is not ready to be closed

[2020-03-02 00:38] TheBobEnsor commented on #300
Sunday morning
Seamed to be working, was not able to schedule for Monday and was able to schedule for Tuesday?
Bob

[2020-03-02 11:31] TheBobEnsor opened #454 "Error in Mobile"

[2020-03-02 11:35] TheBobEnsor commented on #454
We have been seeing this error on occasion and just want to document it
See picture of error attached
![Exception in Map Provider](https://user-images.githubusercontent.com/60886453/75673030-02108e80-5c50-11ea-9d77-eef52ef48031.jpg)

[2020-03-02 12:31] megisys commented on #163
Tested with Jeff Wisner on the process and we tested updating permit fees and seeing the effect on open fees after running the batch job. Should not have been closed. But promoted to production so not lost during refresh.

[2020-03-02 13:22] TheBobEnsor commented on #454
A little more info, it appears when opening "Building Permits"/ Nearby open

[2020-03-02 13:36] JuanitaMiles commented on #454
@pooldaddy Jeff as you investigate this issue, it might be related to ticket #452 - Map Functionality not working.

[2020-03-02 14:39] mlibbey131 opened #455 "Non-Residential Electrical Fee Generating Incorrectly"
Permit# 266659

Non-Res Service 100 Amp or Less fee generated incorrectly. Should be $40.00 for each service (total of $120.00) only (1) fee generated even though the quantity was (3).

![1](https://user-images.githubusercontent.com/58980189/75686109-b2d75780-5c69-11ea-8cf9-e795aaa382eb.png)
![2](https://user-images.githubusercontent.com/58980189/75686110-b4a11b00-5c69-11ea-8c35-8253d429087a.png)

[2020-03-02 14:40] mlibbey131 opened #456 "Residential Single Family Dwelling No Reviews Generated"
Permit# 265385

Residential Single Family Dwelling. No reviews generated once the permit was paid for.

![image](https://user-images.githubusercontent.com/58980189/75686200-d4384380-5c69-11ea-9705-2bfab5ba87dd.png)

[2020-03-02 14:43] mlibbey131 opened #457 "System Generating Reviews"
Permit# 258450

During revision assignment I inserted the DPZ review and once I approved the Revision Assignment Condition the system generated a PWDR review.

![image](https://user-images.githubusercontent.com/58980189/75686398-32fdbd00-5c6a-11ea-9147-fa5983a08035.png)
![image](https://user-images.githubusercontent.com/58980189/75686421-3729da80-5c6a-11ea-91f2-2e6060da557b.png)

[2020-03-02 14:44] ABonomo21 commented on #93
adding another example of a permit on well and septic now that generated a duswm review
![image](https://user-images.githubusercontent.com/47611580/75686498-57599980-5c6a-11ea-8114-6e18892a4f87.png)

[2020-03-02 14:49] awhite806 opened #458 "Use Permits-Taking out old reviews that are not used anymore."
The Revision reviews and the town reviews can be expired since we are not using them anymore. They do not follow the review cycle and therefore hold the permit up in error.
![image](https://user-images.githubusercontent.com/58981029/75686887-f2527380-5c6a-11ea-8ff8-d8478ebaae49.png)
![image](https://user-images.githubusercontent.com/58981029/75686973-131ac900-5c6b-11ea-92c6-2f4ed3c55ab7.png)

[2020-03-02 14:49] ABonomo21 opened #459 "Health Review Fee"
A health review fee did not generate on permit 265409- property served by well and septic.
The only time health review fee should not generate is if the property is  is not on well and septic but food service is involved. this will trigger a health food service review but should not trigger a fee...
![image](https://user-images.githubusercontent.com/47611580/75686683-a99aba80-5c6a-11ea-9d59-989a1b

[2020-03-02 14:52] mlibbey131 opened #460 "License Still Active After Bond Cancellation"
EM2219
License still showing as Active even after the date has passed for the Bond Cancellation.

![image](https://user-images.githubusercontent.com/58980189/75687077-3f364a00-5c6b-11ea-8298-40cf56accc8c.png)

![image](https://user-images.githubusercontent.com/58980189/75687166-60973600-5c6b-11ea-94a5-22fe12251a15.png)

[2020-03-02 14:55] pooldaddy commented on #452
@megisys Able to replicate the issue in Production.  Forwarding to you for next steps.  Also please take a look at 454 as it may be related.

[2020-03-02 14:57] mlibbey131 opened #461 "Applicants Unable to Upload Attachments - 14472633#"
Applicants should be able to upload additional attachments when the permit is in a Milestone of
Awaiting Applicant Revisions, Awaiting Applicant Resubmit, and once it is issued to be able to complete a Change Request.

[2020-03-02 15:04] TaraF commented on #310
Assigned, in progress.

https://github.com/kcigeospatial/fredCo_landMgt/issues/49

[2020-03-02 15:11] JuanitaMiles commented on #456
Megan manually added the two reviews that should have added automatically. See screenshot.

![image](https://user-images.githubusercontent.com/31770504/75688801-1f545580-5c6e-11ea-8194-19094b9cfb3f.png)

[2020-03-02 15:20] TaraF commented on #314
Assigned, In progress.

[2020-03-02 15:24] JuanitaMiles commented on #458
@pooldaddy The highlighted reviews in Abbie's screenshots above can be expired in IPS.

Low priority item, complete after medium and high priority tickets are addressed.

[2020-03-02 15:44] JuanitaMiles commented on #460
@pooldaddy This could be similar to the setup that de-activates a license if the State License expiration date has passed. I believe this is a batch manager job?

[2020-03-02 15:52] JuanitaMiles commented on #461
@pooldaddy Please ensure the configuration on R4C for Building permits applications allows applicants to add attachments for the three scenarios indicated above. The "Issued" status would encompass the Inspections and Final Inspection milestones.

[2020-03-02 16:16] megisys commented on #391
PLN_INTAKEREVIEW_NMF - Needs to be promoted
Permissions need to be moved
New Milestones to be created
Milestone Expiration Updated
New Conditions Added
Notifications added
Status Checks Added

[2020-03-02 17:57] awhite806 commented on #449
this happened again Building permit #205272, in the meantime should we delete the previous stop log so the customer does not get all these incorrect emails?? need to check with @ABonomo21
![image](https://user-images.githubusercontent.com/58981029/75703321-3d798000-5c85-11ea-9fa3-372c11ae7dfa.png)

[2020-03-02 18:01] megisys commented on #417
This method has completely changed. If an inspection is up to its 3rd cycle reinspection fee is added regardless of previous outcomes.

[2020-03-02 18:18] pooldaddy commented on #452
Extreme Ticket Created

![image](https://user-images.githubusercontent.com/47391482/75704940-4f105700-5c88-11ea-8ff2-b7d4b57b3382.png)

[2020-03-02 20:42] ABonomo21 commented on #457
I have another example where i have approved the revision assignment condition and the milestone did not change permit 202843 had to manually change milestone back to under review
![image](https://user-images.githubusercontent.com/47611580/75715993-61948b80-5c9c-11ea-9e6b-8f0c5dfe1ad5.png)
![image](https://user-images.githubusercontent.com/47611580/75716010-68230300-5c9c-11ea-98ba-1728342c4058.png

[2020-03-02 22:09] megisys commented on #435
Updated in TEST due to urgency.. Please test in TEST and let me know

[2020-03-02 22:10] megisys commented on #435
UPDATE
    Property.Address
SET
    property.Address.TOWNSHIP = c.Townshipnew

FROM
    dbo.TownShip_CleanUp c
    INNER JOIN Property.Address t
        ON c.Addrkey = t.ADDRKEY

[2020-03-03 01:46] JuanitaMiles opened #462 "Test Applications Not Moving to Test PDox"
In the TEST environment, applications that have been created in IPS and resulted with EPLANS are showing as "General Success" in the ProjectDox Messages, but they are not showing up in the test ProjectDox site.

Application 266707 was created in Test and showed as successful in the ProjectDox Messages on 3/2 at 8:12 pm. As of 8:45 pm, the project still has not been added to Test ProjectDox.

![ima

[2020-03-03 01:49] JuanitaMiles commented on #462
Marking as a high priority since this needs to be working ahead of ProjectDox training next week so we can create sample applications. We need to have the time to create and provide them to the PDox trainer asap.

[2020-03-03 13:24] pooldaddy commented on #452
@AReed327 Ashley, we made a change on the GIS side, please confirm this is now working. Thanks.

[2020-03-03 14:19] ABonomo21 opened #463 "Awaiting Applicant Revision"
We have a permit that was under review was asked by a resubmit by zoning moved to awaiting applicant revisions, - applicant actions log was completed reviews assigned and did not move out of awaiting applicant revisions. permit 259326
![image](https://user-images.githubusercontent.com/47611580/75784300-0318ed00-5d30-11ea-9581-0f850ed108a1.png)

we have seen this on a few other permits but assumed

[2020-03-03 14:44] awhite806 opened #464 "Revision Assignment Condition being held up by other conditions."
#264627 - A revision was done for this permit due to a resubmit result on a review. After the revision was completed and the Revision Assignment Condition approved, the permit never moved out of Revision Assignment Milestone and into Under Review Milestone because of the PIHold condition that still needed to be approved. Other open conditions should not hold up a Revision Assignment because the re

[2020-03-03 15:05] JuanitaMiles commented on #463
Was able to replicate this on this application in the Test environment. Upon approving the 2nd cycle DPZ review the application should have issued rather than move back to Awaiting Applicant Revisions.

![image](https://user-images.githubusercontent.com/31770504/75788510-54c47600-5d36-11ea-8606-294aec29cdf2.png)

[2020-03-03 15:23] mlibbey131 commented on #463
This is also occurring on Permit# 261959

![image](https://user-images.githubusercontent.com/58980189/75790277-f220a980-5d38-11ea-849e-75fafbd8310e.png)

[2020-03-03 15:28] emilypearl1 opened #465 "Reporting- Home Builders Report"
Looking for this report-I don't recall discussing it, however I believe it was on the very initial report list

"S:\IIT All-County Share\Software Integration\Hansen\Hansen_Crystal\Production\DailyCashReportOneAcct.exe"

[2020-03-03 15:29] JuanitaMiles commented on #464
@pooldaddy It looks like there is no formula that looks for only a certain type of condition (ASSIGN) to be approved. So the system is likely just looking to see if all conditions are approved. You may need to add a formula that ensures that only the ASSIGN condition has been approved at this Revision Assignment milestone.

![image](https://user-images.githubusercontent.com/31770504/75790966-e386c

[2020-03-03 15:30] pooldaddy commented on #459
No changes required.  I reset milestone to Completeness Check in TEST.  Completed reviews and fee generated for $50.  I suspect the Planning Region filed was set to "FR" when the original set of fees were generated.

[2020-03-03 15:32] pooldaddy commented on #459
@ABonomo21 please verify

[2020-03-03 15:47] megisys commented on #462
Please let me know, if this is addressed.. I believe it may have been pointing to production still. If so please clean up this project from Production..

[2020-03-03 15:51] JuanitaMiles commented on #465
@TaraF Please review the initial list of reports that was coordinated with Jeff Tirschman. If we don't have anything on it, we may need to have a discussion to make sure all requirements are gathered for it.

[2020-03-03 16:23] JuanitaMiles commented on #462
Confirmed fixed with 266710. Closing Issue.

![image](https://user-images.githubusercontent.com/31770504/75796127-331cbc00-5d41-11ea-9e77-57c8b0171198.png)

![image](https://user-images.githubusercontent.com/31770504/75796051-24360980-5d41-11ea-979f-d329a3c835a5.png)

[2020-03-03 16:23] #462 closed

[2020-03-03 16:53] JuanitaMiles opened #466 "Building Permits - Major Logging - Incorrect Final Inspection"
Eric has reported the following issue with the Major Logging permit.

![image](https://user-images.githubusercontent.com/31770504/75798768-09659400-5d45-11ea-85d6-48e19a7dcfea.png)

![image](https://user-images.githubusercontent.com/31770504/75799040-7bd67400-5d45-11ea-940f-6c611bda9bef.png)

[2020-03-03 17:08] MLWilkins commented on #452
@pooldaddy  AReed tested in Production and it is working.  Unable to test in test as test enviro is down.

[2020-03-03 17:32] JuanitaMiles opened #467 "Use Permits - LandUse - Workflow/Status Progression Issues (Issued/Inspections)"
Land use permit L257944 issued (went through the permit issued milestone and generated an Issued date) without the inspection milestone occurring which should have generated prior to issuance, inspection milestone should trigger building inspection and life safety inspection which should assign to Kim Connor for both. Once passed permit should have issued and moved to final inspection at which tim

[2020-03-03 17:58] pooldaddy commented on #466
The logging final will come up in the final milestone.  The SWM inspection was generted beacuse VJ resulted a PWDR review with APPROVEDNS, should have been APPROVED.

[2020-03-03 18:03] JuanitaMiles opened #468 "TEST R4C IS DOWN"
Per the email I sent:

![image](https://user-images.githubusercontent.com/31770504/75805178-5189b400-5d4f-11ea-9253-846ea1c03b46.png)

[2020-03-03 18:08] JuanitaMiles commented on #466
@emilypearl1 @ABonomo21 See Jeff's comments above. Can you ladies confirm the workflow for when Vijay uses these Approved - Structual or Approved - NonStructural review results? Also the overall inspection requirements for Major Logging to make sure they align with what Jeff has explained above from the code?

[2020-03-03 18:15] emilypearl1 opened #469 "Reviews Dissapearing"
Vijay approved PWDR review and the reviews dissappeared under permit #266730. SCD review was still there (unresulted).

![image](https://user-images.githubusercontent.com/58855801/75805995-dfb26a00-5d50-11ea-869d-1f7e144b109a.png)

[2020-03-03 18:35] pooldaddy commented on #467
Please promote once test accepted
Use_FromUnderReview_NMF

[2020-03-03 18:56] JuanitaMiles commented on #469
Tried to replicate in Test but could not. My application is staying at under review and the reviews are still there.

I also have no way of knowing what might have happened to the reviews if they were once there just by looking at the application.

![image](https://user-images.githubusercontent.com/31770504/75809433-c44a5d80-5d56-11ea-9f21-175950487570.png)

[2020-03-03 18:58] emilypearl1 commented on #469
Result PWDR as APPROVEDStructural

From: Juanita Miles <notifications@github.com>
Sent: Tuesday, March 3, 2020 1:57 PM
To: dhenry-KCI/FredCo-Post-Go-Live- <FredCo-Post-Go-Live-@noreply.github.com>
Cc: Pearl, Emily <empearl@FrederickCountyMD.gov>; Author <author@noreply.github.com>
Subject: Re: [dhenry-KCI/FredCo-Post-Go-Live-] Reviews Dissapearing (#469)

[EXTERNAL EMAIL]

Tried to replicate in Te

[2020-03-03 19:01] awhite806 opened #470 "Trade License-Void Log does not work"
I put in this Void Log but the license did not void? Going to manually change the status to void.
![image](https://user-images.githubusercontent.com/58981029/75809741-4175d280-5d57-11ea-9c8d-011abbff38c0.png)

[2020-03-03 19:05] JuanitaMiles commented on #470
@pooldaddy Please look at the logic behind the VOID log for Building Permits. I believe the Void log should push the application to a Status = Void, Milestone = Closed/Complete, and waive reviews and fees.

[2020-03-03 19:13] pooldaddy commented on #463
BP_ToTolerance_NSF to promote tonight

[2020-03-03 19:15] pooldaddy commented on #461
Need more info. Apllication # and type, milestone, attachment type that failed etc.

[2020-03-03 19:21] pooldaddy commented on #460
System not currently designed to do this.  This is an enhancement,

[2020-03-03 19:29] pooldaddy commented on #458
Expired all town reviews in PROD

[2020-03-03 19:29] megisys commented on #470
USE_VOID_AAF - Needs to be replicated for Trade Licenses

[2020-03-03 19:38] ABonomo21 opened #471 "Inspections- Fire Suppression Permit"
No inspections generated on multiple fire suppression permit once it entered the inspection milestone

263362
263260
260660

[2020-03-03 19:38] JuanitaMiles commented on #452
@pooldaddy Can you confirm that the change made for GIS will be effective for both Prod and Test environments? And if this fix also addresses ticket #454 ? If so, please mark that ticket ready for testing as well.

@MLWilkins Once we get confirmation the fix is effective for both environments, we can close this ticket.

[2020-03-03 19:47] pooldaddy commented on #457
once accepted promote to Production

NONRESBLDG_PWDR_Review_AOC

[2020-03-03 20:02] JuanitaMiles commented on #471
These three permits are a type of Alarm, not suppression. From what I see in AirTable Alarms only get an Alarm Final? So these require the electrical permit to be added as a related record at the Inspections milestone, then will likely go to Final Inspection for the alarm final.

This is the way 260665 seemed to work...

![image](https://user-images.githubusercontent.com/31770504/75814147-3cb51c80

[2020-03-03 20:59] awhite806 opened #472 "Inspector Name is Incorrect"
Kim Connors Username should be KCONNOR not KFULCHER. Use permits need to be updated with this correct username
![image](https://user-images.githubusercontent.com/58981029/75819056-ef897880-5d67-11ea-83aa-f9bb88ba9cd8.png)

[2020-03-04 13:38] megisys commented on #391
PLease Test this in Test and Let me know.

[2020-03-04 13:39] megisys commented on #417
PLease Test this and let me know your findings

[2020-03-04 13:40] megisys commented on #384
PLease Test this in Test and let me know your findings

[2020-03-04 16:00] ABonomo21 commented on #471
Good job Juanita! Closed

[2020-03-04 16:00] #471 closed

[2020-03-04 16:05] ABonomo21 commented on #466
The only time Vijay should use the result code of Approved Structural or Approved Non Structural is on Grading permits with a work type of MN for Minor Grading - This will spawn the SWMESD permit that vijay is completed a review for pursuant to Res SFD's that require a SWM Standard Plan Agreement - all other reviews by vijay should be either approved or resubmit.

[2020-03-04 16:11] ABonomo21 commented on #461
it is all a/p's within the building permit, use permit business license and trade license module
there could be any number of additional attachments that need to be added by the applicant in order to provide the county with the accurate information to complete reviews.

we also need to confirm the applicants cannot remove attachments. this should be done by back office staff only.

[2020-03-04 16:17] emilypearl1 commented on #466
That is correct and how he is resulting

From: ABonomo21 <notifications@github.com>
Sent: Wednesday, March 4, 2020 11:05 AM
To: dhenry-KCI/FredCo-Post-Go-Live- <FredCo-Post-Go-Live-@noreply.github.com>
Cc: Pearl, Emily <empearl@FrederickCountyMD.gov>; Assign <assign@noreply.github.com>
Subject: Re: [dhenry-KCI/FredCo-Post-Go-Live-] Building Permits - Major Logging - Incorrect Final Inspection (#46

[2020-03-04 16:31] ABonomo21 commented on #445
Tara-

I agree with the following report parameters  The logic of the report is as follows:
-exclude APtypes of 'BPREVIEW','CAPACITY','FROPERM','GRADING','CITYIMPACT'

-Exclude APNOs that start with C (the APNO starting with C was added on 12/2/19)

-BLDGAPPL.STAT <> 'V' (All STATs returned by query are 'O' )

-BLDGAPPL.APDTTM within the date range

-Issued date is null

where I need clarification

[2020-03-04 16:32] ABonomo21 commented on #445
This report ultimately should meet the agrees parameters above and should show all applications within an
open, expired or closed status and within one of the following milestones, essentially anything prior to permit issuance
![image](https://user-images.githubusercontent.com/47611580/75900978-d0dcbd80-5e0b-11ea-95bf-d7bde771591b.png)

[2020-03-04 16:32] ABonomo21 commented on #445
I would also like to change the format of the report to show me the status and milestone.

[2020-03-04 16:34] ABonomo21 commented on #390
waiting for a permit that is issued in a town that needs to receive the coo and coc- this is on our radar...

[2020-03-04 16:35] ABonomo21 commented on #390
closing the ticket until we have an opportunity to determine if it is a bug.

[2020-03-04 16:35] #390 closed

[2020-03-04 16:41] ABonomo21 commented on #123
After speaking with Ash R we both agree that GIS has corrected the Road attribute coding to be reflective of what was in H7 and how the code was written to drive fees review etc.

with that said there is still paces that need to be cleaned up and we have an expectation that GIS will continue this exercise

juanita will send follow up email

[2020-03-04 16:41] #123 closed

[2020-03-04 18:24] pooldaddy commented on #468
Dan and I looked yesterday and coould not determine cause.  He suspects it is on their end.  Opened an extreme ticket # 14392463 with Infor yesterday around noon.  No response until today.  But still no resolution yet

[2020-03-04 18:26] pooldaddy commented on #452
@JuanitaMiles fix should resolve both TEST & Prod environments.

[2020-03-04 18:29] pooldaddy commented on #452
Ready for R4C Test verification once #468 resolved

[2020-03-04 18:31] pooldaddy commented on #454
@JuanitaMiles @TheBobEnsor #452 has been resolved in PRoduction.  That should also fix this issue.  Please verify in PROD and if ok close this ticket.

[2020-03-04 19:06] ABonomo21 opened #473 "Grading Permit Extension and Expiration Process"
We would like the grading permit extension and expiration process to mimic the building permit workflow.

Currently the "extension log" needs to be manually added however, we would like this to be added at the 11mth for extensions via the batch manager process as we have set up for building permits.

Workflow: Bolded needs to be configured...

**Batch manager** added EXT log,
Notification and Corr

[2020-03-04 19:18] ABonomo21 commented on #466
educated staff- updated SOP's will confirm issued was staff error and then close. Juanita will re-test

[2020-03-04 19:20] ABonomo21 commented on #463
can you give us a status on if this formula was promoted? @pooldaddy

[2020-03-04 19:35] pooldaddy commented on #463
@ABonomo21  Dan was supposed to promote last night but it appears he did NOT.
@megisys

[2020-03-04 19:42] megisys commented on #245
Hi All,

I have completed 90% of the Inspector Email piece. This is in TEST only at this point and works by the following. (See Below)

An Inspection must be scheduled with a date and assigned to an inspector

The inspector needs to have a photo on the webserver names as employeeid.png to show the image. (we have 90% otherwise you get blank)

Then open an inspection in Test and add a log of INSPBo

[2020-03-04 19:53] pooldaddy commented on #455
@ABonomo21 can you give me another ap#/fee where it is calculating quantity * fee correctly.  Can be a different ap type/fee just want a working example to compare to.

[2020-03-04 21:21] megisys commented on #463
No it didn't happen, didn't have availability, staff were using the system late and we have no official window of outage.. Will try tonight..

[2020-03-04 21:31] AReed327 opened #474 "PLANNING - PDOX - Can't route plan"
Project Number - PL258814
Observed behavior - Reviews only routed to half of the reviewers. Once it got to the EH on the PDOX list, it didn't route to them or any agency after them (EH,FRO,PWDR,STRNAME)
Expected behavior - I expect the plan to route as designed.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/75924538-237e9f80-5e35-11ea-9c4f-a3b82a742602.png)
![image](http

[2020-03-04 23:45] ABonomo21 commented on #393
closing and re-open in Future Phase github repository okay per Ash and Gary 3.4.2020

[2020-03-04 23:45] #393 closed

[2020-03-04 23:47] ABonomo21 commented on #383
Closing and will follow up Monthly with Mark OIiver on upcoming releases - This is something we need the option to complete but will track under projects - Okay per Gary and Ash 3.4.2020 after meeting with Juanita, Ash and Gary

[2020-03-04 23:47] #383 closed

[2020-03-04 23:50] ABonomo21 commented on #392
re-opened in the Juanita repository for phase 2 - okay per ash, gary per meeting with Juanita on 3.4.2020 - we would like this to be complete but know we need to wait for the future phase

[2020-03-04 23:50] #392 closed

[2020-03-04 23:55] ABonomo21 commented on #325
Would like to set up a meeting with Dan when he is on site next to work through the inspections that were in air table and look at the coding in the system, this could be a full day task - should be Ashlye, Jeff and Bob. @dhenry-KCI @JuanitaMiles - okay per meeting with Ashlye, Gary and Juanita 3.4.2020

[2020-03-04 23:57] ABonomo21 commented on #341
Moving to the phase 2 repository - will set up a meeting with the LB to discuss when Juanita is on site next week. Okay per Meeting with gary and Ash 3.4.2020

[2020-03-04 23:59] ABonomo21 commented on #341
Closing in this repository - moved to future phases and sent meeting request to LB

[2020-03-04 23:59] #341 closed

[2020-03-05 00:00] ABonomo21 commented on #308
moved to the future phase repository for phase 2 - set up a meeting with the LB to discuss

[2020-03-05 00:00] #308 closed

[2020-03-05 00:05] ABonomo21 commented on #425
moving to the project repository for monthly follow up with Mark Oliver- @JuanitaMiles @dhenry-KCI
we need to make sure we find a way to schedule that follow up meeting with Mark Oliver to discuss what is placed in the product enhancement project.

okay per a meeting with Ash, Gary and Juanita 3.4.2020

closing for now will track in the project

[2020-03-05 00:05] #425 closed

[2020-03-05 12:02] MLWilkins commented on #474
created the same application type in TEST and the due dates transferred from PDOX to IPS.
![image](https://user-images.githubusercontent.com/50637067/75979692-0a1a3980-5eaf-11ea-9837-645b20ba14bf.png)

![image](https://user-images.githubusercontent.com/50637067/75979758-32099d00-5eaf-11ea-88d1-77fe831440d9.png)

[2020-03-05 12:13] ABonomo21 opened #475 "Health Review - Did not generate"
The health review did not generate on a resuse accessory structure served by well and septic when the permit first spawned reviews.

it had to go through a revision and health automatically added.

The review should have added the first time and it should not automatically add the second time...
![image](https://user-images.githubusercontent.com/47611580/75980590-c88a8e00-5eb0-11ea-8ad3-ba8d64876c

[2020-03-05 12:21] ABonomo21 commented on #464
I will test this in test but wanted to document another example just in case - this is in production.
![image](https://user-images.githubusercontent.com/47611580/75981148-e3113700-5eb1-11ea-84e4-6c46c1396f3f.png)

[2020-03-05 12:32] AReed327 commented on #474
Attempted to route plan again in production this morning 3/5/2020. Same error. AReed
![image](https://user-images.githubusercontent.com/58854333/75981882-6e3efc80-5eb3-11ea-84d7-178a13ef2c06.png)

[2020-03-05 12:44] AReed327 commented on #474
Juanita fixed this. Issue was that AEvangelista was expired as a user in IPS. Likely due to a new tool to expire old users. However she is not an old user.

[2020-03-05 12:44] #474 closed

[2020-03-05 14:21] awhite806 commented on #463
Still Occurring...Seems to happen with every permit that has a revision done on it.
262110
![image](https://user-images.githubusercontent.com/58981029/75990144-70f51e00-5ec2-11ea-99f9-475fc63ae43f.png)
263268
![image](https://user-images.githubusercontent.com/58981029/75990216-8ff3b000-5ec2-11ea-94e3-0ae28526a77d.png)

[2020-03-05 15:28] JuanitaMiles commented on #468
Followed up with Jimi 3/5 AM. Email below:

![image](https://user-images.githubusercontent.com/31770504/75996571-0a74fd80-5ecc-11ea-9e2e-393d9dcc485c.png)

[2020-03-05 15:31] JuanitaMiles commented on #469
Retesting today with the additional review result criteria emily provided above to try to replicate.

[2020-03-05 15:31] awhite806 opened #476 "Electric Cut Ins Report duplicating permits"
On the Electrical Cut Ins some of the permits are duplicating on the report. They only had the one inspection so they should only be there once.
[Electric Cut Ins.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4293719/Electric.Cut.Ins.pdf)

[2020-03-05 16:07] JuanitaMiles commented on #469
Was able to replicate in Test! Review and Condition information should NOT be removed from the application. This issue appears when the PWDR review is resulted with APPROVEDS. Resulting with a regular Approved result does not produce the issue. See steps to replicate below. Application # 266718.

Steps to replicate:
1) Grading application spawned from a RESBLDG permit.

2) Began in Awaiting Applic

[2020-03-05 16:12] megisys commented on #463
THis issue was moved to production. please let me know if it continues to happen.. I refreshed this dll just now

[2020-03-05 16:35] JuanitaMiles commented on #469
Confirmed with Gary Hessong on 3/5 11:20 am that we would Dan to address.

[2020-03-05 17:00] JuanitaMiles commented on #469
No change in issue. Reviews and Condition are still being wiped out once approving PWDR with APPROVEDS.

Before APPROVEDS result.
![image](https://user-images.githubusercontent.com/31770504/76005136-99881280-5ed8-11ea-8d52-9c38bcf715eb.png)

After APPROVEDS result:
![image](https://user-images.githubusercontent.com/31770504/76005275-c9371a80-5ed8-11ea-91a5-865ecb34c9f3.png)

[2020-03-05 17:04] TheBobEnsor commented on #472
Completed
Bob

[2020-03-05 17:04] #472 closed

[2020-03-05 18:50] JuanitaMiles commented on #466
Tested with resulting the PWDR review with the standard Approved review and the SWM inspection did not populate. The reviews populated as Eric outlined above. Closing ticket as a training issue. Will follow up with Eric for his information.

![image](https://user-images.githubusercontent.com/31770504/76014677-035be880-5ee8-11ea-9c67-5ce57c38581a.png)

![image](https://user-images.githubusercontent

[2020-03-05 18:50] #466 closed

[2020-03-05 18:51] megisys commented on #469
Give that a go please.

[2020-03-05 19:19] JuanitaMiles commented on #469
Slight improvement in the issue. Upon resulting PWDR with APPROVEDS the PARENT condition and the COMPLETE review did not get wiped out but the PWDR and SCD reviews still disappeared and the application moved to Pending Issuance.

Before APPROVEDS result:
![image](https://user-images.githubusercontent.com/31770504/76016753-6ac76780-5eeb-11ea-81a1-fd1328bcb1a8.png)
![image](https://user-images.githu

[2020-03-05 19:50] megisys commented on #469
SOrry Juanita.. Very last time and we should be good..

[2020-03-05 20:12] JuanitaMiles commented on #469
I think we have a winner. Approved Structural PWDR review remained in Under Review, did not clear reviews or conditions, and spawned the ESD permit appropriately. Test accepted.

Before APPROVEDS result:
![image](https://user-images.githubusercontent.com/31770504/76021101-a3b70a80-5ef2-11ea-918b-367f33ee35eb.png)
![image](https://user-images.githubusercontent.com/31770504/76021128-afa2cc80-5ef2-11

[2020-03-06 13:17] ABonomo21 commented on #464
Tested in test - permit 265198

Added a P&I hold on this permit to trigger the additional condition-

did the revision and approved the revision assignment condition and it did not bypass
![image](https://user-images.githubusercontent.com/47611580/76086783-d01a6780-5f82-11ea-9f70-b1880f32a34d.png)

once i approved the other condition for the P&I hold the permit progressed as it should have.
![imag

[2020-03-06 13:19] ABonomo21 commented on #459
confirmed the fee generated when you put it back to completeness check like it should have - how do we address the PR issue as this was a know problem prior to go live that was resolved.

[2020-03-06 13:19] ABonomo21 commented on #459
@JuanitaMiles @pooldaddy see comment above.

[2020-03-06 13:27] ABonomo21 commented on #457
Put permit 258450 back in the under review cycle and conduct the test and the additional reviews did not add automatically. test accepted

[2020-03-06 13:41] ABonomo21 commented on #417
added another footing inspection to permit 200623- generated fees correctly
![image](https://user-images.githubusercontent.com/47611580/76087875-06f17d00-5f85-11ea-882a-c89fc8d4bfcf.png)

tested an electrical by adding a new temp inspection after the previous passed - it started a new cycle count- after the 2nd it generated the fee-
![image](https://user-images.githubusercontent.com/47611580/76088

[2020-03-06 13:51] ABonomo21 commented on #417
266617 tested and worked correctly first of type passed, added another of the same type went to cycle 2 - failed and the fee generated for the third of the same type
![image](https://user-images.githubusercontent.com/47611580/76089384-8da75980-5f87-11ea-9a5c-9de0e7977e13.png)

[2020-03-06 13:52] ABonomo21 commented on #417
266546 also worked
![image](https://user-images.githubusercontent.com/47611580/76089546-d8c16c80-5f87-11ea-8ea6-6828f766a369.png)

[2020-03-06 13:58] ABonomo21 commented on #417
Juanita will double check the electrical on that did not appear to work right - if she is not able to replicate okay to be test accepted- 3 other a/p types tested appear to be working with a variation in the scenarios.

[2020-03-06 14:11] ABonomo21 commented on #384
@JuanitaMiles

can you take a look at this one-

i went in and changed the renewal date - got the notification that the renewal period was open, did my confirmation details however, no renewal review generated for me to test if the resubmit worked... did I do something wrong?

[2020-03-06 14:16] ABonomo21 commented on #245
@JuanitaMiles - can you check me on this one as well
266632 scheduled inspection for today, assigned to bob who should have a photo- then added the INSPBOOK log - did not get any notification.

[2020-03-06 14:17] ABonomo21 commented on #245
@megisys - yes dan if this works once juanita double checks my testing - this notification should send when the inspection is scheduled and the notifiaction is sent via the Bob Button- assuming that is the only way we are processing these scheduled requests. @TheBobEnsor Bob can you confirm you are always using the Bob button?

[2020-03-06 14:31] ABonomo21 commented on #467
tested- L257967

worked with one error-  created a/p, went to completeness check, approved completeness check review, went to fees, paid fees, went to inspections generated building and ols inspection..

passed both inspections and got an email that said a re-inspection fee was due?? this should only happen if there is a third inspection of the type that requires a re-inspection fee, no fee genera

[2020-03-06 14:43] TheBobEnsor commented on #245
Yes I am always using the button

[2020-03-06 15:06] ABonomo21 commented on #435
@JuanitaMiles dan assigned this one back to me? What am i supposed to test?

[2020-03-06 15:36] JuanitaMiles commented on #417
Was not able to replicate the electrical on a couple examples. Marking as Test Accepted.

266744, 265433

[2020-03-06 16:04] AReed327 opened #477 "PLANNING - APFO - DUSWM review populated when it shouldn't have"
Project Number - A258895
Observed behavior - DUSWM review populated in error. W/S designation is MU (Multi Use - private)
Expected behavior - DUSWM review should not populate. (no DUSWM fee populated so that part is correct)
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/76100391-905f7a00-5f9a-11ea-9d79-09c3ad6fc539.png)
![image](https://user-images.githubusercontent.com/

[2020-03-06 19:53] AReed327 opened #478 "Planning - Review Problems - Problem Resolution Code - DO NOT USE was removed from Transfer"
Project Number - 19855
Observed behavior - Transfer used to say "do not use" but it has been removed. Reviewers are now using transferred and they shouldn't be.
Expected behavior - Add the note back to transfer
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/76117682-3ec6e780-5fba-11ea-83ea-69084dbf6efa.png)

[2020-03-06 22:09] MLWilkins commented on #478
Need to check all planning AP types

[2020-03-08 00:09] MLWilkins commented on #478
See ticket 2255 from original repository.

[2020-03-09 14:35] pooldaddy commented on #93
Expired review DUSWMF for Non ResBLDG in TEST
![image](https://user-images.githubusercontent.com/47391482/76223004-9d29db00-61f1-11ea-81bc-88405e3f746f.png)

[2020-03-09 16:11] awhite806 commented on #464
This happened again in Production. Permit 200594. Once I approved the other condition, it went to the correct Under Review milestone. then I  had to remove my temp approval.
![Annotation 2020-03-09 115644](https://user-images.githubusercontent.com/58981029/76233797-2398e980-61ff-11ea-8a10-2ff1c31ecfd8.png)
![Annotation 2020-03-09 115644 2](https://user-images.githubusercontent.com/58981029/7623380

[2020-03-09 16:59] awhite806 opened #479 "Official Issuance did not auto attach to the permit."
The Placard and Official did not auto attach to the permit when it issued. I manually added them for the customer.
![image](https://user-images.githubusercontent.com/58981029/76238133-c6546680-6205-11ea-9d17-4569d4f2d2a7.png)

[2020-03-09 17:14] pooldaddy commented on #478
@MLWilkins  I can expire this PRC, to prevent it from being used as opposed to just changing the description.  Let me know

[2020-03-09 17:17] MLWilkins commented on #478
Hi Jeff,

Per Dan it has to stay for system generated transfers. That’s why we added “do not use” so staff wouldn’t use it.

Mike

Sent from my iPhone

On Mar 9, 2020, at 1:14 PM, pooldaddy <notifications@github.com> wrote:

﻿
[EXTERNAL EMAIL]

@MLWilkins<https://github.com/MLWilkins> I can expire this PRC, to prevent it from being used as opposed to just changing the description. Let me know

—
Y

[2020-03-09 17:44] awhite806 opened #480 "Building Fee did not generate for Garage permit."
This garage permit did not generate a building fee. all the required fields were complete. the fee should have been the Garage/Pole Building fee of $177
![garage fee error](https://user-images.githubusercontent.com/58981029/76241911-20f0c100-620c-11ea-8faa-d16adc9ec8cb.png)
![garage fee error 2](https://user-images.githubusercontent.com/58981029/76241914-22ba8480-620c-11ea-89f2-d1e3fd9cb894.png)

[2020-03-09 17:52] pooldaddy commented on #478
Hi Jeff,

Per Dan it has to stay for system generated transfers. That’s why we added “do not use” so staff wouldn’t use it.

[2020-03-09 17:53] pooldaddy commented on #478
@mwi lkensChange made in TEST.  Please verify.  if ok I can me change in PROD.
Hi Jeff,
![image](https://user-images.githubusercontent.com/47391482/76242564-4f22d080-620d-11ea-9a27-6ff345447d3f.png)

[2020-03-09 18:08] TaraF commented on #310
Ready for re-test.  Stakeholders have been emailed.

[2020-03-09 18:49] MLWilkins commented on #478
checked Site, Plat, FRO, PWCon, PrePlat, and Rezone.  All look good.

@pooldaddy ready to change in Prod.

[2020-03-09 19:04] pooldaddy commented on #478
Completed in PROD

![image](https://user-images.githubusercontent.com/47391482/76248186-37e8e080-6217-11ea-9693-6fe22787f5c4.png)

[2020-03-09 19:04] #478 closed

[2020-03-09 19:23] TaraF commented on #445
@ABonomo21 - I apologize for the delay, I was out sick last week.  I think we can make all the changes you have requested above.

To answer your question, APDTTM and ADDDTTM are fields themselves, there isn't any reference or documentation from Infor.  However, based on your query and a little research on our end, it appears that APDTTM best represents the "Processed" or "Issued" Date - both label

[2020-03-09 19:29] TaraF commented on #465
@emilypearl1  - sorry for the delay, I was out sick last week.

Could you please attach an example PDF to this thread?

I can actually get to the drive location, but getting an error when trying to print/export the report. Thanks.

[2020-03-09 19:33] emilypearl1 commented on #465
Thanks Tara! Hope you are feeling better.

[Transaction Detail Report.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4308584/Transaction.Detail.Report.pdf)

[2020-03-09 20:00] TaraF commented on #476
Assigned, in progress.

[2020-03-09 20:03] TaraF commented on #314
These updates have been made to Test.  Ready for re-test.

[2020-03-09 20:18] TaraF commented on #465
@emilypearl1  - thanks!  Ok, so we have Daily Cash reports that were created for Dan Lewis' group, that are very similar, but slightly different.

It looks like your report is using one specific Account #.  Do you have the new account string it corresponds with for IPS?  Should I pull Jeff W in so he can look at the cross walk table?

Current Daily Cash report:
![image](https://user-images.githubu

[2020-03-09 20:24] JuanitaMiles commented on #435
@megisys I've spot checked some of the addresses in Mary's spreadsheet (by looking up by linked parcel) and the Township on the address appears to be updated. I believe this update can be made in Prod.

@ABonomo21 This fix, however, is not related to the Health Review fee adding incorrectly. A different ticket will need to be created or reopened/updated. May need to clarify the logic on when Healt

[2020-03-09 20:26] JuanitaMiles commented on #435
Not reopening #12 as it does not discuss the Town piece specifically. Will create a new ticket and reference #12 .

[2020-03-09 20:51] JuanitaMiles opened #481 "Building Permits - Health Review Fees when Water/Sewer = TOWN"
Ashlye Bonomo reported the following issue in ticket #435, but creating a new ticket as it is unrelated to the ticket 435. This issue here appears to be how the AOC formula is written to add the Health Review fee to building permit applications. The formula appears to have the Health Review fee add when the Sewer Type and Water Type do not equal Public. According to what Ashlye has reported as an

[2020-03-10 11:34] emilypearl1 commented on #465
the budget # is 10.98.998.999.20640.0000
![image](https://user-images.githubusercontent.com/58855801/76308617-8a6edf00-62a1-11ea-8fba-73a85dcc8a80.png)