[2020-03-10 12:22] awhite806 commented on #464
Happened again with Permit 202593
![image](https://user-images.githubusercontent.com/58981029/76311913-534ffc00-62a8-11ea-8fed-20cc44bec9c0.png)

[2020-03-10 12:50] #463 closed

[2020-03-10 13:44] awhite806 commented on #21
REOPENING-Permit 268149. Health review generated but did not auto assign to Karen Amoss.
![image](https://user-images.githubusercontent.com/58981029/76318175-b09d7a80-62b3-11ea-8b96-d53519414953.png)

[2020-03-11 13:41] JuanitaMiles commented on #467
Was able to replicate the re-inspection notification problem in test: L257968.

As Ashlye noted, the re-inspection fee and notification should not add/send unless there are three of the same type of inspection. The notification seemed to send when there were three inspections total on the application.

![image](https://user-images.githubusercontent.com/31770504/76422793-2e2cbd80-637c-11ea-9543-d2c

[2020-03-11 16:26] JuanitaMiles commented on #468
IIT has worked with Infor Extreme to resolve the issue. I did a quick test to confirm I was able to login and view my dashboard. County staff will need to provide confirmation all is working as expected when they are available to test.

[2020-03-11 16:43] JuanitaMiles opened #482 "DLL Error When Trying to Assign Building Reviews in Test PDox"
During training we are getting the following error when trying to assign reviewers for a Fire Permit. This appears to be a dll error that may require a sync of environments.

This is occuring in the TEST pdox environment.
High Priority due to the interruptions it is causing during official ProjectDox training.

![image](https://user-images.githubusercontent.com/31770504/76441329-9cca4500-6395-11ea

[2020-03-11 16:49] megisys commented on #461
Emailed the County on this issue.. Need examples

[2020-03-11 16:51] #469 closed

[2020-03-11 17:07] ABonomo21 commented on #468
Able to log in to R4C test and have been able to see my dashboard, submit an application (266746) and look up records

[2020-03-11 17:08] megisys commented on #480
See 266747

[2020-03-11 17:11] megisys commented on #284
PLN_NotificaitonFinal_AOC needs to be Disabled in Production

[2020-03-11 17:13] MLWilkins commented on #468
I was able to log on and see my dashboard items.  Still super slow.

@ABonomo21  was it slow for you or ok?

[2020-03-11 17:17] megisys commented on #475
See 260782 in Test

Promoted RESUSES_EH_Review_AOC once accepted

[2020-03-11 17:18] ABonomo21 commented on #314
![image](https://user-images.githubusercontent.com/47611580/76444683-b15d0c00-639a-11ea-883b-f5d7578a3ce6.png)

![image](https://user-images.githubusercontent.com/47611580/76444774-ce91da80-639a-11ea-9b31-27dc31da4cf6.png)

[2020-03-11 17:23] ABonomo21 commented on #475
retested in test 266748 - fee and review generated
![image](https://user-images.githubusercontent.com/47611580/76445256-82936580-639b-11ea-8a98-bc7dfc92c306.png)

[2020-03-11 17:24] megisys commented on #450
See A258876 - Condition Formula for APFO Updated

[2020-03-11 17:27] megisys commented on #456
This issue was due to a GIS Error populating Plan Region. Previously addressed

[2020-03-11 17:40] JuanitaMiles commented on #459
The issue of the planning region has since been addressed by Jeff and Dan via email. There was a meeting scheduled on 3/3/20 with IIT/GIS and Infor to discuss how the County could handle this issue in the future if bulk updates needed to be made again, however this meeting was declined by Infor last minute due to resource usage concerns.

[2020-03-11 17:42] JuanitaMiles commented on #459
Since confirmation has been provided that the fee generated correctly, and no additional configuration change was needed, closing the ticket.

[2020-03-11 17:42] #459 closed

[2020-03-11 17:47] megisys commented on #435
Completed in Prod

[2020-03-11 17:47] #435 closed

[2020-03-11 17:51] JuanitaMiles commented on #452
#468 Has now been resolved and is awaiting final confirmation from county staff.

@MLWilkins and @AReed327 please confirm the map functionality works in Test R4C as well. If confirmed in Test, I think we can close this ticket since it was previously confirmed to be working again in Prod.

[2020-03-11 17:53] ABonomo21 commented on #482
tested 266750 from ips test to pdox test - all communications worked

[2020-03-11 18:05] JuanitaMiles opened #483 "Mobile - Users Not Able to Login"
Several mobile users are not able to login to the application. They are getting errors.

**Bob to provide screenshot of errors as well as any additional details regarding timing, etc of the issue.

Brief details gathered from Bob include: those users that logged in super early this morning got logged in and stayed logged in, however, users that tried log in a little later in the day have not been

[2020-03-11 18:41] TheBobEnsor commented on #483
Started this morning
those that were logged in and were able to stay logged in had no problem.  Only those that tried logging in later or for some reason got kicked off could not get logged back in
error message  is attached
![Error sending request](https://user-images.githubusercontent.com/60886453/76451755-4fa29f00-63a6-11ea-8a25-796e5867879f.jpg)

[2020-03-11 18:57] ABonomo21 commented on #455
worked -

Just curios - is there a reason the service added the quantity and calculated when the motor generator calculated the fee correctly for 3 without putting a quantity? motor generator is $36 each there were 3 listed on the details page like the service which should have calculated at $36*3=108 but again didn't update the quantity.

![image](https://user-images.githubusercontent.com/4761158

[2020-03-11 19:03] ABonomo21 commented on #468
was able to submit a plat PL258908

[2020-03-11 19:04] megisys commented on #464
It is happening in Production still as it hasnt passed testing in Test.. Please retest a RESUSE or RESBLDG in Test and let me know..

See 265198

[2020-03-11 19:06] megisys commented on #477
This issue will be wide ranging as MU was not discussed previously. Watch for more issues here.

[2020-03-11 19:08] megisys commented on #477
PLN_APFO_DUSWM_Review_AOC - Updated for MU

[2020-03-11 19:11] ABonomo21 commented on #93
retested 266752
![image](https://user-images.githubusercontent.com/47611580/76453926-1a984b80-63aa-11ea-895a-8ed3748e1c7c.png)

[2020-03-11 19:18] ABonomo21 commented on #464
tested 266747 worked !

![image](https://user-images.githubusercontent.com/47611580/76454775-8af39c80-63ab-11ea-8b0b-f29fb5380dd7.png)

[2020-03-11 19:21] ABonomo21 commented on #245
Assigning back to Dan to get him the answer from Bob

[2020-03-11 19:22] ABonomo21 commented on #245
@megisys - did not get a notification from test 266632

[2020-03-11 19:31] ABonomo21 commented on #461
test permit 266746
at the applicant resubmit

[2020-03-11 19:31] ABonomo21 commented on #461
![image](https://user-images.githubusercontent.com/47611580/76456419-554fb300-63ad-11ea-8063-d6c9b51cb44e.png)

[2020-03-11 19:56] JuanitaMiles commented on #384
If you tested this with an electrical license you did not do anything wrong and you are correct in that it does not work properly.

Electrical License EM257849 did not progress through the Renewal Review milestone at all and therefore did not generate the Renewal review in order to test the resubmit option.

![image](https://user-images.githubusercontent.com/31770504/76458275-b036d980-63b0-11ea-9d

[2020-03-11 20:00] JuanitaMiles commented on #384
Plumbing Master works with the exception of the Awaiting Payment notification after the application progresses through a cycle of Awaiting Renewal Resubmit then to Active. There were no fees to be paid but a notification was sent upon approving the Renewal review.

![image](https://user-images.githubusercontent.com/31770504/76458677-466aff80-63b1-11ea-84de-5817bdeaa10f.png)

![image](https://user-

[2020-03-11 20:00] JuanitaMiles commented on #384
Each trade license application type will need to be tested in order to test accept.

[2020-03-11 20:17] JuanitaMiles commented on #384
Appliance Master - PA257851 - Several Problems

1) Duplicate Renewal Notifications were sent.

![image](https://user-images.githubusercontent.com/31770504/76459567-d2c9f200-63b2-11ea-8edb-0f2a46505322.png)

2) Resubmit option on the Renewal review was there but when resulting with resubmit the application did not progress through Awaiting Renewal Resubmit milestone and then generate a 2nd renewal

[2020-03-11 20:28] JuanitaMiles commented on #384
Plumbing Misc - PJ257852 - Couple of Problems

1) Resubmit option on the Renewal review was there but when resulting with resubmit the application did not progress through Awaiting Renewal Resubmit milestone and then generate a 2nd renewal review. It went straight to active.

![image](https://user-images.githubusercontent.com/31770504/76460690-d8283c00-63b4-11ea-8020-932fae75d5a5.png)

2) The same

[2020-03-11 20:34] megisys commented on #483
Which Users.. Details are important in trying to work through issues.

[2020-03-11 20:38] JuanitaMiles commented on #384
Utility - PU257853 - Several problems

1) No ready for renewal notification was sent.
![image](https://user-images.githubusercontent.com/31770504/76461429-415c7f00-63b6-11ea-9fe3-17b1e565a4b9.png)

2) Resubmit option on the Renewal review was there but when resulting with resubmit the application did not progress through Awaiting Renewal Resubmit milestone and then generate a 2nd renewal review. I

[2020-03-12 11:07] MLWilkins commented on #468
this morning I logged into R4C test and got this error message.

![image](https://user-images.githubusercontent.com/50637067/76515496-0ac34a80-6430-11ea-81d1-0657a1df9963.png)

@JuanitaMiles @pooldaddy @AReed327 @ABonomo21

[2020-03-12 11:14] MLWilkins commented on #468
went ahead and tried to submit an application and got this different error

![image](https://user-images.githubusercontent.com/50637067/76516055-25e28a00-6431-11ea-9709-0a58014ae66f.png)

[2020-03-12 11:34] emilypearl1 opened #484 "Processed Date and Issued Dates"
Permit 259225 was a spawned permit that was added on 1/9/20

Justin was the last to approve his review and the processed and issued dates generated when he resulted his review.

![image](https://user-images.githubusercontent.com/58855801/76517244-59261880-6433-11ea-996a-06660e327fca.png)

The processed date should be the date it started the process.
issued- is correct.

[2020-03-12 11:41] TheBobEnsor commented on #483
Inspectors have all logged in this morning
Bob

[2020-03-12 11:41] #483 closed

[2020-03-12 11:58] JuanitaMiles commented on #468
Looks like a sync needs to be done for test environment.  DLL errors.

[2020-03-12 11:59] JuanitaMiles commented on #468
will this cause a disturbance in PDox/IPS for training?

[2020-03-12 12:06] MLWilkins commented on #468
It shouldn’t. We aren’t using R4C for training

Sent from my iPhone

On Mar 12, 2020, at 8:00 AM, Juanita Miles <notifications@github.com> wrote:

﻿
[EXTERNAL EMAIL]

will this cause a disturbance in PDox/IPS for training?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/issues/468#issuecomment-5

[2020-03-12 12:12] MLWilkins commented on #468
Gary Ashlye and I just successfully submitted a electrical permit but then tried an APFO exemption and got the error

Sent from my iPhone

On Mar 12, 2020, at 8:06 AM, Wilkins, Michael <MWilkins@frederickcountymd.gov> wrote:

﻿ It shouldn’t. We aren’t using R4C for training

Sent from my iPhone

On Mar 12, 2020, at 8:00 AM, Juanita Miles <notifications@github.com> wrote:

﻿
[EXTERNAL EMAIL]

will

[2020-03-12 12:30] JuanitaMiles commented on #484
The Processed date should populate with the date the Completeness Check was approved/completed.

![image](https://user-images.githubusercontent.com/31770504/76521670-a9a17400-643b-11ea-9d8a-b3c76b0e1faf.png)

[2020-03-12 12:45] megisys commented on #484
Hi @JuanitaMiles this instance has been overriden and bounced so much. Why is this happening.. The Issued date is correct. The processed date is anyone guess due to the manually manipulation here. I believe this is an isolated incident and there is nothing here to fix.

[2020-03-12 12:47] MLWilkins commented on #468
fixed

![image](https://user-images.githubusercontent.com/50637067/76523014-0a31b080-643e-11ea-8cbf-35a1863c42b0.png)

[2020-03-12 12:47] #468 closed

[2020-03-12 12:47] MLWilkins commented on #452
fixed- A258911

[2020-03-12 12:47] #452 closed

[2020-03-12 12:48] emilypearl1 commented on #484
268193 just completed completeness check no processed date
![image](https://user-images.githubusercontent.com/58855801/76523129-4238f380-643e-11ea-88c7-7695333ab977.png)

[2020-03-12 13:38] JuanitaMiles commented on #484
The established process is as follows: The processed date should populate once the application moves out of the Intake/Completeness Check milestone. Standard process should have the Completeness Check review resulted as the last step taken in the Intake Review milestone so it would USUALLY be the same time the completeness check review is completed.

I will test to see if I can replicate any issue

[2020-03-12 13:47] megisys commented on #484
Juanita,  i double checked just now.. So I think it is right

[2020-03-12 14:01] MLWilkins commented on #450
fixed

![image](https://user-images.githubusercontent.com/50637067/76529233-64d00a00-6448-11ea-9c12-4bb14358aa96.png)

![image](https://user-images.githubusercontent.com/50637067/76529263-70bbcc00-6448-11ea-8b2f-a657da93fa9f.png)

[2020-03-12 14:13] MLWilkins commented on #284
fixed

![image](https://user-images.githubusercontent.com/50637067/76530315-f2602980-6449-11ea-8e80-0e7729648658.png)

![image](https://user-images.githubusercontent.com/50637067/76530397-0d329e00-644a-11ea-894f-744ea50b2a32.png)

[2020-03-12 14:18] awhite806 opened #485 "U&O hold preventing permit issuance"
Justin put a U&O hold on this permit but it is holding up the issuance of the permit, when it shouldn't. the U&O hold should only hold up the permit at the Pending Certificate Stage.
![U o HOLD](https://user-images.githubusercontent.com/58981029/76530927-cf824500-644a-11ea-92e5-5a752946cd0a.png)
![U o HOLD 2](https://user-images.githubusercontent.com/58981029/76530934-d01adb80-644a-11ea-97a5-2a1fe

[2020-03-12 14:22] MLWilkins commented on #391
got R4C error on NID submittal.

![image](https://user-images.githubusercontent.com/50637067/76530748-90ec8a80-644a-11ea-95bf-fee30c194839.png)

On Verify I could not save intake review result.  Save and Save/close buttons not functioning.

![image](https://user-images.githubusercontent.com/50637067/76531241-49b2c980-644b-11ea-9068-937886861d44.png)

[2020-03-12 14:51] JuanitaMiles commented on #485
This was previously discussed with Ibti back in March 2019 old github 318. U&O should only be for the Pending Certificate milestone.

![image](https://user-images.githubusercontent.com/31770504/76533940-36a1f880-644f-11ea-9785-929ce98260df.png)

[2020-03-12 17:11] awhite806 opened #486 "Revision fee did not add when review is marked as resubmit."
permit 266470 did not generate a revision fee when the review for plan review is marked as resubmit.
![266470 revision fee did not add 2](https://user-images.githubusercontent.com/58981029/76547071-f77da280-6462-11ea-8f76-49567da705da.png)
![266470 revision fee did not add](https://user-images.githubusercontent.com/58981029/76547072-f77da280-6462-11ea-91c0-a309b2215081.png)

[2020-03-13 13:30] megisys commented on #486
Hi All,

What are the revision rules. I have that only PWDR and Health reviews kick off revision fees. PLNREV was never included. Not for Res or NonREs. PLease advise

[2020-03-13 13:41] megisys commented on #486
Needed to take into consideration the Completeness check resubmits.. Changed in TEST.

BLDG_PWDRNoRevisionFee_AOC

[2020-03-13 13:48] megisys commented on #449
Hi There, I changed for USE. Not all Modules. If accepted for USE. change will be made to all modules.

Dan

[2020-03-13 13:49] megisys commented on #449
SendNotifications to be promoted and adjusted on acceptance

[2020-03-15 12:59] megisys commented on #21
No Code Change.. Updated in Production

[2020-03-15 13:06] megisys commented on #461
Updates to  allow attachments during milestones which start with Awaiting. Also can add attachments once a permit has an issued date and time.

[2020-03-15 13:27] megisys commented on #485
BP_HoldLog_SCF to be promoted
BP_UOHoldLog to be copied and placed on Pending Certification

[2020-03-15 13:33] megisys commented on #451
See  A258876 - Outcome Added

[2020-03-16 13:49] AReed327 opened #487 "PLANNING - APFO holding up Site Plan closure"
Project Number - SP257714/A257678 & SP257610/A257608.
Observed behavior - Site plan will not close. It says APFO not approved as a Child Application. However the APFO is Closed/Complete
Expected behavior - I expect Site Plan to close with an approved APFO Exemption worktype or an approved APFO worktype that is in Admin Closure.
Screenshot -
![image](https://user-images.githubusercontent.com/588543

[2020-03-16 14:03] megisys commented on #487
The APFO has no approval date.

[2020-03-16 14:15] AReed327 commented on #487
Can you make it so that the approval date populates when the application closes on APFO exemptions?

[2020-03-16 14:30] MLWilkins opened #488 "planning-APFO- no LOU selected but in awaiting LOU milestone and LOU required notification going out"
this is in test-assuming it is also doing this in Prod.

selected "no lou"  but went to awaiting LOU milestone and emailed customer for an LOU.  When "no lou" is selected it should not ask for an LOU

![image](https://user-images.githubusercontent.com/50637067/76768042-dd003d80-6770-11ea-950f-1261b86286c2.png)

![image](https://user-images.githubusercontent.com/50637067/76768131-f7d2b200-6770-11ea

[2020-03-16 14:32] MLWilkins commented on #488
also, a condition for LOU received isnt populating

![image](https://user-images.githubusercontent.com/50637067/76768472-70d20980-6771-11ea-8207-703b0d7def3e.png)

[2020-03-16 14:44] TaraF commented on #476
This is ready for review in Test, for both Electrical Cut In reports (Thurmont/Non Thurmont).

[2020-03-16 16:07] AReed327 commented on #487
Where is the APFO Approval date supposed to go? I initially thought you were talking about the expires date under job description but that's not approval and it didn't close with the expiration date being filled in.

[2020-03-16 16:35] TaraF commented on #465
Assigned, in progress.

[2020-03-16 16:50] MLWilkins commented on #451
fixed

![image](https://user-images.githubusercontent.com/50637067/76781125-9b798d80-6784-11ea-930c-fb9b9ad49ea1.png)

[2020-03-16 19:17] megisys commented on #487
Approval is set at Admin Closure.. I think Exempts bypass this milestone

[2020-03-16 19:21] megisys commented on #487
Please test Exempt APFO. Should set approved date after last review is approved during under review

[2020-03-16 19:32] #21 closed

[2020-03-16 19:43] ABonomo21 opened #489 "PROJECT DOX FILE UPLOAD ERRORS"
We are having applicant struggle to get plans uploaded in to project dox- Mara was on site and thinks this may be a job processing error - can we please escalated this to the support team with Avolve

there is a current permit in pdox that has erroed files and the applicant is in I.E. , files are less than 1MB  and they are PDF files. It is preventing an applicant from submitting and he has upload

[2020-03-16 19:51] megisys commented on #391
Hi Mike,

Adjustment have been made..

[2020-03-16 20:05] megisys commented on #488
@JuanitaMiles please assign this t me.. It is a redesign

[2020-03-16 20:07] JuanitaMiles commented on #488
@megisys done

[2020-03-17 10:56] MLWilkins commented on #391
VERIFY looks good.

NID- got this error when trying to result the under review review.
![image](https://user-images.githubusercontent.com/50637067/76849091-2016eb00-681b-11ea-9687-76162b0a34ca.png)

Even though nothing is in logs and its still under review, I received two "application finalized" emails!
![image](https://user-images.githubusercontent.com/50637067/76849662-31acc280-681c-11ea-806f-bb

[2020-03-17 11:36] MLWilkins commented on #477
Now DUSWM fee IS populating and it shouldnt when a MU/private system, and now the transportation Engineering fee Isnt population.  When water/sewer= MU private no DUSWM fee or review should populate, but Trans Eng fee and review must populate always.

![image](https://user-images.githubusercontent.com/50637067/76852467-c49c2b80-6821-11ea-9fe1-f72e336f823c.png)

Afgter paying the the DUSWM fee (tha

[2020-03-17 12:05] AReed327 commented on #487
Verified approved date populated and SITE plan associated to APFO closed upon completion
SP258933/A258932
![image](https://user-images.githubusercontent.com/58854333/76854740-0c24b680-6826-11ea-9db4-df4857c501c0.png)
****

[2020-03-17 13:46] megisys commented on #391
Sorry Mike.. Can you try now.. I forgot about a milestone

[2020-03-17 13:49] megisys commented on #477
That fee listed looks at detail page for Study water and Sewer = True. Not linked to parcel details

[2020-03-17 13:51] megisys commented on #477
The no Study fee is linked to the no study option on the detail page. Is this right ?

[2020-03-17 14:06] AReed327 commented on #477
That's correct. The No Study option on APFO worktype STANDARD produces the $104 fee. I have retested on an APFO exemption application to replicate the initial issue on project # A258895 where a DUSWM review populated in error. That has been corrected. No DUSWM review populated on A258934. AREED
![image](https://user-images.githubusercontent.com/58854333/76864060-db00b200-6836-11ea-91dc-0eb34ffc53b

[2020-03-17 15:07] JuanitaMiles commented on #484
Replicated the grading permit above and the processed/issued date/times generated as they should. Closing ticket for now. Will reopen if problem occurs when an application has not been manually changed multiple times.

![image](https://user-images.githubusercontent.com/31770504/76869847-42bafb00-683f-11ea-9995-dc32a9c9309e.png)
![image](https://user-images.githubusercontent.com/31770504/76869904-5

[2020-03-17 15:07] #484 closed

[2020-03-17 15:10] MLWilkins commented on #391
Both NID and Verify look good!

[2020-03-17 17:29] JuanitaMiles opened #490 "Business License - Liquor License - Add Hotel Lobby Fee"
See issue/request from Dawn's email below. Need to confirm whether or not the Hotel Lobby fees exists and is expired, and therefore needs to be unexpired, or if the fee needs to be created as new.

![image](https://user-images.githubusercontent.com/31770504/76883688-ea8df400-6852-11ea-93c1-3901e146e00c.png)

![image](https://user-images.githubusercontent.com/31770504/76883826-1a3cfc00-6853-11ea-91

[2020-03-17 17:50] JuanitaMiles opened #491 "Electrical Permit - Permit Official Issuance Report Formatting"
Creating on behalf of AB. Customer sent a notice that the formatting of the Electrical Permit Official Issuance report appears "off". The Property Information has been pushed down to a second page, when it is usually continues on the first page.

[Electrical_Permit_-_Official_Issuance_HANSEN8_20200317_104155737.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4344924/Electrical_Permit

[2020-03-18 14:54] TaraF commented on #465
@emilypearl1  - this is ready for review in Test.   Please let us know if there are any revisions or if it should be promoted to Prod.  In Test, it is under Building Permits - Lookup Applications, called "Home Builders Report".

[2020-03-18 15:06] TaraF commented on #491
Assigned - investigating.

[2020-03-18 15:15] JuanitaMiles commented on #310
@TaraF I believe Dawn has provided confirmation that this wording issue has been accepted. Email snippet below. Marking as Test Accepted and assigning to Tara for any promotion to production needs. Once promoted, please close ticket.

![image](https://user-images.githubusercontent.com/31770504/76975985-ac074080-6909-11ea-97ba-af1c7608917d.png)

[2020-03-18 16:01] JuanitaMiles commented on #486
Progressed this application in Test, marked plan review for resubmit, and the revision fee added.
![image](https://user-images.githubusercontent.com/31770504/76977205-6481b400-690b-11ea-9e5c-adc08a89c3c6.png)

Also tested an EH review as a resubmit only, to ensure the fee would not add, as expected. This worked.
![image](https://user-images.githubusercontent.com/31770504/76980858-1b802e80-6910-11e

[2020-03-18 17:30] JuanitaMiles commented on #485
Progressed this application in Test. The permit issued without the U&O condition being approved or the event log being stopped. Then progressed to Pending Certificate and received the status check that hold log must have a valid stop date. Added a stopped date to the event log and the status check was satisfied.

@ABonomo21 @awhite806 Before marking as test accepted, want to confirm with Abbie and

[2020-03-18 17:59] JuanitaMiles commented on #467
Tested L257969. Did not receive a Re-Inspection Fee Due email upon entering Final Inspection.

![image](https://user-images.githubusercontent.com/31770504/76991286-b2a0b280-691f-11ea-84c1-402d8da514f9.png)

Then failed the followup inspection twice and got the re-inspection fee notification as expected.
![image](https://user-images.githubusercontent.com/31770504/76991833-a1a47100-6920-11ea-95f8-e6

[2020-03-18 20:17] JuanitaMiles commented on #449
Worked for Land Use L257971. @megisys apply solution to other modules.

![image](https://user-images.githubusercontent.com/31770504/77003528-e84f9680-6933-11ea-975f-d746ccc592c2.png)

[2020-03-19 13:49] pooldaddy commented on #490
@JuanitaMiles currently there is only a fee with description of HOTEL   fee  amount is $2000
formula prorates based on date fee assessed
if month fee created is 8, 9, or 10 prorates quantity to .75
if month fee created is 11 12, or 1 prorates quantity to .50
if month fee created is 2,3, or 4 prorates quantity to ..25
if month fee created is 5, 6 or 7  prorates quantity to .75

GL # is 10.98.998.99

[2020-03-19 13:56] pooldaddy commented on #490
![image](https://user-images.githubusercontent.com/47391482/77074868-d61f3800-69c7-11ea-96c6-3fbf04531272.png)
 Email to liquor board

[2020-03-19 16:14] megisys commented on #384
These issues have been addressed.

Thanks

Dan

[2020-03-19 16:38] pooldaddy commented on #489
@ABonomo21 can you attach one of the problem files to this ticket

[2020-03-19 17:32] pooldaddy commented on #389
Reviewed All milestones across all ap types in all modules.
There were only 2 milestone records with a display order greater than the Complete milestone.  These 2 hi lited records below  (RESBLDG & DEMOLITION) expired with a date of 12/6/2019.
![image](https://user-images.githubusercontent.com/47391482/77096468-c1ea3380-69e5-11ea-9ca7-6d25f2f384be.png)

![image](https://user-images.githubuserconte

[2020-03-19 18:15] pooldaddy commented on #386
Bond Class review delayed per Emily.  The following unused Bond Types expired in TEST with a 3/19/2019 expiry date.
![image](https://user-images.githubusercontent.com/47391482/77100405-f2cd6700-69eb-11ea-9198-2daa1ffc7351.png)

Please verify and I will complete in Production

[2020-03-19 18:16] pooldaddy commented on #386
Correction 3/20/2020 expiry

[2020-03-19 18:17] pooldaddy commented on #386
yikes 3/19/20  LOL!

[2020-03-19 18:18] emilypearl1 commented on #386
Confirmed- roll it to production!

From: pooldaddy [mailto:notifications@github.com]
Sent: Thursday, March 19, 2020 2:17 PM
To: dhenry-KCI/FredCo-Post-Go-Live- <FredCo-Post-Go-Live-@noreply.github.com>
Cc: Pearl, Emily <empearl@FrederickCountyMD.gov>; Assign <assign@noreply.github.com>
Subject: Re: [dhenry-KCI/FredCo-Post-Go-Live-] CDR Common - Bond Class Type Cleanup (#386)

[EXTERNAL EMAIL]

yik

[2020-03-19 18:28] pooldaddy commented on #386
Done in PROD see below:
![image](https://user-images.githubusercontent.com/47391482/77101531-d9c5b580-69ed-11ea-969a-ca369a2d3a8c.png)

[2020-03-19 18:28] #386 closed

[2020-03-19 18:45] ABonomo21 opened #492 "Mobile Server Errors"
Inspectors are still having server error issues, spoke with Brian Wolfe 3.19.2020 said he has service but tablet states it cannot connect to the server.

Will need to get screenshots- @TheBobEnsor can you please work with the inspectors to see who is having these issues, when possibly getting a log created of when it occurs and screenshots for IIT.

[2020-03-19 18:59] JuanitaMiles commented on #481
Spoke with AB, 3/19/20

The formula above appears to add the health review fee when the water type and sewer type do not equal Public. This is not always the case and does not capture the accurate requirements surrounding the health review fee. The health fee and health review should add if the Water/Sewer types are Well **and/or** Septic. There may be many combinations of Well Water/Public Sewer;

[2020-03-19 19:03] JuanitaMiles commented on #467
Marking as test accepted. creating a new ticket for jeff to update the inspection assignments for land use permits.

[2020-03-19 19:08] JuanitaMiles opened #493 "Use Permits - Land Use - Assign All Land Use Inspections to Kim Connor"
Confirmed with Ashlye B - 3/19/2020

All inspections for Land Use permits should auto assign to Kim Connor. Kim should be able to perform all inspections for these permits. In the event she feels she cannot perform an inspection she will re-assign to the appropriate inspector.

(issue identified as a result of #467 )

![image](https://user-images.githubusercontent.com/31770504/77104600-a0437900-69

[2020-03-19 20:03] JuanitaMiles commented on #384
**Electrical - EM257854**
1) The errant Awaiting Fee Payment notification was sent after resulting the renewal review with approved and progressing to active even though there were no fees to be paid.
![image](https://user-images.githubusercontent.com/31770504/77095765-b9452d80-69e4-11ea-9ff0-c932c4848b98.png)

**Plumbing Master - PM257855**
1) The errant Awaiting Fee Payment notification was stil

[2020-03-20 12:18] pooldaddy commented on #493
The following inspections in LandUse assigned to KCONNOR in TEST for all election districts.
![image](https://user-images.githubusercontent.com/47391482/77162870-4fc82c00-6a83-11ea-9015-b1b0a93317d1.png)

[2020-03-20 14:33] megisys commented on #384
Hi Juanita,  I believe i caught all the required changes. There is alot in here. Hard to ensure i got everything.. Did my best here

[2020-03-20 17:04] JuanitaMiles commented on #384
**All Trade License Application Types:**
Electrical (EM257864); Plumbing Master - PM257865; Appliance Master - PA257866; Plumbing Misc - PJ257867; Utility - PU257868
1) The errant Awaiting Fee Payment notification was still sent after resulting the renewal review with approved and progressing to active even though there were no fees to be paid.
![image](https://user-images.githubusercontent.com/31

[2020-03-20 17:08] JuanitaMiles commented on #493
All of the inspections on my Land Use permit have auto-assigned to Kim. Test Accepted.

@pooldaddy go ahead and make the change in production

![image](https://user-images.githubusercontent.com/31770504/77188135-ead4fc00-6aab-11ea-886f-251a7dbb6017.png)

[2020-03-20 18:30] pooldaddy commented on #493
Done

[2020-03-20 20:04] pooldaddy commented on #436
Done
email to brenda below
![image](https://user-images.githubusercontent.com/47391482/77202262-5c20a900-6ac4-11ea-8f10-8981098f0f38.png)

[2020-03-20 20:06] pooldaddy commented on #490
Waiting on Liquor Board Reply

[2020-03-20 20:08] pooldaddy commented on #489
@ABonomo21 @JuanitaMiles I can open a ticket with Avolve, but should have the errored upload file to attach.

[2020-03-22 11:57] #93 closed

[2020-03-22 12:03] #487 closed

[2020-03-22 12:04] #284 closed

[2020-03-22 12:06] #310 closed

[2020-03-22 12:06] #314 closed

[2020-03-22 12:06] #389 closed

[2020-03-22 12:13] #417 closed

[2020-03-22 12:14] #416 closed

[2020-03-22 12:14] #476 closed

[2020-03-22 12:14] #482 closed

[2020-03-22 12:20] #449 closed

[2020-03-22 12:24] #467 closed

[2020-03-22 12:27] #455 closed

[2020-03-22 12:29] #480 closed

[2020-03-22 12:33] #464 closed

[2020-03-22 12:34] #457 closed

[2020-03-22 12:34] #456 closed

[2020-03-22 12:38] #485 closed

[2020-03-22 12:42] #486 closed

[2020-03-22 12:43] #477 closed

[2020-03-22 12:45] #450 closed

[2020-03-22 12:46] #451 closed

[2020-03-22 12:47] #493 closed

[2020-03-23 15:58] JuanitaMiles opened #494 "Gaming - Monthly Tip Jar Report - Missing Gaming Report Details Information"
Ashlye has reported the following issue via email:

![image](https://user-images.githubusercontent.com/31770504/77336125-785b5a80-6cfd-11ea-9a77-9c7e6a402683.png)

[20200323102520834.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4370459/20200323102520834.pdf)

[2020-03-23 16:39] JuanitaMiles commented on #454
@TheBobEnsor Bob can you confirm whether or not this error is still appearing for you or your guys? I believe it was linked to an overall map issue that has since been fixed. If this is no longer an issue. Please close the ticket.

[2020-03-23 17:18] megisys commented on #488
IF no LOU - Go to Hearing Preparation.

[2020-03-23 17:19] megisys commented on #488
APFO Exemptions to go to pre closed and have the approved date set.

[2020-03-23 17:23] ABonomo21 commented on #245
need log in the inspection not in the permit @ABonomo21

[2020-03-23 17:36] calequin commented on #434
followed up with support for an update

[2020-03-23 17:39] calequin commented on #323
follow up sent to support for an update.

[2020-03-23 18:17] ABonomo21 opened #495 "Master Electrician - Restricted License Category"
Need to add a category box on the
Electrical - Restricted Licenses

1. Electrically operate heating/air conditioning and refrigeration equipment
2. Motor repairs and services
3. Low Voltage- 50 Volts or Less
4. Any other electrical equipment to be specified on license (need a free form box)

![image](https://user-images.githubusercontent.com/47611580/77344746-03425200-6d0a-11ea-9641-42048deff0b1.p

[2020-03-23 18:35] JuanitaMiles commented on #495
Discussed this item during 3/23 webex meeting.

Assigning to Dan for inclusion in April release.

[2020-03-23 18:37] awhite806 opened #496 "Expired applications not expiring after 6 months"
Applications are only valid for 6 months, then they should expire.
![image](https://user-images.githubusercontent.com/58981029/77351183-cda26680-6d13-11ea-83d1-57ed3c9293f4.png)
![image](https://user-images.githubusercontent.com/58981029/77351222-dd21af80-6d13-11ea-8fcc-06fa0ea8b72d.png)

[2020-03-23 18:46] JuanitaMiles opened #497 "Planning Staff - My Infor Dashboard Issue - Multiple reports go to the bottom of My Infor page when you click on them. - Extreme Ticket # 14623649"
When Shannon Walters turns on the out of the box Building Reviewer TO-DO List to view on her My Infor page, the dashboard item adds all the way at the bottom of the screen and cannot be moved up to be grouped with the other dashboard items.

As a work-around we have created a copy of the to-do list and it adds to dashboard without issue. We need to understand why the original to-do list is not fun

[2020-03-23 18:46] JuanitaMiles commented on #497
@pooldaddy This may be a good candidate to send to Infor Extreme.

[2020-03-23 18:56] JuanitaMiles commented on #496
Requirements surrounding this type of expiration has been discussed in the past but I'm unsure if this made it into a configuration item. Need to confirm if it is part of the current expiration batch job that exists.

This is where an application has sat unissued for an extended period and should expire due to inactivity.

@megisys Do you have any thought/confirmation on this?

[2020-03-23 19:23] JuanitaMiles commented on #436
confirmed both are in the production environment with Inspector checked. Closing ticket.

[2020-03-23 19:23] #436 closed

[2020-03-23 19:34] JuanitaMiles commented on #408
I will try to run a few tests to see if I can identify the issue Ashlye has mentioned above, then follow up with her to see if further action/bug fix needs to happen.

[2020-03-23 22:28] #391 closed

[2020-03-24 14:38] pooldaddy commented on #496
@megisys

Has not run since 2/11. Why?
See screenshots below:

Jeff Wisner

[2020-03-24 14:39] pooldaddy commented on #496
![image](https://user-images.githubusercontent.com/47391482/77438020-b454f500-6dbb-11ea-90c6-d90b7e926c28.png)

[2020-03-24 14:57] JuanitaMiles commented on #224
Reopening Ticket - There is another example of a ResBldg permit on public water and sewer that did not generate a capacity permit when it should have. AP#268621

![image](https://user-images.githubusercontent.com/31770504/77440001-22022080-6dbe-11ea-9718-c110d5398602.png)

[2020-03-24 15:03] JuanitaMiles opened #498 "PDox Error - Wendy Cochran Cannot Accept Task"
Wendy is getting the following error when trying to accept her department review task in ProjectDox.

![image](https://user-images.githubusercontent.com/31770504/77440705-fdf30f00-6dbe-11ea-8635-430ce7f8f8db.png)

[2020-03-24 15:33] pooldaddy commented on #498
Her Hansen ID was blank in USER META DATA in PROD Added it see below
![image](https://user-images.githubusercontent.com/47391482/77444598-70b1b980-6dc2-11ea-8df2-adbccb7517f0.png)
  Please have her retry now

[2020-03-24 15:44] JuanitaMiles commented on #498
@pooldaddy I will respond to Wendy to have her try again, but please update the spelling of her Hansen ID: WCOCHRAN

[2020-03-24 16:18] pooldaddy commented on #498
Done

Jeff Wisner
Staff Software Integrator
Frederick County Government, IIT
301-600-1811

From: Juanita Miles [mailto:notifications@github.com]
Sent: Tuesday, March 24, 2020 11:45 AM
To: dhenry-KCI/FredCo-Post-Go-Live- <FredCo-Post-Go-Live-@noreply.github.com>
Cc: Wisner, Jeff (IIT) <JWisner1@FrederickCountyMD.gov>; Mention <mention@noreply.github.com>
Subject: Re: [dhenry-KCI/FredCo-Post-Go-Live

[2020-03-24 16:19] pooldaddy commented on #498
@JuanitaMiles done fixed spelling

[2020-03-24 16:25] JuanitaMiles commented on #498
![image](https://user-images.githubusercontent.com/31770504/77450998-77442f00-6dca-11ea-9328-46148a8fba13.png)

[2020-03-24 16:25] #498 closed

[2020-03-24 17:01] JuanitaMiles commented on #497
This is also happening to Tolson DeSa.

[2020-03-24 18:18] pooldaddy commented on #497
@JuanitaMiles works in TEST when logged in as Shannon.  But not in PROD

[2020-03-25 20:34] JuanitaMiles commented on #461
Need to reopen ticket. There are widespread problems with applicants being able to upload attachments. These issues were both reported by customers in the production system and I have tested and replicated the issues in the test environments.

1) At initial application submission, documents are not uploading. A customer sent a picture of their screen with this error for their RESBLDG application a

[2020-03-25 20:46] megisys commented on #461
Hi @JuanitaMiles,

I see 2 issues here which i am going to track down.. The customers issue is not the same as you are reporting.. Look at their attachment names with . (Periods) The file can only have one as it will cause the system to think anything after it is an extention of a file.. So I need to submit a defect for that one..

I am testing the timing for the ones you created in test and will

[2020-03-25 21:06] megisys commented on #461
@JuanitaMiles  Made a change to the overall building permit piece.. Please test it out.. Now will not allow any updates unless. In a milestone starting with Application or Awaiting or issued

[2020-03-26 00:18] JuanitaMiles commented on #461
Tested Demo 266779

1) Used an attachment that didn't have any weird or special characters and still got the error at initial submission.
![image](https://user-images.githubusercontent.com/31770504/77596676-0e94a980-6ed3-11ea-8264-e443ad771962.png)

2) Was able to upload at Awaiting Applicant Resubmit (Completeness check resubmit) but the system significantly changed the name of my file. Why would

[2020-03-26 13:18] JuanitaMiles commented on #489
Will follow up directly with both Ashley's to get the examples sent directly to Jeff and Rick for an Avolve ticket to be created.

[2020-03-26 13:45] TaraF commented on #491
@JuanitaMiles / @ABonomo21

For Electrical permit 268450 in production, it is not showing correctly because there is no license contact.  The report expects to see under applicants, a License Contact, with an ELEC license, per our discussions and as agreed upon.  This particular one is the only case I am seeing that doesn't follow those rules.

I think a simple fix would be to change the "Other Co

[2020-03-26 16:56] TaraF commented on #494
Assigned, in progress.

[2020-03-26 18:11] TaraF opened #499 "Release County Escrow Report issue"
Putting this here for tracking purposes:

[Release - County Escrow 134293.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4389067/Release.-.County.Escrow.134293.pdf)

![image](https://user-images.githubusercontent.com/4104464/77681318-857d8100-6f6b-11ea-9dc1-7d98812e68ec.png)

[2020-03-26 18:11] TaraF commented on #499
Assigned, in progress.

[2020-03-27 11:35] ABonomo21 opened #500 "Inspection Schedule Override Log"
Would like to be able to use the Inspection Schedule Override Log -
![image](https://user-images.githubusercontent.com/47611580/77752014-210b0200-6ffd-11ea-9f0c-f21e2d3243f0.png)

When the log is added it should allow for inspections to be scheduled until a stop date is entered on the log even if there are fees due on a permit.

After a discussion with Dan and Gary yesterday we found that there wi

[2020-03-27 15:15] JuanitaMiles opened #501 "Awaiting Payment Notification Sending with Incorrect Amount"
Electrical Permit 270247

This application progressed into Awaiting Applicant Payment once the Completeness Check was approved and system generated 3 fees totaling $168.00. None of these fees were manually added by staff. The notification that sent to each applicant, however, only showed that the fees due totaled $57.00.

How could this have happened? From looking at the application it seems like

[2020-03-27 16:56] megisys commented on #500
Hi There. So here is how it is coded.. If you add a INSPSCHED log to an Inspection (Not AP). The start date of the log will be the scheduled time.. And the log by will be the scheduled by.. You will get a message saying you need to open the inspection again.. Please try this out

[2020-03-27 17:29] megisys commented on #501
This change is much needed.. And Will require a new milestone called.. Add Minimum Fees. Will develop over the weekend for a full roundof testing

[2020-03-27 17:34] megisys commented on #501
3 to 4 hours for this. but need to be done.

[2020-03-28 13:53] megisys commented on #245
I updated the bob button for test.. you can now fully test

[2020-03-28 14:02] megisys commented on #419
GRADING_DPZ_Review_AOC - Needs to be promoted once test accepted

[2020-03-28 14:04] megisys commented on #496
Job was left of schedulde. PLease review in Test and i will run in Production and scehdule daily

[2020-03-28 14:10] megisys commented on #461
@JuanitaMiles , it is renaming it because. A file with that name already exists that the county has taken in and you can not have 2 files with the same name in the same place.

[2020-03-28 14:59] megisys commented on #461
Xtreme ticket added for new submission with exisiting filename. Other problems i have addressed in code.

[2020-03-28 15:42] megisys commented on #495
PLease test in Test.

[2020-03-28 15:50] megisys commented on #470
TRADE_VOID_AAF to be added to Prod once test is accepted

[2020-03-28 16:19] megisys commented on #501
Added New Milestone for minimum Fees

[2020-03-28 21:02] megisys opened #502 "Clean Up Grading Duplicate Review Types"
Grading Reviews need to be merged where there are duplicates.

[2020-03-28 21:17] megisys commented on #502
Update CDR_Building.BLDGREVIEW
Set APBLDGREVIEWTYPEKEY = 2340
Where APBLDGREVIEWTYPEKEY in (Select APBLDGREVIEWTYPEKEY from CDR_Building.BLDGREVIEWTYPE
Where APBLDGDEFNKEY = 1017 and REVIEWTYPE like 'DPZ%')

Update CDR_Building.BLDGREVIEW
Set APBLDGREVIEWTYPEKEY = 1851
Where APBLDGREVIEWTYPEKEY in (Select APBLDGREVIEWTYPEKEY from CDR_Building.BLDGREVIEWTYPE
Where APBLDGDEFNKEY = 1017 and REVIEWTYP

[2020-03-28 21:28] megisys opened #503 "Application Fee Library Clean Up"
Need to run a report and clean up the fee libraries as much as possible to make administration easier on the county. Especially building module

[2020-03-28 21:30] megisys opened #504 "Grading Inspection Detail page clean up duplication"
Grading Inspection Detail Pages are duplicated a number of times.. Need to clean this up...

![image](https://user-images.githubusercontent.com/47392306/77834249-bef3ef00-7119-11ea-8376-449b9a28b361.png)

[2020-03-28 21:31] megisys opened #505 "R4C Detail Page Access Report - Adhoc - TBD"
Need a R4C Report per module to show which detail pages are set to edit and when..

[2020-03-28 21:32] megisys commented on #503
![image](https://user-images.githubusercontent.com/47392306/77834287-0c705c00-711a-11ea-8f3e-cff8fa86cee1.png)

[2020-03-28 21:33] megisys opened #506 "Building Application Condition Clean Up"
![image](https://user-images.githubusercontent.com/47392306/77834319-3b86cd80-711a-11ea-9321-78064b1f3dd9.png)

[2020-03-30 12:14] megisys opened #507 "Capacity Permit Clean Up"
Revisit and Overhaul the Capacity Permit and Fee Collection

[2020-03-30 12:15] megisys opened #508 "Grading Permit - Simplify and Separate into AP Types"
Overhaul the Grading Permit - Storm Water, Logging and the Grading.

[2020-03-30 12:42] pooldaddy commented on #496
@JuanitaMiles @megisys 197075 still not expired in TSET

[2020-03-30 12:47] megisys commented on #496
197075 - Is not yet an application.. It has no expiry date. IT is not a permit yet

[2020-03-30 12:47] megisys commented on #496
@pooldaddy

[2020-03-30 12:56] megisys opened #509 "Review Abandonment for Building Application"
We need to review application sitting in Awaiting Applicant milestones and review the abandonment process

[2020-03-30 15:53] AReed327 commented on #488
A258942 - Worked as expected when No LOU was selected on Additional Detail.

![image](https://user-images.githubusercontent.com/58854333/77924096-43a55100-7271-11ea-9dbe-8d4aa748d900.png)

A258943 - Worked as expected still when Minor LOU was selected on Additional Details. Awaiting LOU for applicants submission and went to LOU Review when the applicant resubmitted.
![image](https://user-images.gi

[2020-03-30 15:57] AReed327 commented on #488
Adding for additional documentation. LOU Notification did not go out when no LOU was selected A258942 and did go out when Minor LOU was selected A258943. AREED

[2020-03-30 17:35] megisys commented on #461
@JuanitaMiles Please Test on a Building Application.. With the same files as prior. If happy I will adjust across the board. The change is.. That attachments can be added to an application for 2 minutes from initial submission before locking the process.

[2020-03-30 18:15] pooldaddy commented on #461
@megisys @JuanitaMiles  Just my 2 cents but given the extreme amount of internet traffic and not knowing how good our customers connection is.  Should we consider making the time greater.  Your thoughts?

[2020-03-30 19:07] megisys commented on #461
Everything else would time out before this would hit

[2020-03-31 09:16] pooldaddy commented on #407
![image](https://user-images.githubusercontent.com/47391482/78009154-98e37000-730e-11ea-9a66-4338320667eb.png)
[MDE_Qtr_Grading_Permits_excell.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4407899/MDE_Qtr_Grading_Permits_excell.xlsx)

[2020-03-31 12:37] pooldaddy commented on #407
![image](https://user-images.githubusercontent.com/47391482/78027134-dbb34100-732a-11ea-973a-c16e481234fd.png)

[2020-03-31 15:43] JuanitaMiles commented on #461
Tested on a Demo permit 266786.

File successfully uploaded at the time of submitting the application.

The file name changing is still an issue when I click the number to view the details of the application, but it appears that is waiting for Infor Xtreme. Just to be clear, I understand the need for a number to be placed at the end of duplicated file names, however in this instance it's cutting o

[2020-03-31 15:44] JuanitaMiles commented on #461
Also, what is this new section on the attachment upload window? Should this checkbox be selectable by an applicant?
![image](https://user-images.githubusercontent.com/31770504/78046276-f5618200-7344-11ea-8fe8-5091a849b1c6.png)

[2020-03-31 15:48] JuanitaMiles commented on #461
From the previous testing completed and this testing it appears the points where we were having issues uploading have been addressed. As long as the Attribute/Values table in the upload window could not potentially pose an issue if checked or unchecked, I'm generally comfortable pushing the fix to production.

Would like to perform more thorough testing of the overall process as time allows.

[2020-04-01 15:41] JuanitaMiles commented on #384
Tested all Trade ap types. All issues I identified now appear to be resolved. Test Accepted.

[2020-04-01 16:09] JuanitaMiles commented on #497
Adding Terry May (DUSWM) to list of those who are being impacted by this glitch in the system. Her explanation of her issue is below.

![image](https://user-images.githubusercontent.com/31770504/78160209-987fcd80-7411-11ea-9534-6589acfea15c.png)

[2020-04-01 18:09] AReed327 opened #510 "Planning - Zoning Verification - Application has no milestone."
Project Number - V259977  --> See it working correctly in TEST V258950
Observed behavior - Application has no Milestone. This is not happening in TEST only in PRODUCTION. Applicant got errors trying to submit online. I processed back office. The application came through but says "Application has no milestone". It is unclear what happened to make TEST and PRODUCTION not mirror one another.
Expected

[2020-04-01 18:22] AReed327 commented on #510
Created another new project in production to support that this did not happen from restarting services on 4/1/2020 around 2:10 - 2:15pm.
V259980
![image](https://user-images.githubusercontent.com/58854333/78172405-ffa67d80-7423-11ea-8c93-2f0ce6c4d924.png)
![image](https://user-images.githubusercontent.com/58854333/78172484-249af080-7424-11ea-874a-7ab0c0b91190.png)

[2020-04-02 11:41] AReed327 commented on #510
V259981 - submitted through R4C - the milestone is corrected but the fees didn't populate after the completeness check. The Fee is $118. Again, this is working in Test but not in Production
![image](https://user-images.githubusercontent.com/58854333/78244767-493ea900-74b4-11ea-88e9-09a933bf560e.png)
V259981 - PRODUCTION
![image](https://user-images.githubusercontent.com/58854333/78245194-0d581380-

[2020-04-02 14:23] JuanitaMiles opened #511 "Staff Received Email When Completing Contact Details Page"
Megan Libbey entered information in the Contact detail page for permit 270355, and upon saving received the following email. This email should not send to internal staff.

![image](https://user-images.githubusercontent.com/31770504/78259968-5fa42f00-74cb-11ea-9bc7-7bfc3b818a77.png)

![image](https://user-images.githubusercontent.com/31770504/78260370-e35e1b80-74cb-11ea-9ae4-711feb8be19e.png)

[2020-04-02 15:26] pooldaddy commented on #388
Attached a spreadsheet of active codes from PROD
[Active_Codes_By+Module_PROD_4022020.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4421968/Active_Codes_By%2BModule_PROD_4022020.xlsx)

[2020-04-02 16:48] megisys commented on #510
Will fix this tonight ASAP. During outage.. Formula error during migration

[2020-04-02 16:49] megisys commented on #510
Should I delete the AP ? @AReed327

[2020-04-02 17:40] AReed327 commented on #510
I can void it once it's fixed or you can delete it. I took the applicant off of it so it wouldn't show on their portal.

[2020-04-02 17:50] JuanitaMiles commented on #501
I can't possibly test the timing to replicate the minute change, but I see that all three fees added, there is a new milestone that it passed through in the Status Logs called Add Minimum Fees, and the email that generated showed the correct amount. Marking as test accepted.

![image](https://user-images.githubusercontent.com/31770504/78281437-a94f4280-74e8-11ea-83cb-a1ed28a6bde2.png)
![image](htt

[2020-04-03 11:57] ABonomo21 commented on #470
tested EM257854 and PM257839-

status check shows the milestone is complete and the status is void.

The expiration date did not change and the status bar still show as active -will this have any negative impact i would think the status bar on the summary page would move to closed? @megisys

![image](https://user-images.githubusercontent.com/47611580/78358176-bddf1980-7580-11ea-9931-9437cdf215a1.p

[2020-04-03 12:10] ABonomo21 commented on #496
All-

Once application fees have been paid and there is a process date then it is an Application and they should expire 6 months from the process date unless an extension is granted or it becomes an issued permit, at which time there would be an issued date generate and the expiration date should populate as one year from the issuance date.

@megisys @pooldaddy

[2020-04-03 12:12] AReed327 commented on #510
Verified corrected as fees populated on V259983.
![image](https://user-images.githubusercontent.com/58854333/78359264-b882ce80-7582-11ea-849c-7436481d35a8.png)

[2020-04-03 12:14] ABonomo21 commented on #495
Elec Restricted Type is now on the details page once the license category is Restricted but can you move it up under the license details instead of under the section complete @megisys

once moved this can be accepted

![image](https://user-images.githubusercontent.com/47611580/78359454-1a433880-7583-11ea-9e29-0bd85d67eca1.png)

[2020-04-03 12:28] ABonomo21 commented on #460
tested trade permit ER404 added bond crenelation date as yesterday and the license remained active..

[2020-04-03 12:44] ABonomo21 commented on #465
Tested in TEST- looks good.

Please promote to PRODUCTION- EP 4/3/2020

[2020-04-03 12:50] ABonomo21 commented on #419
test confirmed- both scenarios worked !
Thanks

tested within a subdivision ap 266797 related to building ap 266795
tested not in a subdivsion ap 266799 realreadt to building ap 266798

[2020-04-03 12:55] ABonomo21 commented on #454
confirmed with Bob the error is no longer occurring.
Thanks

[2020-04-03 12:55] #454 closed

[2020-04-03 13:13] ABonomo21 commented on #500
tested with Dan - confirmed work-
![image](https://user-images.githubusercontent.com/47611580/78364343-4b276b80-758b-11ea-86b9-fd518b79d220.png)

Dan will write up instructions for Jeff to know how to do the process. @JuanitaMiles

[2020-04-03 13:15] ABonomo21 commented on #245
tested with dan worked - Dan will write up instructions for jeff to know how to add photos @JuanitaMiles @megisys
![image](https://user-images.githubusercontent.com/47611580/78364560-a5c0c780-758b-11ea-9f39-a424c29752dc.png)

[2020-04-03 13:16] ABonomo21 commented on #500
spoke with Dan he will make the fixes

[2020-04-03 13:17] ABonomo21 commented on #500
Log does not add

[2020-04-03 13:21] ABonomo21 commented on #470
spoke with Dan - test accepted

[2020-04-03 13:21] ABonomo21 commented on #470
status bar will not change because it did not go through those milestone it skipped them

[2020-04-03 13:22] ABonomo21 commented on #460
batch manager needed to run - test accepted

[2020-04-03 13:27] ABonomo21 commented on #495
![image](https://user-images.githubusercontent.com/47611580/78365578-45cb2080-758d-11ea-98b7-dcd77108091f.png)
fixed

[2020-04-03 13:33] ABonomo21 commented on #492
spoke with Bob - duplicate ticket closed this morning - have not had the errors.

[2020-04-03 13:33] #492 closed

[2020-04-03 13:35] ABonomo21 commented on #489
assigning this back to Jeff because we have provided example and he is currently working with Avolve.

[2020-04-03 13:44] ABonomo21 commented on #245
see instructions from dan in email to jeff ash and juanita on 4.3.20
We have implemented Inspector photos to be added to the morning Inspector to arrive email process. These will need to be maintained over time.

The process is once the inspector is created in IPS as a user and given an employeeID.

A PNG Photofile matching that employeeID will need to be placed in the following location (This is

[2020-04-03 14:12] ABonomo21 commented on #495
Dan- the restricted detail page does not show up on r4c..
![image](https://user-images.githubusercontent.com/47611580/78369665-8ded4180-7593-11ea-872d-8d0a53a0422c.png)
@megisys

[2020-04-03 19:40] TaraF opened #512 "ECS - Inspections Completed and Time Spent By WorkType and Inspection Type Report"
@emilypearl1  - documenting this here.  You have emailed that it is not running for you.  I am still able to run it.  Can you please provide some details - such as what environment, what specific date range, what browser you are using etc, and any screen captures - would greatly help me figure out why you can't see it.  Thank you!

![image](https://user-images.githubusercontent.com/4104464/7839862

[2020-04-03 19:47] TaraF commented on #465
Promoted to Production 4/3/2020.

![image](https://user-images.githubusercontent.com/4104464/78399134-5cd83580-75c2-11ea-83d5-bc32a51787e1.png)

[2020-04-03 20:06] TaraF commented on #499
@emilypearl1  - We determined a while back that only the latest release would be shown.  According to the time stamp in the database, it appears that bond # 4299 was input last.  If that is no longer the correct logic, do you have something we would know by looking at IPS which one to use if there are multiple?

![image](https://user-images.githubusercontent.com/4104464/78400588-03253a80-75c5-11ea

[2020-04-05 12:02] #510 closed

[2020-04-05 12:15] #465 closed

[2020-04-05 12:43] #245 closed

[2020-04-05 12:44] megisys commented on #461
Deployed

[2020-04-05 12:44] #461 closed

[2020-04-05 12:45] megisys commented on #470
deployed

[2020-04-05 12:46] #470 closed

[2020-04-05 12:51] megisys commented on #488
Deployed

[2020-04-05 12:51] #488 closed

[2020-04-05 12:52] megisys commented on #419
Deployed

[2020-04-05 12:55] megisys commented on #501
Deployed to Production

[2020-04-05 12:55] #501 closed

[2020-04-05 12:56] megisys commented on #460
Deployed to Production

[2020-04-05 12:57] #460 closed

[2020-04-06 11:48] megisys commented on #496
@ABonomo21 When does the expiry date get set ?

[2020-04-06 11:50] megisys commented on #496
This is sitting waiting for them to pay.. This is all part of abandonment.. - I will work on this this week as a total solution

[2020-04-06 12:03] megisys commented on #496
Sent email to meet on this as the Adhoc report I wrote, shows that we have a slightly larger issues we need to address. I have solutions for this piece.

[2020-04-06 14:08] ABonomo21 commented on #512
i am using Chrome.
i tried 7/1/2018-6/30/2019 (NO TIMES)
![image](https://user-images.githubusercontent.com/47611580/78567082-25e66780-77ee-11ea-99e4-2df5748e1f77.png)
Tried using 7/1/2018 (time 00:01)  6/30/2019 (time 23:59)
![image](https://user-images.githubusercontent.com/47611580/78567189-4f9f8e80-77ee-11ea-96c8-9fa6800de02c.png)
![image](https://user-images.githubusercontent.com/47611580/785

[2020-04-06 14:54] JuanitaMiles commented on #475
Reopening Ticket - EH review automatically adding on second cycle of review is still a problem.

RESUSE Permit # 257808 - The EH review and fee did not generate when progressing through to the first round of review when it should have. Ashlye then manually added DPZ for a second cycle of review and approved the Assign condition. Upon progressing back to Under Review, the system automatically added

[2020-04-06 15:27] megisys commented on #475
@JuanitaMiles There is nothing to fix here. This is just a case which was broken before the fix and all new ones will not have this problem.. There is not much i can fix here. Can you confirm this is not happening for net new ?

[2020-04-06 15:57] JuanitaMiles commented on #475
Scrolled through a bunch of applications, the one below appears to have worked properly (from beginning of April). Closing.

@ABonomo21 You'll just need to keep an eye on the older applications that had an issue prior to the fix being pushed on 3/22.

![image](https://user-images.githubusercontent.com/31770504/78578621-c3956300-77fd-11ea-9066-3deda58f32d0.png)

[2020-04-06 15:57] #475 closed

[2020-04-06 18:20] TaraF commented on #494
@ABonomo21  - this is ready in TEST.  Please note that for 9045, no data will show in Test, since there isn't any recorded.

[2020-04-07 18:24] AReed327 opened #513 "Planning - PWCONSTRUC - Per Page Fee Notification not sending"
Project Number - PW258877
Observed behavior - Email Notification for the per page fee that is inserted during the first review did not send.
Expected behavior - An email proving the outstanding fees should be sent when fees are owed. If no fees are owed, no email should send.
(if it is 1 page, no fee will populate because the first page is paid with initial submission) This is on the PWCONSTRUC wo

[2020-04-08 13:08] AReed327 commented on #513
This is sending in Test. Ex: PW258953 but not production, unless you just fixed it.
More Production examples of notification not sending: PW258818, PW258868, PW258871

[2020-04-08 13:56] TaraF commented on #512
@ABonomo21, @emilypearl1  - this is a glitch with the IPS product when using a Chrome browser (reports work fine in IE).  There are some character limitations that are not defined when chrome passes the name with the request.  INFOR needs to define the limits so the report can be named appropriately by your team.  If that is defined by INFOR, and the name is provided, I can implement.

For now, I

[2020-04-08 14:05] megisys commented on #513
We really need to build a Pay Fees reminder.. We talked about it.. We need to revisit this piece. Still invesitgating cause

Dan

[2020-04-08 14:14] megisys commented on #513
OK The issue here is Pdox moved it in milestones and the PL_PayFees Notification was not defined for web services.. This has since been done. I HIGHLY recommend we do a payment reminder for the whole solution. I also as a side note put an email to the director of product that Notifications should not be defined in 3 places..

[2020-04-08 14:19] megisys commented on #513
Fixed in Production.. Working in Test. See Email on Payment Reminders

[2020-04-08 14:26] ABonomo21 commented on #512
it looks fine in test. Can you promote to production so it will work with Chrome???

[2020-04-08 14:32] megisys commented on #500
INSPSCHED Needs to be added against the inspection.. Then the inspection can be scheduled.

[2020-04-08 14:33] megisys commented on #325
Removing Appril 11th Release. as Pushed

[2020-04-08 16:49] TheBobEnsor commented on #500
new part works and  now old part does not?

Failed

[Log add and remove insp ( Fees ).docx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4451717/Log.add.and.remove.insp.Fees.docx)

[2020-04-08 17:23] AReed327 opened #514 "PATCH TESTING - PLANNING - FRO - Internal review, end of review cycle notification of resubmit request"
Project Number - F258956
Observed behavior - Missing email notification after review cycle complete and resubmit requested.
Expected behavior - Notification should be sent to the applicant indicating we are waiting for them to resubmit and to check the portal for review comments.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/78813983-ee1d2280-799b-11ea-81c1-f0ac935e71f6.

[2020-04-08 17:45] JuanitaMiles commented on #514
Assigning to Dan since he's done extensive work on planning notifications recently.

[2020-04-08 18:01] AReed327 commented on #514
I believe this notification may be called Planning/Zoning Resubmit Required

[2020-04-08 18:16] AReed327 opened #515 "PATCH TESTING-PLANNING - APFO - LOU FEE Populating after each resubmit"
Project Number - A258957
Observed behavior - LOU Fee populated after first, second, and third review cycles
Expected behavior - Fee should only generate after the first review cycle when the box is checked on the details page. They only owe it one time.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/78818296-70104a00-79a2-11ea-856c-b258433eb88f.png)
![image](https://user-

[2020-04-08 18:20] AReed327 commented on #513
Working in test PW258953. Changed to test accepted.

[2020-04-08 18:38] AReed327 opened #516 "PATCH TESTING - PLANNING - Planning Outcome Notification did not send on APFO"
Project Number - A258958
Observed behavior - Planning Outcome Notification did not send on APFO
Expected behavior - When an application closes on an internal review, a notification should send. See example from FRO application below.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/78820554-0134f000-79a6-11ea-8135-a26e0c6dbf6d.png)
Notification example
![image](https://user

[2020-04-08 19:10] AReed327 opened #517 "PATCH TESTING - APFO - No notification with LOU Fee to applicant"
Project Number - A258957
Observed behavior - When the LOU fee generates from the check box on the details page at the end of the first review cycle, there is no notification to the applicant that the fee is owed.
Expected behavior - Applicant needs to be notified of outstanding fees. Since all APFO applications are routed internal review, this outstanding fee information can be added as a line at

[2020-04-09 15:03] megisys commented on #516
PLN_APFO_FROMUnderREview - Needs to be promoted once accepted

[2020-04-09 15:10] megisys commented on #515
PLN_APFO_MinorLou_Fee_AOC - to be promoted when accepted

[2020-04-09 15:11] megisys commented on #513
Addressed in Production Too

[2020-04-09 15:11] #513 closed

[2020-04-09 16:47] megisys commented on #473
In Town to not have expiration
Check on Driveway
Grading has own correspondence
Fee to be added before resulting Review
Review to through reminder

[2020-04-10 12:10] ABonomo21 opened #518 "Mobile Code Violations - Extreme Ticket # 14623660"
Kim Connor brought it to my attention yesterday that when an inspector results an inspection in back off and there was a previous inspection that failed resulting in code violations, the system asks you to confirm those code violations have been resolved prior to completing the new inspection result. However, in mobile it does not have the same functionality and it should.

[2020-04-10 12:17] ABonomo21 commented on #518
@TheBobEnsor

[2020-04-10 13:17] AReed327 commented on #517
No Fee notification received. Fees not added to applicant resubmit email.
A258960

![image](https://user-images.githubusercontent.com/58854333/78993630-1c217480-7b0c-11ea-99da-de11a18d4d71.png)

[2020-04-10 13:25] AReed327 commented on #515
A258961 Verified fee did not populate again after first resubmit.

![image](https://user-images.githubusercontent.com/58854333/78993988-15dfc800-7b0d-11ea-9b9d-4972df927b8a.png)

![image](https://user-images.githubusercontent.com/58854333/78994012-22fcb700-7b0d-11ea-82e4-6840685a809e.png)

[2020-04-10 13:30] AReed327 commented on #516
Verified closed notification sent # A258961
![image](https://user-images.githubusercontent.com/58854333/78994390-ed0c0280-7b0d-11ea-99f0-0a20c843d8e7.png)

[2020-04-10 13:48] AReed327 commented on #514
Verified Corrected and notification received F258962

![image](https://user-images.githubusercontent.com/58854333/78995448-5ab92e00-7b10-11ea-832f-2a92995a21b7.png)

[2020-04-13 12:47] AReed327 opened #519 "Planning - PDOX - Reviews showing late should exclude weekends."
Project Number - PW257666 but I believe it's all PWCONSTRUCT in PDOX.
Observed behavior - Due date is including weekends. Project was submitted after 4 on Friday should not show due on Saturday. (Only focus on the one circled. The other has a different problem)
Expected behavior - Weekends should be excluded from due dates. Project should not show late (salmon color change) when it is not a busine

[2020-04-13 14:02] TaraF commented on #512
@ABonomo21

This has been promoted to prod with the same name as above.

Noting this will continue to be a problem for other reports until we understand the character limit.

[2020-04-13 14:52] JuanitaMiles commented on #519
@pooldaddy Jeff - I thought there was a setting to change this in PDox (?) to only count business days...if not we'll need to submit with Avolve support.

[2020-04-13 15:27] ABonomo21 opened #520 "Zoning Review on Parcel in Town of Woodsboro"
Permit 271440 and associated grading permit 271473 generated a zoning review and fee however, this should not have happened because the parcel details clearly indicate it is located in the town limits of woodsboro.

[2020-04-14 15:55] AReed327 commented on #517
Fees added to resubmit request email. Test accepted. Project A258963
![image](https://user-images.githubusercontent.com/58854333/79245914-c66c0580-7e46-11ea-9d0a-e683298da74b.png)

[2020-04-14 16:24] JuanitaMiles opened #521 "R4C - Permit & Planning Application Submission Issues - Extreme Ticket #14547500"
A customer has had consistent issues when trying to submit her ResUse - Deck permit via the R4C portal. See the applicant's description of her issue below.
![image](https://user-images.githubusercontent.com/31770504/79248750-3def6400-7e4a-11ea-906d-077a6e56162b.png)

It appears as though the application submits successfully when the submit button is clicked for the first time but potential loading

[2020-04-14 16:25] JuanitaMiles commented on #521
@megisys @pooldaddy - Not sure which one of you would be better equipped to address this issue but it's causing significant duplication of permit application coming in through R4C.

[2020-04-14 18:10] TaraF commented on #512
Closing issue on behalf of Emily Pearl (email 4/14/20).

[2020-04-14 18:10] #512 closed

[2020-04-14 20:01] ABonomo21 opened #522 "Trade License - Last Renewal query"
Can we add a last renewal date within a date range to the query field for Trade Licenses?
![image](https://user-images.githubusercontent.com/47611580/79268265-7b62ea00-7e68-11ea-8431-6e2f3eccae97.png)

Every year we have to run performance indicators that show how many applications were processed, reviews completed and inspections performed.

One of those components is how many Trade Licenses were

[2020-04-14 20:37] JuanitaMiles commented on #522
@pooldaddy I created an ad hoc report to meet Ashlye's needs for this. BUT it'll be a "nice to have" item to add this "Last Renewal Date" to the regular Trade License lookup window. This will be a good training/learning opportunity for you and Yaciel, as these requests might come up again periodically in the future. Look into when you have time some time but not a high priority.

[2020-04-15 11:38] megisys commented on #521
I think we need a rest server weekly reboot. 3am on a Friday Morning. See if this helps

[2020-04-15 18:31] ABonomo21 opened #523 "Zoning Review on Parcel in Town of New Market"
A zoning review generated on a grading permit located in the town of new market clearly marked on the parcel details. Grading #272952

[2020-04-15 19:41] ABonomo21 commented on #500
What Bob was trying to say was....
When we originally asked for the inspection override log, the intended use was for use to be able to schedule an inspection when some pre-requisite inspection was still "required" i..e if a rough in inspection was only partially passed and we wanted to schedule a framing inspection, the system would stop us from being able to schedule, in production now... the ov

[2020-04-15 20:09] ABonomo21 opened #524 "Service Request - New sub category"
Can we please have a new subcategory added under Service Request Type : Zoning - ZFEMA- Unapproved Activity within the FEMA Floodplain

![image](https://user-images.githubusercontent.com/47611580/79383387-1627fb00-7f33-11ea-9b1e-d8c9248261f3.png)

Adding Mike to the ticket to follow up if any thing is needed @MLWilkins

[2020-04-16 11:47] ABonomo21 opened #525 "IPS attachment date"
Is there a way to add the date field on the attachments to know when they were uploaded in IPS? Applicants are submitting documents via the portal and they are not following the attachment naming convention, it is not practical to send it back- it would be more useful to staff to have a date field so they know when the upload was attached.

[2020-04-16 13:23] MLWilkins commented on #524
FYI, floodplain is already listed as a type under zoning case details

![image](https://user-images.githubusercontent.com/50637067/79458617-0c98a480-7fc0-11ea-92b4-344fb3018e69.png)

[2020-04-16 15:04] JuanitaMiles commented on #110
work via webex with Dan on town notifications still not sending out.

[2020-04-17 12:57] MLWilkins commented on #525
We would like this for Planning as well please!

[2020-04-17 14:50] ABonomo21 opened #526 "Space for Contractor License # on the Portal"
We have had a large number of our applications at the time of completeness check that staff is asking for a resubmit because they need the contractors license number whether is it for an MHIC, HB or Frederick County TL.

Then once the applicant goes back into the portal they are confused because there is no where for them to enter this information and it is not clear they should add it to the comm

[2020-04-17 15:45] ABonomo21 commented on #526
For now I have added some language in to the portal instructions on plumbing, elect and resuse asking for the contractor to add the details into the description of work.

[2020-04-18 02:13] ABonomo21 opened #527 "Minor Grading Permits with a Subdivision"
Per the email sent on 4.13.20 - For those minor grading permits related to a SFD located within a subdivision, the applications should ultimately be reviewed and closed as they are covered under a mass grading plan.

 Do any of you recall us setting up these applications to automatically close if they were within a subdivision? I am thinking we didn't and now that we are 4 months post go live we a

[2020-04-18 02:14] ABonomo21 commented on #325
Adding Grading inspection information on to this ticket per email on 4.13.20

2a. For those minor grading permits related to a SFD located in a rural area - not within a subdivision, there needs to be a pre-con inspection performed to ensure those sediment erosion control measures are in place.
Can someone review the code to let me know if that inspection type is available to generate? It is not c

[2020-04-18 02:17] ABonomo21 opened #528 "Deck Permit Inspections"
Adding a github ticket per attached email with Jeff and Juanita on 4.13.20

{"Attachments":[{"__type":"ItemIdAttachment:#Exchange","ItemId":{"__type":"ItemId:#Exchange","Id":"AAMkADY4MmFlMTNiLWRhMTAtNGVlYi1hN2M3LTIzOGRhNDQzZTM2OABGAAAAAADtok+iNkSOR7FHlbRiA1CGBwA6ZJyWpgFeSL3151bz0sZdACkZun5UAAD9Sa20WXy5S6sqxCDewopUAAN+RrMeAAA=","ChangeKey":null},"Name":"Inspections ","IsInline":false}]}

Ashlye,
Ok

[2020-04-18 02:33] ABonomo21 opened #529 "Tank Permit - Parent Child Condition"
This plumbing permit has a Tank attached as the Parent but it is still asking for a building permit to be associated.

Permit# 270184 for Plumbing

Permit# 270182 for Tank

![image](https://user-images.githubusercontent.com/47611580/79626079-605bd880-80fb-11ea-9fdf-80a1b66db9d4.png)
![image](https://user-images.githubusercontent.com/47611580/79626080-6487f600-80fb-11ea-80d4-b5fcf3375aec.png)

[2020-04-18 02:44] ABonomo21 opened #530 "Report for CIP/Municipal Fees Waived"
Planning and permits would like to have a report created that will provide a list of CIP and Municipal applications for which fees were waived.

we developed the system for the purpose that if asked by the CE’s office, we would have a way to determine the total fees waived for CIP’s/Municipalities. I believe this should probably be configured by the check box selection on the details page in combi

[2020-04-19 12:22] #517 closed

[2020-04-19 12:23] #516 closed

[2020-04-19 12:24] #515 closed

[2020-04-19 12:24] #514 closed

[2020-04-19 13:09] #495 closed

[2020-04-19 13:28] #384 closed

[2020-04-19 13:38] megisys commented on #500
Log allows you to do pretty much anything on that inspection. Once finished doing what is need please remove the log.

[2020-04-19 13:38] #500 closed

[2020-04-20 14:49] Ycoto commented on #521
We try recreating this on the Test server and we were not able to recreate this problem.

[2020-04-20 18:00] JuanitaMiles opened #531 "New DUSWM Planning AP Type"
Source:
Meetings
Requested By: Mike WIlkins, Ashley Reed

Request:
DUSWM staff that reviews planning applications sometimes have a need to create new back office planning application for things like City projects because DUSWM still manages their utilities. DUSWM is currently creating applications with the AP types that currently exist, however this is causing confusion and extra staff efforts due

[2020-04-20 18:00] JuanitaMiles commented on #531
Currently working with Mike and Ashley to document workflow and details. Will attach documentation here once finalized.

[2020-04-20 18:30] ABonomo21 commented on #522
moved to future phase

[2020-04-20 18:30] #522 closed

[2020-04-20 18:31] JuanitaMiles commented on #530
may want to look into using this as a training opportunity for new IIT staff. will follow up with Tara.

[2020-04-20 18:33] #511 closed

[2020-04-20 18:36] ABonomo21 commented on #507
covered by ticket  #5 and #4 on future phase list

[2020-04-20 18:36] #507 closed

[2020-04-20 18:37] ABonomo21 commented on #506
moved to future phase

[2020-04-20 18:37] #506 closed

[2020-04-20 18:41] ABonomo21 commented on #505
applicants should be able to edit on awaiting applicant resubmit and awaiting applicant revisions.

moved to future phases

[2020-04-20 18:41] #505 closed

[2020-04-20 18:42] ABonomo21 commented on #504
moved to future phase

[2020-04-20 18:42] #504 closed

[2020-04-20 18:43] ABonomo21 commented on #503
moved to future phases

[2020-04-20 18:43] #503 closed

[2020-04-20 18:44] ABonomo21 commented on #502
moved to future phase

[2020-04-20 18:44] #502 closed

[2020-04-20 18:45] ABonomo21 commented on #499
emailed Emily 4.20.20

[2020-04-20 18:49] ABonomo21 commented on #445
Sorry for my delay tara- please proceed with those changes.

Thanks !

Ashlye

[2020-04-20 18:50] ABonomo21 commented on #434
@megisys Was this an item that was to be addressed with the patch update?

Christian last logged the follow up with support 28 days ago..

[2020-04-20 18:51] JuanitaMiles commented on #409
Closing.

[2020-04-20 18:52] ABonomo21 commented on #408
closing for now will re-open if occurs

[2020-04-20 18:52] #408 closed

[2020-04-20 18:57] ABonomo21 commented on #394
moved to future phase

[2020-04-20 18:57] #394 closed

[2020-04-20 18:58] ABonomo21 commented on #388
moved to future phase

[2020-04-20 18:58] #388 closed

[2020-04-20 18:58] ABonomo21 commented on #323
@megisys is this another one that was to be addressed with the patch?

[2020-04-20 18:59] #322 closed

[2020-04-20 19:00] ABonomo21 commented on #322
possible product enhancement discussion to be had closing for now

[2020-04-20 19:00] calequin commented on #434
@ABonomo21 this should have been addressed with the latest mobile update of 11.2.2003

[2020-04-20 19:00] #224 closed

[2020-04-20 19:02] calequin commented on #323
@ABonomo21 yes also should have been addressed in the 11.2.2003 update

[2020-04-20 19:03] ABonomo21 commented on #439
moved to future phase

[2020-04-20 19:10] ABonomo21 commented on #424
move to future phase list

[2020-04-20 19:10] ABonomo21 commented on #508
Not sure why we would be doing this closing ticket

[2020-04-20 19:10] #508 closed

[2020-04-20 19:14] ABonomo21 commented on #526
moved to future phase

[2020-04-20 19:14] #526 closed

[2020-04-20 19:17] ABonomo21 commented on #497
will need to re-open if this is something that occurs when back in the office. working remotely is when the issue was noticed.

[2020-04-20 19:29] ABonomo21 commented on #528
Ask Dan for time to complete

*I was wondering if you could run a script that would pull all RESUSE permits with a work type of ADDITION and a construction type (on the residential use details page of )
DECK>500 and DECK500.

From there - we would like to do a couple of things.

Waive all inspection types of BLDG-BACK (backfill) and BLDG-FOUND (foundation).
Possibly change the code to make those i

[2020-04-20 19:31] ABonomo21 commented on #524
moved to future phases

[2020-04-20 19:31] #524 closed

[2020-04-20 19:37] ABonomo21 commented on #509
moved to future phases

[2020-04-20 19:37] #509 closed

[2020-04-20 19:40] ABonomo21 commented on #496
set up meeting to focus on application expiration @dhenry-KCI

[2020-04-20 19:43] #491 closed

[2020-04-20 19:44] #479 closed

[2020-04-21 02:38] ABonomo21 commented on #424
moved back from future list

[2020-04-21 02:39] ABonomo21 commented on #439
moved back from future list

[2020-04-21 02:40] ABonomo21 commented on #439
ticket 74

[2020-04-21 15:03] JuanitaMiles commented on #413
REOPENING TICKET -

Bob Ensor has noticed that email notifications are not being sent to customers when he uses the "Send Today's Notifications" button on the Building Permits Schedule Inspections window. He has been in contact with customers who have told him they have not received the "Inspection Scheduled" notification.

Permit 269083 is an example. It appears that pushing the "Send Today's Not

[2020-04-21 17:01] JuanitaMiles commented on #531
Detailed requirements for this AP Type are outlined in the documents below. These details have been reviewed and confirmed with Ashley R and Mike Wilkins. This documentation should be referenced while creating all steps in the DUSWMPL Application Type:

1) DUSWM_Requirements_v2.1 - Outlines all requirements for each milestone. This includes review types, result codes, condition types, fees, report

[2020-04-21 17:32] AReed327 opened #532 "PLANNING - SHA didn't add on SITE PLAN TYPE II"
Project Number - SP259997
Observed behavior - SHA didn't add automatically. Parcel reflects State Road, but I had to add manually.
Expected behavior - SHA should add automatically with Parcel Details Road - S
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/79895154-735cfa00-83d4-11ea-930f-68ee8292b9d6.png)

![image](https://user-images.githubusercontent.com/58854333/798950

[2020-04-21 18:41] ABonomo21 commented on #489
Closing ticket meeting with Avolve 4.21.20 - resolved the issue- issues with the firewall async was turned off and that allowed the plans to upload.

[2020-04-21 18:45] JuanitaMiles commented on #439
Was proposed to be part of zoom training. County IIT to coordinate zoom training with Avolve.

[2020-04-21 18:46] JuanitaMiles commented on #424
Was proposed to be part of zoom training. County IIT to coordinate zoom training with Avolve.

[2020-04-21 18:53] pooldaddy commented on #489
![image](https://user-images.githubusercontent.com/47391482/79902448-81644800-83df-11ea-933e-668de1dc8e2d.png)
![image](https://user-images.githubusercontent.com/47391482/79902652-d2743c00-83df-11ea-9816-bead906e80db.png)
Screenshot from Project dox Admin above

[2020-04-22 13:53] AReed327 opened #533 "PLANNING - NID - completeness check resulted NFC and application didn't close."
Project Number - N260016
Observed behavior - Resulted completeness check as NFC because it was a duplicate. Project didn't close the way NFC was designed. It progressed to under review.
Expected behavior - NFC to close application the same as it does other applications.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/79990456-1407f400-847f-11ea-931d-c77658a10314.png)

[2020-04-22 14:00] ABonomo21 opened #534 "P&I HOLDs"
P&I HOLDS on permits should stop the progression of permits within the system, i.e. requesting, scheduling and resulting inspections. We had a plumbing permit 268637 which i added a hold on the permit on 4.17.20 and it allowed an inspection to be scheduled on 4.20.20.

Can we please make sure the condition is stopping all inspection action on permits-

[2020-04-22 14:04] AReed327 commented on #533
This application did have a withdraw request on it. I don't think that would make a difference. Just an observation.

[2020-04-22 14:41] JuanitaMiles opened #535 "R4C - Allowing Double Payment of Fees"
Dan Lewis (treasury) has reported a couple of occasions where applicants have been able to make duplicate payments on R4C. I have included Emily and Dan's description of the problem below. It appears there may be a timing issue as one applicant paid 1 minute after the other and the system accepted both payments. A payment of the same fee by two different applicants should not be able to occur.

Th

[2020-04-22 15:54] JuanitaMiles opened #536 "Patch Updates - Summary Page Site Widget (GIS)"
Comments from Mike Wilkins and Ashlye Bonomo regarding the Site Widget on the application summary page:

**Ashlye B 4/19/20:**
![image](https://user-images.githubusercontent.com/31770504/80003822-91d3fb80-848f-11ea-8fb5-6d923a2fa9b3.png)

**Mike W 4/20/20 (also includes comments from Dan/Rick M in response):**
![image](https://user-images.githubusercontent.com/31770504/80003659-5802f500-848f-11ea-

[2020-04-22 16:00] JuanitaMiles opened #537 "Patch Updates - Summary Page Application Header Updates"
Comments from Ashlye Bonomo and Mike Wilkins regarding the summary page application header configuration.

**Ashlye B 4/19/20:**
![image](https://user-images.githubusercontent.com/31770504/80004516-6bfb2680-8490-11ea-847b-f4ac9e7f34c0.png)

**Mike W 4/20/20 (also includes comments from Dan in response):**
![image](https://user-images.githubusercontent.com/31770504/80004605-86cd9b00-8490-11ea-80ca-

[2020-04-22 17:10] megisys commented on #535
![image](https://user-images.githubusercontent.com/47392306/80011938-8e923d00-849a-11ea-8c05-aafabd342d6e.png)
Cashiering setup allowed overpayment

[2020-04-22 17:11] megisys commented on #535
Turned off now in Production

[2020-04-22 17:16] AReed327 commented on #537
# 4 is not an issue.
#3 Main issue is customization on all Planning Application types. See screenshots below. Highlighted is what is in production and missing in test.

PRODUCTION
![image](https://user-images.githubusercontent.com/58854333/80012561-7ec72880-849b-11ea-89c0-3cb6d6cd0ff9.png)

[2020-04-22 17:17] megisys commented on #534
I will have to built this in test.. I dont think we ever tested this out.. Do you have any history on this in the past please. @JuanitaMiles @ABonomo21 . Is this net new and we Thought we tested this ?

[2020-04-22 17:29] emilypearl1 commented on #535
Will monitor. Satisfied at this time with the change Dan has made in production... will monitor and advise if this is again an issue

[2020-04-22 17:29] #535 closed

[2020-04-22 17:42] JuanitaMiles commented on #534
I think Dan is correct, and the portion of the requesting/scheduling was not incorporated into the rules for holds. I believe we had the more generic rules that say the permit can't progress to the next milestone if there is a P&I hold. I'm looking specifically back at current repository ticket #485 and old github repository ticket # 318 for some history.

[2020-04-22 17:45] emilypearl1 commented on #499
Ok. I think I can live with this. Moving forward i will remember to print all the documents prior to releasing the second BT. This shouldnt be a problem. If I notice that this needs to be changed- I will reopen... but I can work with knowing this.

Thanks Tara. closing ticket.

[2020-04-22 17:45] #499 closed

[2020-04-22 18:23] ABonomo21 commented on #534
I recall having this discussion while Ibti was still on the project and could have sworn we tested the P&I holds to make sure they stopped progression prior to the fix Dan made to generate the condition portion.

Perhaps there is some confusion or misinterpretation because in H7 when this was a condition it would stop the stage progression of a permit, if it was in the inspections status it would

[2020-04-22 19:06] mlibbey131 opened #538 "Non-Residential Re-Application 50%"
When submitting a Non-Res Re-Application 50% a Status Check comes up to add the Building Fee. However even when you add the Building fee the permit doesn't progress. You have to Supervisor Override the permit to get it to add the rest of the fees and move forward.
There should be a log or a condition to progress the permit forward. Permit# 274351 old GitHub issue number is 1880

![image](https://u

[2020-04-22 19:50] JuanitaMiles commented on #325
Initial Electrical Permit Inspection Matrix. We will use this as our pilot to complete the initial configuration, and testing. If there are any clarifications needed from the attached spreadsheet, we can make adjustments to the format/details as needed.

[Inspections_Matrix_v2.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4518684/Inspections_Matrix_v2.xlsx)

[2020-04-23 18:18] pooldaddy commented on #520
@ABonomo21 @JuanitaMiles
As you can see below on parcal info thi spoperty has township code = 12
![image](https://user-images.githubusercontent.com/47391482/80134628-016be880-856d-11ea-9433-620c91e3dd37.png)
But on parcel details tab check box for incorp town is not checked

![image](https://user-images.githubusercontent.com/47391482/80134721-28c2b580-856d-11ea-9249-8f8330957430.png)

That is why

[2020-04-23 19:05] JuanitaMiles commented on #520
@pooldaddy My first suggestion would be to check with County GIS (Mary M) to try to understand how that Incorp Town checkbox gets updated. Does GIS update it? or does Infor run some sort of script to populate it based on the Township code being something other than 00. If GIS doesn't maintain that field, then you'd follow up with Dan.

[2020-04-23 19:15] JuanitaMiles commented on #520
@pooldaddy In addition, the code that tells the ResBldg DPZ review to add or not is not written the same way for the Grading permit DPZ review. DPZ Review AOC  on grading does not look for IncorpTown = true.

[2020-04-23 20:13] TaraF commented on #445
No problem.  Assigned, in progress.

[2020-04-24 11:49] AReed327 commented on #497
This was an issue when we were still in the office. I called Juanita when it occurred on Tolson Desa's office computer. He is still having the problem. It is happening on my dashboard with the PWCONSTRUC # of PAGES Dashboard. The report that is a problem on Tolson's is Building Reviewer to do list. Mike Wilkins is also having it happen to the Withdraw request dashboard.
Tolson's
![image](https://u

[2020-04-24 17:13] MLWilkins commented on #497
Went to office and confirm that it happens in the office as well as remote.

[2020-04-25 13:21] megisys commented on #537
Added Back.. Status is no Longer available as by default ti orginially didn't have milestone, but they added that in this release and removed status

[2020-04-25 13:21] megisys commented on #413
Issue Adddressed

[2020-04-25 13:22] #413 closed

[2020-04-25 13:33] megisys commented on #534
BP_ManageInspection_BUF - Move once tested

[2020-04-25 13:35] megisys commented on #525
Yes. This was pushed with Development.. Coming in Future release !! I pushed this a month ago FYI

[2020-04-25 13:39] megisys commented on #532
HI There,

The Matrix said no SHA on Type2 or Type3 or ADMCON and these would be added manually..

PLease let me know the change you would like to the above.. I removed TYPE2 for testing if this is what you are after

PLN_SITE_SHA_AOC - To be promoted

[2020-04-25 13:41] megisys commented on #536
Awaiting Meeting with Austin and Rick on Monday

[2020-04-25 14:02] megisys commented on #528
See Batch Job OneTimeCleanUP- DeckPermits - Run in Test.. Let me know

[2020-04-26 14:16] megisys commented on #473
EXTRequest_MusthaveFee_BU - to be promoted
Fee_ProcessExtension_BU - to be promoted

**EXT Fee to be used for Grading Extensions** As has to be consistent fee

[2020-04-26 15:16] megisys commented on #533
This will be a gap in formula. Are you sure you dont want me to take this one ? @JuanitaMiles

[2020-04-27 12:43] pooldaddy commented on #520
@JuanitaMiles Both Town Code and Intown fields are updated by GIS provided the parcel is linked

[2020-04-27 16:42] JuanitaMiles commented on #110
Reopening Ticket -

Town notifications still do not appear to be working as expected in Production. A couple of examples below:

1) RESUSES Permit 275500 was created on 4/23 and Issued on 4/24. Town Reviewer, Middletown, did not receive the notification indicating the application has been accepted by the county (completeness check approval), and it did not receive the town version of the Issued no

[2020-04-27 16:53] JuanitaMiles commented on #110
Add RESUSE AP # 275527 to the list of not getting the initial application accepted email after approving completeness check.

[2020-04-27 18:15] AReed327 commented on #537
SDAT button is only showing half and when you click on it, it doesn't work.
![image](https://user-images.githubusercontent.com/58854333/80402577-15c12580-888c-11ea-8b2c-bed7b2647663.png)

VERIFY - Needs: This application is an internal/eplan review line based on completeness check result. I know this application is always internal but summary screen should be consistent. (It was updated on NID whi

[2020-04-28 14:07] pooldaddy commented on #520
@JuanitaMiles @ABonomo21  When review and fee were generated on 4/1 for permit 271440, the towncode was set = 00 in error, and intown box was unchecked.  This data issue cause erroneous review and fee to be generted for DPZ.  Since has been corrected on 4/24 by GIS.  Closing issue.  For a sample ressfd permit see test # 266745 was did not generate DPZ review or fee.

[2020-04-28 14:08] pooldaddy commented on #520
@JuanitaMiles would like to close as this was a data issue.

[2020-04-28 14:11] JuanitaMiles commented on #520
Will monitor moving forward. If issue occurs again we will reopen.

[2020-04-28 14:11] #520 closed

[2020-04-28 14:24] JuanitaMiles commented on #489
Reopening for Tracking - A. Reed encountered another instance of this upload error on 4/24. County IIT has followed up on existing Avolve ticket.

![image](https://user-images.githubusercontent.com/31770504/80498965-63946700-893a-11ea-9bd4-b7483ddef83a.png)

[2020-04-28 19:55] JuanitaMiles commented on #110
Spoke w/ AB on 4/28. Upgrading to high priority.

[2020-04-28 21:05] megisys commented on #537
PLN_ProjectDoxCheck - To be Promoted

[2020-04-28 21:23] megisys commented on #525
I can not do anything here.. has been added as a request.

[2020-04-28 21:24] megisys commented on #536
Aiming to be complete this week

[2020-04-28 22:14] megisys commented on #110
Fixed in Production - Due to Urgency tonight. Tested in Test only. Confident issue is fixed.

[2020-04-28 22:22] megisys commented on #527
BP_UnderReview_NMF - te be promoted if accepted..

Minor Grading on an address with subdivision starting with S

[2020-04-29 14:35] JuanitaMiles commented on #110
I will review again in a few days to confirm any town notifications that might be applicable.

[2020-04-30 16:27] megisys commented on #536
Added in all GIS Available layers - Couple provided by GIS are not available to use via IPS. But Test has a number of new layers Production currently doesnt have

[2020-04-30 17:04] MLWilkins commented on #497
@JuanitaMiles @pooldaddy   This is happening to me in test as well as prod.

[2020-04-30 17:13] MLWilkins commented on #536
Planning comments have been addressed. I am marking test accepted but also tagging @ABonomo21  as she had two question/comments in this ticket as well.

[2020-05-01 00:29] ABonomo21 opened #539 "Milestone Progression for Building Permit"
I have seen a few permits that are not appearing to progress milestone accurately, I have been assuming it was because of a batch manager issue however, I finally inquired to IIT about permit 275451 that is stuck in awaiting applicant payment- all fees have been paid. i know if i click check status it will roll to the issued and inspections milestone but I have left it for Dan to take a look per E

[2020-05-01 01:27] ABonomo21 commented on #539
Another permit - 268442 I had to check the status on to make it move from awaiting applicant revisions to under review when the Pdox resubmission task was already accepted and new reviews assigned.

[2020-05-01 14:10] Ycoto commented on #523
@ABonomo21 it was generated because OccupancyType is RESSFD and this point in the code the only thing could stop it from generated is if SubDivisionCode wold StartsWith "S".

[2020-05-01 14:39] ABonomo21 commented on #525
Would it also be possible to add to this ticket or maybe we need a new one to add a field for who added the attachment, I.E applicant or staff? @megisys @JuanitaMiles

[2020-05-01 16:44] megisys commented on #525
THis is coming

[2020-05-01 19:34] JuanitaMiles opened #540 "R4C - General Database Error - Applying for Home Occupation Permit"
See attachment for the lengthy "General Database Error" message received by an applicant when trying to apply for a Home Occupation permit on R4C.

[Error-General Database Error.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4566001/Error-General.Database.Error.pdf)

I've double checked the IPS system for the Project Name recorded in the attachment and confirmed that it did not offi

[2020-05-04 11:47] megisys commented on #540
Something is too long for the field length. Working on this now

[2020-05-04 11:51] megisys commented on #540
Regeneration of Detail Page in Production. Fixed

[2020-05-04 17:21] JuanitaMiles commented on #497
@pooldaddy Jeff to create an Infor Xtreme ticket for this issue.

[2020-05-04 17:40] ABonomo21 commented on #539
here is another example of a fire permit that was suck in awaiting applicant revisions even though they submitted through project dox - 274239

![image](https://user-images.githubusercontent.com/47611580/80995810-dc993000-8e0c-11ea-8ca5-9376a1cd3021.png)

[2020-05-04 18:17] JuanitaMiles commented on #110
ResUse AP # 276859 - Application was processed 5/4 8:44 am and is now Under Review. The Middletown Town Reviewer contact did not receive the initial "application accepted in a town" email after approving the completeness check. In addition, the issued emails that went out to the are not the Town version, they are the standard ones that are getting sent because they are not opted out of it.

![imag

[2020-05-04 18:21] JuanitaMiles commented on #110
Walkersville AP # 276797 - Application Processed 5/1 did not get application accepted notification.  AP # 275527 was issued on 5/1, did not get the Town issued notification.

Myersville AP # 200594 - Application issued on 5/1, did not get the Town issued notification.

[2020-05-04 20:48] megisys commented on #110
![image](https://user-images.githubusercontent.com/47392306/81012140-0e1ef500-8e27-11ea-94b8-b82995e94aa7.png)

[2020-05-04 21:00] megisys commented on #539
New Batch JOb - Progress Building Permits - Runs every two hours for any application in an Awaiting Milestone to check if it should move.

Dan

[2020-05-05 01:40] ABonomo21 opened #541 "Health Review on Building Permit"
We had a health review generate on a building permit when health had already approved their review. A second review was added manual for DPZ at the revision assignment because they were the only agency asking for a resubmit. when it moved back to under review the health  review automatically spawned.

All reviews should be manually added at revision assignment and not additional review should spaw

[2020-05-05 01:42] ABonomo21 commented on #523
Zoning Review should not generate on any permit when it is located in the town limits. The town reviewer additional application should add. We can discuss tomorrow. @Ycoto @JuanitaMiles

[2020-05-05 02:09] ABonomo21 commented on #494
All after review- It looks like the report in production is not generating details of the monthly reports that have been processed. When I tested, I selected a few at random and at the time there were no reports submitted for those organizations, I could have swore some of those organizations were showing reports when I ran it in test.  When I went to run the report in production none of the gamin

[2020-05-05 11:20] megisys commented on #541
RESUSES_EH_Review_AOC - To be promoted

[2020-05-05 11:27] megisys commented on #538
BP_REAP50_BuildingFee_SCF - to be Promoted

[2020-05-05 13:26] megisys commented on #533
PLN_NIDVERIFY_NSF - Move once tested

[2020-05-05 13:31] megisys commented on #529
PLUMBPERM_ParentBldAP_SCF - Updated - Was missing the S from Tanks. I am doing this to move as much as possible tomorrow night. Will be meeting with Jeff at 1pm today and we will review

[2020-05-05 13:46] megisys commented on #481
RESBLDG_Fee_HealthReview_AOC - Promote once tested

[2020-05-05 13:51] megisys commented on #523
GRADING_DPZ_Review_AOC - Updated. Moved the Township code lower in the formula.

[2020-05-05 14:42] megisys commented on #531
70% Complete in Production - AS Copy to Test going to happen this week and didn't want to loss work. Need to complete rest out of hours @JuanitaMiles

[2020-05-05 15:11] megisys commented on #518
@JuanitaMiles - Can you create an example on this in the Test environment

[2020-05-05 17:11] JuanitaMiles commented on #300
Reopening Ticket per Bob Ensor. See his comments below:

![image](https://user-images.githubusercontent.com/31770504/81094695-e46ed800-8ed1-11ea-98c0-df67f1f049ef.png)

[2020-05-05 17:59] JuanitaMiles commented on #531
@megisys Application expiry should be 5 years and begin once the fees have been paid.

[2020-05-05 18:17] JuanitaMiles commented on #531
Permissions for the DUSWM ap have been set in Prod for the Super User access group only for now. Once everything has been tested, accepted, and finalized, I will implement the appropriate permissions for the DUSWM role.

[2020-05-05 18:34] AReed327 commented on #533
N258968 Completeness Check resulted as NFC and the application moved to closed.
![image](https://user-images.githubusercontent.com/58854333/81102224-526ccc80-8edd-11ea-93fc-bc587f06d8b4.png)
N258969 ![image](https://user-images.githubusercontent.com/58854333/81102363-89db7900-8edd-11ea-8360-8c82a6ddd496.png)

Test Accepted

[2020-05-05 19:16] AReed327 opened #542 "PLANNING - PROJECT won't transfer to PDOX - ERROR"
Project Number - SP260017
Observed behavior - Project won't transfer to PDOX - gives error code
Expected behavior - Project should go to PDOX with no error when completeness check resulted EPLANS
Screenshot -
Original Error 4/22/2020
![image](https://user-images.githubusercontent.com/58854333/81106168-1b011e80-8ee3-11ea-96a8-75972bf0775a.png)
Manual Push (PDOX LOG) error 5/5/2020
![image](https://

[2020-05-06 13:08] AReed327 opened #543 "Planning - Dashboard not showing unassigned FRO review"
FRO Review is not assigned and it is not showing on the assign reviewers dashboard. I've started assigning the completeness check review at the time it is completed so our reports will show accurate info. FRO should still show unassigned once that review populates after fees are paid for an internal review.

![image](https://user-images.githubusercontent.com/58854333/81180265-c6a87e00-8f78-11ea-86

[2020-05-06 14:07] AReed327 opened #544 "PLANNING - FRO Miscellaneous condition holding application from completeness check resubmit loop"
Project Number - F260037
Observed behavior - Resubmit requested on Completeness Check. Application didn't progress because of miscellaneous condition that project "Needs a previously approved/submitted FRO application"
Expected behavior - This condition cannot hold up completeness check loop because it is that previous application that I am requesting a resubmit for.
Screenshot -
![image](https://

[2020-05-06 14:57] megisys commented on #542
There name was just too long - I split over the two name fields

[2020-05-06 15:01] megisys commented on #544
PLN_FRO_FROParentReq_SCF - To be promoted once tested

[2020-05-06 16:58] ABonomo21 commented on #541
tested 266865 approved - error did not occur

[2020-05-06 17:02] ABonomo21 commented on #538
tested 266866 and the permit progressed to fees after the building fee was manually added. worked correctly

[2020-05-06 18:05] JuanitaMiles opened #545 "R4C - Update "Reset Password" Support Number"
The window that tells users their password has been reset shows a generic phone number. This needs to be changed to the County's support number.

![image](https://user-images.githubusercontent.com/31770504/81212174-7e05ba80-8fa2-11ea-8656-74e2e4566beb.png)

[2020-05-06 18:24] AReed327 commented on #542
So, is this corrected for future projects? Do we need to adjust the character limit of existing accounts and future accounts on R4C for the contact record? @megisys

[2020-05-06 18:43] AReed327 opened #546 "PLANNING/PERMITS - Temporary Passwords not being sent to new users for R4C login."
Project Number - PW260011/ grading permit  275459
Observed behavior - New portal users are added and the portal account is created. A Temporary Password is assigned but never sent to the new user. When the new user goes to create an account, R4C tells them they already have an account. When they try to access the account the rescue password question is "when did you setup your account" which they

[2020-05-06 19:18] megisys commented on #542
Hopefully it isnt a recurring issue. Is a very long name. We can handle this later if it happens again

[2020-05-06 19:32] ABonomo21 commented on #529
tested 266868 added a tank permit as parent worked correctly

[2020-05-06 19:37] ABonomo21 commented on #534
This did not work - Tested tank permit 264562 added p&i hold- and was able to request and schedule an inspection with a P&I hold

Was able to request and inspection for 266679 but was not able to schedule.

[2020-05-06 19:37] ABonomo21 commented on #534
This should work for all a/ps please

[2020-05-06 19:43] JuanitaMiles commented on #543
Spoke with @AReed327 , we are going to create a version of the report that shows the pdox projects as well and see how it goes. Closing ticket for now and will work through this with Ashley.

[2020-05-06 19:43] #543 closed

[2020-05-06 19:48] pooldaddy opened #547 "Please Promote Plannning/Use/Building Recalc Fees to PROD Tonight"
@JuanitaMiles  @megisys
BATCH_RecalcFees_Planning
Batch_UseRecalc

And the one for Building is

BATCH_RecalcFees

Should probably should have a more meaningful name

[2020-05-07 12:29] pooldaddy commented on #519
@JuanitaMiles submitted a ticket to Avolve

[2020-05-07 12:51] AReed327 commented on #544
F258972 Completeness check still being held up by condition. Condition should not hold up a resubmit request on completeness check being returned to the applicant.

![image](https://user-images.githubusercontent.com/58854333/81296200-89f38a00-903f-11ea-8508-31a361db2147.png)
![image](https://user-images.githubusercontent.com/58854333/81296291-aabbdf80-903f-11ea-985c-476226000868.png)

[2020-05-07 14:08] megisys commented on #544
I really sorry.. Loook like I forgot to hit save !!

[2020-05-07 14:30] megisys commented on #534
Sorry.., This has been adjusted

[2020-05-07 14:57] pooldaddy commented on #545
@JuanitaMiles Done in PROD & TEST
![image](https://user-images.githubusercontent.com/47391482/81310005-91239380-9051-11ea-8088-69900bed05e3.png)

[2020-05-07 15:27] AReed327 commented on #411
This is happening again. Format from Comments field under edit mode is covering Bond Tracking Details
![image](https://user-images.githubusercontent.com/58854333/81313299-b31f1500-9055-11ea-99cc-344074c1a607.png)

[2020-05-07 15:33] AReed327 commented on #411
Bond #3286

[2020-05-07 15:34] JuanitaMiles commented on #545
@pooldaddy Confirmed in Prod that the phone number has changed. However, the address at the bottom of this page has somehow reverted back to the generic address of "Mainstreet Anytown, ZZ"

Can we get this updated back to what it was please? (30 N. Market St. Frederick, MD 21701)

![image](https://user-images.githubusercontent.com/31770504/81313846-6425af80-9056-11ea-92ab-42772b698a57.png)

[2020-05-07 16:44] pooldaddy commented on #545
@JuanitaMiles should be good now.

[2020-05-07 17:16] JuanitaMiles commented on #545
Confirmed in Prod

![image](https://user-images.githubusercontent.com/31770504/81324383-e2894e00-9064-11ea-8dab-df8444f7f77f.png)

[2020-05-07 17:16] #545 closed

[2020-05-07 17:20] JuanitaMiles commented on #110
Confirmed on several towns that they have been getting the "TownUpdate" notifications since end of 5/4. There are still issues with the language on the notification, but I will open a separate ticket.

![image](https://user-images.githubusercontent.com/31770504/81324833-870b9000-9065-11ea-87f2-373a9b803ef6.png)

[2020-05-07 17:20] #110 closed

[2020-05-07 17:30] JuanitaMiles commented on #521
Tracking Ashlye's duplicated permit emails here:

![image](https://user-images.githubusercontent.com/31770504/81325756-d30b0480-9066-11ea-84f0-6a5dd3fb8066.png)
![image](https://user-images.githubusercontent.com/31770504/81325665-b40c7280-9066-11ea-95cd-b45af1e3c436.png)

[2020-05-07 17:32] JuanitaMiles commented on #521
![image](https://user-images.githubusercontent.com/31770504/81326046-3137e780-9067-11ea-90e4-e1e0aab90dde.png)

[2020-05-07 17:35] JuanitaMiles commented on #521
![image](https://user-images.githubusercontent.com/31770504/81326234-883dbc80-9067-11ea-95ab-c3c077050ece.png)
![image](https://user-images.githubusercontent.com/31770504/81326137-5f1d2c00-9067-11ea-8ff9-af182e344602.png)

[2020-05-07 17:38] JuanitaMiles commented on #521
![image](https://user-images.githubusercontent.com/31770504/81326558-069a5e80-9068-11ea-987f-6f0359a48f17.png)
![image](https://user-images.githubusercontent.com/31770504/81326509-f2566180-9067-11ea-9566-eece1175876f.png)

[2020-05-07 17:40] JuanitaMiles commented on #521
![image](https://user-images.githubusercontent.com/31770504/81326755-43665580-9068-11ea-8cb8-e9395b905e1e.png)

[2020-05-07 18:54] ABonomo21 commented on #536
good to go.

[2020-05-07 18:58] #542 closed

[2020-05-07 19:03] ABonomo21 commented on #534
re-test worked -

![image](https://user-images.githubusercontent.com/47611580/81334343-ebcde700-9073-11ea-8902-2dc430507612.png)

[2020-05-07 19:08] ABonomo21 commented on #473
permit 265136 waived back fill ips system but did not waive foundation

same with 265022

![image](https://user-images.githubusercontent.com/47611580/81334807-9e05ae80-9074-11ea-8971-c6e2341a258f.png)

[2020-05-07 19:09] ABonomo21 commented on #528
permit 265136 waived back fill ips system but did not waive foundation

same with 265022

![image](https://user-images.githubusercontent.com/47611580/81334921-c1c8f480-9074-11ea-8ca7-b99f0976cbbf.png)

[2020-05-07 19:22] ABonomo21 commented on #527
tested 266869 zoning review did not generate S1163

[2020-05-07 19:29] ABonomo21 commented on #527
tested 266870 after review went to close related to S1163

[2020-05-07 19:33] ABonomo21 commented on #523
tested 266871 no zoning review generated

[2020-05-07 19:39] ABonomo21 commented on #481
266872 did not add health fee

[2020-05-07 20:06] JuanitaMiles commented on #544
Doing a test for Ashley. Running through it in IPS only. Did not use R4C. Flow looks good. Started with the status check, resulted review with resubmit, application progressed to awaiting applicant resubmit, completed applicant actions detail page, then progressed back to Intake review and the status check appeared again as expected.

![image](https://user-images.githubusercontent.com/31770504/813

[2020-05-07 20:55] pooldaddy opened #548 "Please promote SETINTOWN SBM Job to PROD tonight"
@ megisys @JuanitaMiles
Formula
OneTimeCleanUP- TownInandOut

We tested in TEST and is working.
This will correct in town check box based on township code.

[2020-05-07 20:58] Ycoto commented on #547
@JuanitaMiles @megisys

Batch_CodeReCalFees
Batch_LincReCalFees
Batch_TraLicReCalFees

[2020-05-07 22:03] #544 closed

[2020-05-07 22:04] #541 closed

[2020-05-07 22:04] #538 closed

[2020-05-07 22:04] #536 closed

[2020-05-07 22:04] #537 closed

[2020-05-07 22:05] #534 closed

[2020-05-07 22:05] #533 closed

[2020-05-07 22:05] #532 closed

[2020-05-07 22:05] #529 closed

[2020-05-07 22:06] #527 closed

[2020-05-07 22:06] #523 closed

[2020-05-07 22:06] #481 closed

[2020-05-07 22:09] #407 closed

[2020-05-07 22:41] megisys commented on #528
Fixed

[2020-05-07 22:41] #528 closed

[2020-05-07 23:08] #547 closed

[2020-05-07 23:08] #548 closed

[2020-05-07 23:09] #163 closed

[2020-05-07 23:09] #323 closed

[2020-05-07 23:09] #434 closed

[2020-05-08 11:08] pooldaddy commented on #519
@JuanitaMiles @AReed327 @ABonomo21 @megisys
Per Avolve the workflows can be set to Business or Calendar Days.
ALL workflows in TEST pdox were already set to Business Days
Of the four Project workflows in PROD see below only 1 was set to Calendar days (hi-lighted)
![image](https://user-images.githubusercontent.com/47391482/81399956-08acfd80-90fa-11ea-93ad-a5b79a34d04e.png)

I changed this one to Bu

[2020-05-08 13:41] ABonomo21 commented on #337
We are not able open email attachments 193710

Checked other permits- Not able to view any email attachments in any module.

[2020-05-08 13:42] ABonomo21 commented on #521
@pooldaddy - Jeff can you provide me with an update about this ticket it is a large issue.

[2020-05-08 14:09] JuanitaMiles commented on #521
Another instance where the system was spinning and impacted attachments.

![image](https://user-images.githubusercontent.com/31770504/81413669-d0b2b400-9113-11ea-85e2-592778aab3ae.png)

[2020-05-08 14:31] awhite806 opened #549 "Incorrect Parcel Linked to address generated wrong MPDU fees."
This address of 4718 Plum Drive had the incorrect parcel linked to it and therefore generated the incorrect MDPU fees. I've sent the error to both Jeff and GIS

<img width="1329" alt="Screen Shot 2020-05-08 at 10 07 42 AM" src="https://user-images.githubusercontent.com/58981029/81415961-191fa100-9117-11ea-8d41-4988a36df5f2.png">
<img width="1329" alt="Screen Shot 2020-05-08 at 10 09 00 AM" src="ht

[2020-05-08 17:12] pooldaddy opened #550 "When uploading multiple attachments from R4C to IPS not all files upload EXTREME # 14563132"
@JuanitaMiles
Here is a list of permits from Maddison that failed to upload an attachment, well the system was spinning and did not appear to be uploaded.

LOT 740, #278055 – BUILDING PLANS
LOT 741, #278057- BUILDING PLANS
LOT 742, #278056- BUILDING PLANS
LOT 743, #278059- PLANS, SITE PLAN & BLANKET
LOT 744, #278060- PLANS, SITE PLAN & BLANKET

=====================================================

[2020-05-08 17:33] JuanitaMiles opened #551 "IPS Summary Page Site Widget - Not Functioning"
Site Widget is not on the summary page is not functioning for any modules.

This was initially a problem for Planning staff this morning but has since become a problem for Ashlye and Juanita this afternoon as well (noticed around 1pm).

Screenshots from Juanita's IPS
![image](https://user-images.githubusercontent.com/31770504/81432076-4298f680-9130-11ea-865b-e8a58607c7dc.png)
![image](https://user

[2020-05-08 17:40] MLWilkins opened #552 "Planning-summary page-"since" date not populating on all applications - 14566021"
The date field under "since" is populating on some APs but not others.  It is random across all Planning AP types (example, some site plans have it and others do not). Also seems random on which milestone its in.

![image](https://user-images.githubusercontent.com/50637067/81432520-10d45f80-9131-11ea-9118-32ad64afd44e.png)

![image](https://user-images.githubusercontent.com/50637067/81432634-47aa7

[2020-05-08 17:43] pooldaddy commented on #551
@JuanitaMiles @ABonomo21 Rick Monterio is looking into this issue for us. Awaiting response

[2020-05-08 20:09] ABonomo21 commented on #539
275636 did not change milestones even with checking status

[2020-05-08 20:10] ABonomo21 commented on #539
stuck to awaiting applicant revisions- new review generate in pdox - did not ever change milestone.

[2020-05-11 12:45] AReed327 commented on #497
@JuanitaMiles
Using SAM "My Infor Configuration" --> Action ---> Clear all preferences
This process clears all preferences in IPS but has also corrected my report that continued to page down. I don't know why it was paging down but this has corrected the issue so far. The important thing to document is that if you have this problem and use it as the fix, you must know what all of your preferences

[2020-05-11 13:24] megisys commented on #552
Ticket - 14566021

[2020-05-11 13:46] pooldaddy commented on #549
This has been corrected. See Mary's Response below:
![image](https://user-images.githubusercontent.com/47391482/81568842-56c93780-936c-11ea-85f8-a247d43e7e79.png)

[2020-05-11 13:47] pooldaddy commented on #549
@JuanitaMiles I think thi scan be closed.
@megisys

[2020-05-11 13:50] #549 closed

[2020-05-11 13:52] megisys commented on #411
@AReed327
![image](https://user-images.githubusercontent.com/47392306/81569272-0e5e4980-936d-11ea-94d0-e2f5179b6ce1.png)

I dont see the issue. Is this still happening..

[2020-05-11 13:55] megisys commented on #411
Fixed in Production - As no Business disruption

[2020-05-11 14:16] JuanitaMiles commented on #539
Progress Building Permits batch has not run since 5/4. Potentially why this permit did not get progressed forward and needed to be manually done.

![image](https://user-images.githubusercontent.com/31770504/81571448-f63bf980-936f-11ea-8332-a86dbf226f57.png)

[2020-05-11 15:11] JuanitaMiles commented on #473
This was not working when we attempted to test on Thursday 5/7. Ashlye, Emily and Dan saw this not working when we were on a call.

[2020-05-11 15:14] JuanitaMiles commented on #411
@AReed327 Please confirm formatting is fixed in production then close if satisfied.

[2020-05-11 15:22] megisys commented on #551
This issue is a Browser Cache issue

[2020-05-11 15:31] megisys commented on #518
I am told this is by design. As mobile are in the field and looking at the issues in person and confirming visually that everything is to be passed.. In the back office it is this way as the user is passing by way of being on location and it is a check

[2020-05-11 16:50] pooldaddy commented on #546
@JuanitaMiles  @Ycoto Have verified that an email was never created.  Configuration issue that needs to be looked at by Infor.
Assigning to megisys

[2020-05-11 17:07] Ycoto commented on #551
@JuanitaMiles @ABonomo21 @AReed327 @MLWilkins
We discover that this was a Browser Cache issue and we made some simple guidelines to help you clear the Cache.

[Clearing browser cache procedure internet explorer.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4611021/Clearing.browser.cache.procedure.internet.explorer.pdf)
[Clear Browsing Data procedure Chrome.pdf](https://github.com/d

[2020-05-11 17:10] JuanitaMiles commented on #551
@AReed327 @MLWilkins @ABonomo21 Please try this out with Production, if all appears fixed, we can close.

[2020-05-11 18:38] MLWilkins commented on #551
works for me using Chrome after clearing cache

![image](https://user-images.githubusercontent.com/50637067/81598248-00bcba00-9395-11ea-8f8c-c2cc8e49eebf.png)

[2020-05-12 12:40] pooldaddy commented on #519
@AReed327 @JuanitaMiles Take a look at above fix done in PROD,  that was the only workflow with days set to calander.  Suggest we close for now and reopen if issue resurfaces.

[2020-05-12 12:41] pooldaddy commented on #497
@JuanitaMiles I propose we close this.

[2020-05-12 12:45] AReed327 commented on #411
Added a new transaction and the formatting is still causing an issue. When you are in a bond and you save it at the top, then edit again, it seems to cause this issue.
![image](https://user-images.githubusercontent.com/58854333/81692673-c141ac80-942c-11ea-9fd0-439db9248a76.png)

[2020-05-12 12:50] pooldaddy commented on #489
@JuanitaMiles @AReed327 @ABonomo21   Since our initial fix from the meeting 2-3 weeks ago, there have only have 2 occurrences. one which we never determined cause and one where the 2 files from the user were corrupt and unable to be opened in adobe.  At this point, I suggest we close this ticket out.

[2020-05-12 14:27] JuanitaMiles opened #553 "TEST PDox - File Uploads Not Processing"
I've been trying to test projects via the TEST ProjectDox site. Once I upload my documents at the Applicant Upload or Prescreen Corrections task, the documents say they initially upload but then sit in the Documents folder as "processing" and cannot be opened.

My test project is 278137. HousePlan_Example01.pdf has been like this since yesterday (5/11) and "FP01 - 02- UA..." has been sitting like

[2020-05-12 14:29] JuanitaMiles commented on #551
Works for me as well. Closing Ticket.

![image](https://user-images.githubusercontent.com/31770504/81704094-70858000-943b-11ea-9e2f-ef44fc4a5028.png)

[2020-05-12 14:29] #551 closed

[2020-05-12 14:40] JuanitaMiles commented on #497
@pooldaddy @Ycoto  If you'd like to use the "Clear All Preferences" option as the resolution you'll need to ensure you understand what occurs when this option is selected and that IIT can support walking staff through how to reconfigure their dashboards they way they had them if/when this occurs again in the future.

[2020-05-12 22:03] awhite806 opened #554 "Placard/Official Issuance not auto attaching to permit"
on almost every permit that has issued since the new update, the placard and official issuance of the permit are not auto attaching. We are having to manually add them to every permit. These screenshots are an example of one.

<img width="1627" alt="Screen Shot 2020-05-12 at 11 32 18 AM" src="https://user-images.githubusercontent.com/58981029/81750057-d2190f00-947a-11ea-93b8-f4dd1170550a.png">
<im

[2020-05-13 12:54] ABonomo21 opened #555 "Health Department Reviews from PDOX"
The health department reviews going to pdox should follow the same due date guidelines established based on the priority code as the other reviews due.

HD reviews are not setting the correct due date, see example below.
This is for all building permits.

![image](https://user-images.githubusercontent.com/47611580/81814957-69bc4300-94f7-11ea-8fa4-e79c804ee34b.png)

[2020-05-13 12:55] JuanitaMiles commented on #554
@awhite806 Jeff has gotten the batch job running regularly again as of 5/12 14:30. All permits that were issued between 5/7 - 5/12 will likely need the official issuance and placards manually attached.

[2020-05-13 13:04] JuanitaMiles commented on #489
Closing. Will monitor and reopen if additional issues arise.

[2020-05-13 13:04] #489 closed

[2020-05-13 13:13] JuanitaMiles commented on #519
@AReed327 Have you had any additional instances of this occurring?

[2020-05-13 13:33] JuanitaMiles commented on #554
Spoke with Ashlye B on the phone. Staff are adding correspondence manually. Closing ticket since batch job is running now.

[2020-05-13 13:33] #554 closed

[2020-05-13 13:43] JuanitaMiles commented on #555
I believe this is in relation to when the due date needs to be manually changed in PDox, and that change not being reflected in IPS or PDox. The manual change seems to stick for DPZ and PLNREV, but  does not for EH.

[2020-05-13 16:04] JuanitaMiles commented on #490
@pooldaddy Jeff - If you haven't received a response from the Liquor Board regarding this, can you follow up with them again to get the ticket addressed and closed?

[2020-05-13 17:00] AReed327 opened #556 "Planning - STOPNOT Log but notifications still sent"
Why did notifications send on this even though I put a STOPNOT log on it before the completeness check was resulted?
PW260050
![image](https://user-images.githubusercontent.com/58854333/81842174-8e291700-9519-11ea-8b80-3a95f83a88f1.png)

[2020-05-13 17:08] AReed327 commented on #519
The only way I will know is if a plan is resubmitted on a Friday and it shows due on a Saturday. I will try one in Test on Friday to see if the Resubmit Received on a PWCONSTRUC is showing due on Saturday. AREED

[2020-05-13 17:09] AReed327 commented on #519
Also - doesn't make sense that the only change was to a building workflow. I agree with Jeff. That doesn't make sense that it would be the solution to what I am seeing.

[2020-05-13 17:13] pooldaddy commented on #519
@AReed327 Can u test this Friday? If still an issue I will update ticket with Avolve

[2020-05-13 17:48] JuanitaMiles commented on #556
@AReed327 the log has a stopped date on it. It looks like the stopped date was filled in when the log was initially being created and submitted by you. If the log has a stop date it will allow notifications to send.

[2020-05-13 19:24] AReed327 commented on #497
I agree that IIT will need to be able to support this. Before this method is used, IIT needs to confirm the names of all dashboards and any preferences the user has ex.  Contact and Property Browser set as page to load on start up
![image](https://user-images.githubusercontent.com/58854333/81855791-cdf9f980-952d-11ea-8838-e81972f58b64.png)

[2020-05-13 19:28] AReed327 commented on #519
I have a note to test this on Friday in test. Your previous comments lead me to believe Test may not mirror Prod. I'll let you know once it's tested.

[2020-05-14 13:59] MLWilkins commented on #552
@megisys  @JuanitaMiles

I noticed the AP used as an example above now has the date populated.  When the ticket was created I had found multiple examples.  This morning I noticed the one I took a pic of above was working and checked a few dozen other APs of various types and at various milestones and all appear to work.  Its ok by me if the extreme ticket is canceled and this ticket is closed. May

[2020-05-14 14:14] JuanitaMiles commented on #553
Tried with a new doc again after services were reset. Worked.

![image](https://user-images.githubusercontent.com/31770504/81945069-9a6dac80-95cb-11ea-9b8c-e34175fe031d.png)

[2020-05-14 14:14] #553 closed

[2020-05-14 14:15] JuanitaMiles commented on #552
@MLWilkins Thanks Mike. I will close this ticket.

[2020-05-14 14:15] #552 closed

[2020-05-14 16:44] AReed327 commented on #556
When I put a void log in I must include the stop date or the Void won't work.

[2020-05-14 16:44] #556 closed

[2020-05-15 00:26] ABonomo21 commented on #539
Another example of a permit that did not change milestones as it should have is permit 266492- resubmit received in pdox permit stayed in awaiting applicant revisions
![image](https://user-images.githubusercontent.com/47611580/81998639-0a5a5200-9621-11ea-92f8-d6db1438f72b.png)
![image](https://user-images.githubusercontent.com/47611580/81998657-13e3ba00-9621-11ea-8749-8b96b68f6b59.png)

had to che

[2020-05-15 12:32] megisys commented on #550
@pooldaddy  - Can you add you xtreme ticket numbers to the header, that way i can explore where they are.

[2020-05-15 12:38] megisys commented on #539
Hi All, The Batch Job was not running.. Fixed Schedule in Prodcution

[2020-05-15 12:51] megisys commented on #546
PLease Test -  and Promote  the following once apprvoed
SendNotify
BP_PortalAccountCreation_AAF
PL_AddRthyhmAccounts_AAF
PORTALC - Notification Template

[2020-05-15 13:00] megisys commented on #411
We got it this time. Just had to move it further down the page as the elements above it can grow.

[2020-05-15 13:23] megisys commented on #496
Abandoned Permits Task - Batch Manager Task..

[2020-05-15 16:22] pooldaddy commented on #550
@megisys added ticket # to header

[2020-05-15 19:09] AReed327 commented on #519
I replicated in Test and it does not show the weekend due date. I'm going to close this and I will let you know if it happens in PRODUCTION in the future. @pooldaddy
![image](https://user-images.githubusercontent.com/58854333/82087377-f7e22600-96bd-11ea-942a-c19d433b4ecc.png)

[2020-05-15 19:09] #519 closed

[2020-05-15 19:47] AReed327 commented on #546
PL260051 Retest failed. I created two new users and no emails were sent to provide them their temporary account information.
I only received the temporary passwords in the portal log
![image](https://user-images.githubusercontent.com/58854333/82090126-fc5d0d80-96c2-11ea-850b-4813686c498c.png)

![image](https://user-images.githubusercontent.com/58854333/82090049-ce77c900-96c2-11ea-8f24-5a0e42a1f7d5

[2020-05-15 23:50] ABonomo21 opened #557 "Bypass of status checks for completeness check resubmit"
We have been having permit held up in the completeness check milestone for building permits because the status check of license required is not being bypassed.
![image](https://user-images.githubusercontent.com/47611580/82105354-e5311680-96e8-11ea-9672-a7815ead77c7.png)

[2020-05-15 23:51] ABonomo21 commented on #557
![image](https://user-images.githubusercontent.com/47611580/82104581-769e8980-96e5-11ea-8cfb-17bbc905a644.png)

[2020-05-16 00:16] ABonomo21 commented on #557
![image](https://user-images.githubusercontent.com/47611580/82105358-eb26f780-96e8-11ea-845d-3d784a27d64f.png)

[2020-05-16 00:47] ABonomo21 commented on #557
also found a permit that was held up for a details page being completed.

All status checks should be bypassed if a resubmission is asked for at completeness check

[2020-05-16 00:53] ABonomo21 commented on #557
![image](https://user-images.githubusercontent.com/47611580/82106314-14965200-96ee-11ea-926e-99ae325feddb.png)
Another for building parent permit being required

[2020-05-17 19:20] ABonomo21 commented on #521
more duplicate permits- 279476 & 279484
279515&279516, 279517&279518

What is the status of this problem with R4C spinning?? This ticket was created a month ago @pooldaddy

[2020-05-17 21:42] ABonomo21 opened #558 "Health Department Review - Reassignment"
Putting this one in to keep on our radar, we will need to reassign all the health reviews. Karen Amoss is retiring June 12, 2020- waiting for her to let me know who to start re-assignment permit review too.

[2020-05-17 22:00] ABonomo21 commented on #558
As of 6.12.20 please make all building permit health department reviews auto assign to Kim Dillman

[2020-05-18 12:34] megisys commented on #557
BLD_ProgressOnResubmit_BU - Promote - Once Tested

[2020-05-18 12:36] megisys commented on #546
In Test - All Emails will go to you the User. To Stop Test system emailing real people. So it wont show up on their Notifications. Should be yours. But let me retest. @AReed327

[2020-05-18 12:47] ABonomo21 commented on #539
I have had a permit stuck in pending issuance 275630 since 5.11.20 - This needs to work for all permits in each milestone - this permit did not progress until I checked the status. @JuanitaMiles

[2020-05-18 13:03] megisys commented on #546
Test was performed from Rhythm and as we are in test mode. Is emailing the email address associated with Hansen8. Please test from back office.

[2020-05-18 13:35] AReed327 commented on #546
Email received. SP260052
![image](https://user-images.githubusercontent.com/58854333/82219061-c7330400-98ea-11ea-82b0-2a6f8c79c1f5.png)
![image](https://user-images.githubusercontent.com/58854333/82219140-dc0f9780-98ea-11ea-911e-9c1e1d834448.png)

[2020-05-18 14:03] megisys commented on #539
OK This one is different, AS it was pending Issuance, and I guess it was waiting on a child permit. Can you tell me why it was sitting in pending issuance, so i can address that issue.

Dan

[2020-05-18 14:04] megisys commented on #539
@JuanitaMiles @ABonomo21

[2020-05-18 14:45] pooldaddy commented on #539
@megisys @coto @JuanitaMiles The formula only progress ap's that begin with 'AWAITING'

[2020-05-18 16:03] JuanitaMiles commented on #550
Adding another instance of an attachment issue being reported by a customer. The attachments section is missing completely from permit details view. Will forward the full email chain that contains the screenshots provided by the applicant to County IIT for inclusion on Extreme ticket.

![image](https://user-images.githubusercontent.com/31770504/82234269-2ef34a00-98ff-11ea-8c32-08a2df5182f5.png)

[2020-05-18 17:51] Ycoto commented on #521
@JuanitaMiles Infor ticket# 14547500

[2020-05-18 17:58] JuanitaMiles commented on #550
Three additional examples of attachments not showing.

![image](https://user-images.githubusercontent.com/31770504/82244582-71248780-990f-11ea-8e4d-eb216231284c.png)

![image](https://user-images.githubusercontent.com/31770504/82244635-8d282900-990f-11ea-8479-dc30c99a0666.png)

![image](https://user-images.githubusercontent.com/31770504/82244695-a4671680-990f-11ea-99a9-cfef17b36869.png)

[2020-05-18 18:04] ABonomo21 commented on #521
more duplicates...
![image](https://user-images.githubusercontent.com/47611580/82245159-733b1600-9910-11ea-9189-ae628b57b879.png)

[2020-05-18 18:09] pooldaddy commented on #555
@juanita can you point me in the right direction as to where the priory codes are defined?

[2020-05-18 18:29] JuanitaMiles commented on #555
@pooldaddy @Ycoto Code Definition Management

![image](https://user-images.githubusercontent.com/31770504/82247198-fca01780-9913-11ea-99dc-4abb95dbd3a8.png)

[2020-05-18 19:11] JuanitaMiles commented on #521
Email from Megan regarding a customer reporting a duplicate permit application.

![image](https://user-images.githubusercontent.com/31770504/82250627-cf566800-9919-11ea-9f70-93e08dc9db21.png)

[2020-05-18 19:13] ABonomo21 commented on #539
Here are townhouse permits that are not progressing on their own either... they had to be check status
269050
--
269052
269056
269060
269067

[2020-05-18 19:23] pooldaddy commented on #555
@megisys Need your help on this one.

[2020-05-18 19:25] pooldaddy commented on #521
@juanita Not us

[2020-05-18 20:55] megisys commented on #539
Updated formula - Move to Production due to Urgency and ran !

Milestones.Add("Pending Issuance")
Milestones.Add("Pre-Issue COO")
Milestones.Add("Awaiting More Information")
Milestones.Add("Awaiting Applicant Resubmit")
Milestones.Add("Awaiting Applicant Revisions")
Milestones.Add("Awaiting Applicant Payment")

[2020-05-18 20:55] megisys commented on #539
Moved 27 More building permits on

[2020-05-18 21:04] JuanitaMiles commented on #558
@Ycoto

It does not appear that the Review Assignment setup has an effective date field, so the final Production configuration for this will have to wait until 6/12. You can practice the setup in TEST ahead of time however.

The configuration for this is within the Review Assignment windows for the respective module (I've highlighted the form codes in the screenshot below). I believe the automatic

[2020-05-19 11:46] AReed327 commented on #411
This is not fixed. I also was not given the opportunity to retest.
![image](https://user-images.githubusercontent.com/58854333/82322565-b8108c80-99a4-11ea-9618-8ebc0b39e511.png)

[2020-05-19 12:09] megisys commented on #411
Is this in Production AReed ? @AReed327

[2020-05-19 12:11] megisys commented on #411
![image](https://user-images.githubusercontent.com/47392306/82324856-52260400-99a8-11ea-9607-90bc16ad0506.png)

[2020-05-19 12:12] megisys commented on #411
@AReed327 - There is no change to the underlaying product. So these can be changed directly in production

[2020-05-19 12:12] TaraF commented on #494
@ABonomo21  - deployed in Prod, appears to be functioning now.

[2020-05-19 12:21] #411 closed

[2020-05-19 13:13] megisys commented on #531
This is ready for Testing in Test

[2020-05-19 13:28] megisys commented on #300
BP_ScheduleInspection_BU - To be promoted once accepted

[2020-05-19 13:46] megisys commented on #473
Addressed the Issue - Ran the 11Month Process in Test..

[2020-05-19 17:37] Ycoto commented on #558
@JuanitaMiles
   Thank you, I was able to update them I did saw other "EH" and  "HEALTH-FD". The only thing I haven't done is testing it. You think tomorrow after the meeting we could meet for like 10 min.

[2020-05-19 18:07] pooldaddy commented on #490
![image](https://user-images.githubusercontent.com/47391482/82362239-0c822f00-99da-11ea-8879-bee13799ef6b.png)

[2020-05-19 18:18] pooldaddy commented on #337
@megisys works for pdf & jpg but not msg since 5/8 upgrade.  my guess is a setting to allow msg file types

[2020-05-19 18:42] pooldaddy commented on #490
@jaunita Added to Both TEST & PROD notified liquor board

[2020-05-19 18:48] JuanitaMiles commented on #337
Found these old email instructions from Dan regarding opening existing email attachments and tried it on Ashlye's application above, but even this won't work because the description doesn't have the web address piece on it.

![image](https://user-images.githubusercontent.com/31770504/82366084-a13b5b80-99df-11ea-9057-efbfbc7c85bd.png)
![image](https://user-images.githubusercontent.com/31770504/8236

[2020-05-19 19:13] JuanitaMiles commented on #490
I looked in both Test and Prod - The Hotel Lobby fee is added to the Fee Library. However, there are a few more steps that will need to happen...Although the fee is listed in the License Fee Library, it has not yet been associated to any particular application type, and therefore will not be a selectable fee when processing the application. So:

1) Fee needs to be added to the Standard Fees grid f

[2020-05-19 19:28] pooldaddy commented on #490
Item 1 completed in prod and test

[2020-05-19 19:33] JuanitaMiles commented on #494
@ABonomo21 Take a look at the report in Production to see if it shows the expected data. If all looks good, we can close the ticket.

[2020-05-20 17:17] JuanitaMiles commented on #497
Met with Yaciel and went over all of the functionality on the My Infor preferences page. He should now have an understanding the overall functionality and how to help staff re-setup their dashboards if/when they need to be cleared. Closing this ticket.

[2020-05-20 18:24] JuanitaMiles commented on #530
Spoke with Jeff and Yaciel today (5/20) regarding this report. They said they were going to begin working on it, gathering additional requirements with Ash R & B and Tara's assistance may not be needed. Will initially assign to IIT only.

[2020-05-20 18:25] JuanitaMiles commented on #555
Assigning to Dan as well (@megisys ) since IIT needs assistance.

[2020-05-20 18:28] JuanitaMiles commented on #518
@ABonomo21 Can you review Dan's response above regarding the intentions of the functionality and provide your thoughts.

[2020-05-20 18:31] JuanitaMiles commented on #490
Provided training on how to add the permissions for the Hotel Lobby fee today (5/20) in Test.

@Ycoto to complete the permission update in production. Yaciel, once complete, please label this ticket as "Deployed to Production" and assign me so I can check it and close if there are no issues.

[2020-05-20 18:48] AReed327 commented on #531
Intake Review SOP
2) Input the Subdivision Code on the Job Description tab.
I thought it would have the same redline condition that required the subdivision code to be selected before moving out of the Intake Review Milestone. Can we add that so it doesn't get missed?
------------------------------------------------------------------------

The Contact Details is available when setting up the appl

[2020-05-20 19:11] megisys commented on #325
Ready for Test in Test. See Code Definition Management Under Shared for the set-up here.

[2020-05-20 19:39] JuanitaMiles opened #559 "Payment Provider Updates (R4C Payment Issues)"
Creating a placeholder ticket for tracking the R4C payment posting issues reported by Dan Lewis and the subsequent investigation of changing the "hand shake" settings between Govolution and IPS. Dan G. and Dustin will lead the efforts to coordinate with the necessary parties. Snippet of initial plan forward below:

![image](https://user-images.githubusercontent.com/31770504/82489505-c3041380-9aaf-

[2020-05-20 20:22] JuanitaMiles opened #560 "Bob Button Notifications When Rescheduling in Back Office"
Bob has noticed a potential gap in the functionality of when the "Bob Button" sends notifications. It appears that when an inspection is cancelled and/or rescheduled via R4C, the notification will send again once the new time has been requested and scheduled, as expected. However, when the inspection is "cancelled" in IPS (meaning the scheduled date has been manually changed or removed by back off

[2020-05-21 10:21] megisys commented on #560
If the back office is rescheduling. Remove the INSPBOOK log from the inspection. and it will be the same as all the other inspections The log is a safe guard to not over email. @JuanitaMiles

[2020-05-21 12:40] JuanitaMiles commented on #560
@TheBobEnsor  Bob can you try this out and let me know if it's the result your looking for?

[2020-05-21 14:09] megisys commented on #531
Hi There, This application was no slated for online @JuanitaMiles  from my understanding ?

[2020-05-21 14:14] megisys commented on #531
These areas have been addressed

[2020-05-21 14:20] AReed327 commented on #531
@megisys The goal was to not have it online. My concern is that when they link applicants with active portal accounts, what is keeping it from linking to their portal? I'm trying to determine or discuss, if there is nothing to keep it from linking to the portal account, does that cause issues? I would anticipate, if it did show up on an applicants portal, the applicant would likely try to pay the

[2020-05-21 14:22] megisys commented on #555
BP_RevisionDueDates_BU - To be promoted once tested

[2020-05-21 14:35] JuanitaMiles commented on #531
I think if we keep the "Show in Portal" checkbox unchecked on the AP type, this would prevent it from being visible at all right? Even if it does get created with an applicant with a portal account. Either way the application wouldn't allow submission on the portal but the show in portal being deselected will also make it unsearchable as well. @megisys Is this correct?

[2020-05-21 14:35] megisys commented on #531
This application type will not show up online. As it is show in portal = False. Also there are no notifications for this AP Type. I can ensure portal accounts are not created for any DUSWM applications

[2020-05-21 14:46] JuanitaMiles commented on #337
Dan working on getting a hot fix for this again. His update below:

![image](https://user-images.githubusercontent.com/31770504/82571011-58ef7b00-9b50-11ea-8e3c-288deac0855c.png)

[2020-05-21 14:49] JuanitaMiles commented on #300
@TheBobEnsor @ABonomo21 Bob and/or Ashlye if you are able. Please test this Friday afternoon and over the weekend to see if you can request inspections on Monday and/or Tuesday. (Monday is Memorial day so Tuesday would be the next business day.)

[2020-05-21 15:14] ABonomo21 commented on #473
The correspondence does not appear to be running when it should be **
Ext Log adds- Correspondence sends
Extension detail page generates-applicant completes detail page
generates review and then manually add fees

[2020-05-21 15:17] ABonomo21 commented on #473
date did not change for permit 194606

[2020-05-21 15:22] ABonomo21 commented on #473
correspondence for the placard did not generate- we manually ran the batch manager at 11:17

[2020-05-21 15:36] ABonomo21 commented on #557
278164 resbdlg- hb license required- bypassed
278134 resuse- priority code set - bypassed
278128- resuse need lic contact did not bypass
278126 electrical failed did not by pass building permit attached

[2020-05-21 15:38] ABonomo21 commented on #401
clear them

[2020-05-21 15:42] ABonomo21 commented on #494
checked 6 random and all accurate - thanks tara

[2020-05-21 15:42] #494 closed

[2020-05-21 15:45] ABonomo21 commented on #518
This functionality should work the same in both back office and mobile.

[2020-05-21 15:54] ABonomo21 commented on #496
This one is going to need more time and thought, pushing to future phase list.

we should really have it set that application processed set an expiration date of 6 month and then once it is issued the expiration date is overwritten by the new expiration date 1 year from the issuance date

[2020-05-21 15:54] #496 closed

[2020-05-21 15:57] ABonomo21 commented on #539
will monitor - as of now there are no issue
@pooldaddy - Jeff please make sure you are checking this daily.

[2020-05-21 15:57] #539 closed

[2020-05-21 19:00] JuanitaMiles commented on #531
I've tested 3 Work Types (APFO, Plat, PWConstruc). My detailed list of items below:

### **1) Application Creation/Submittal:**

- **Work Type = APFO** - PASSED (no issues)

- **Work Type = PLAT** : Update spelling on Plat Details page from "Total Areas" to "Total Acres".
![image](https://user-images.githubusercontent.com/31770504/82593353-61f04480-9b70-11ea-9d90-935e8a539dbf.png)

- **Work Type =

[2020-05-21 19:44] TaraF commented on #445
@ABonomo21  - changes are in for this report, per our discussion in thread above.  Please review and let me know if it should be pushed to PROD.

[2020-05-21 20:26] AReed327 commented on #531
"I can ensure portal accounts are not created for any DUSWM applications" - PERFECT!

[2020-05-21 21:08] JuanitaMiles commented on #325
@megisys I feel you'll need to review the work that has been done in test in comparison to the matrix we've provided. I tested 5 residential electrical detail types and 3 of those did not generate the inspections that were indicated in the matrix. The 5 applications are as follows:

CONSTSERV - 278179 (initial inspection generated correctly)
ALTADDACC - 278180 (initial inspections did not generate

[2020-05-21 21:19] JuanitaMiles commented on #445
@ABonomo21 Once you've confirmed in TEST, mark ticket as Test Accepted and Assign to @TaraF . This will alert her to push the changes to Prod and she can close the ticket once promoted.

[2020-05-21 22:28] ABonomo21 opened #561 "Reviewer Contact information"
We need to have the notifications for review comments generate the reviewers name and contact information, similar to ticket #215 for the inspectors contact information.

Applicants do not know who to reach out to when the reviews are generated.

[2020-05-22 12:08] megisys commented on #561
Can you send me a sample of the notification in question please ? @ABonomo21

[2020-05-22 12:16] megisys commented on #325
@JuanitaMiles - Those inspections are not in the matirx document and also there is no work type break down in this spreadsheet.. Where are you seeing that
![image](https://user-images.githubusercontent.com/47392306/82666758-88f85600-9c04-11ea-97e1-8a7e7baf6b53.png)

[2020-05-22 12:18] megisys commented on #325
@JuanitaMiles - I was looking at the original spreahseet and sent this to David Lucier as the target. This is my fault.. Let me re adjust

[2020-05-22 12:26] MLWilkins commented on #337
tested in test. Email attachments still wont open and now PDF attachments also will not open.  See SP260042 and SP260031 as examples

Also unable to add new attachments. See error below.
![image](https://user-images.githubusercontent.com/50637067/82667430-dc1ed880-9c05-11ea-969f-6c03bc461308.png)

[2020-05-22 12:35] AReed327 commented on #531
D260059 I added a name in contact details under the DUSWM worktype and it sent me the new portal user temporary password email. I don't want that to happen and confuse people on DUSWM only projects.
![image](https://user-images.githubusercontent.com/58854333/82668028-ef7e7380-9c06-11ea-8a41-77c26952813a.png)
![image](https://user-images.githubusercontent.com/58854333/82668137-20f73f00-9c07-11ea-86

[2020-05-22 12:59] AReed327 commented on #531
1) Application Creation/Submittal: D260059
•	Work Type = SITE Passed
2) Intake Review:
•	Work Type = SITE Passed
3) Awaiting Applicant Resubmit:
•	Work Type = SITE Passed
4) Add Plan Review Fees:
•	Work Type = SITE/ALL - Fine with me to have this separate milestone rather than combining with Intake Review. PASSED (no issues)
5) Awaiting Plan Review Payment:
•	Work Type = SITE Passed
6) Under Revie

[2020-05-22 13:07] megisys commented on #531
@AReed327 - I have fixed the portal creation issue for DUSWM planning AP's this will not happen

[2020-05-22 13:09] megisys commented on #531
@AReed327 - Review Codes Fixed

[2020-05-22 13:16] megisys commented on #337
Hi Mike,

This is my fault.. You can not add attachments or open attachments on new type records in test. As when we refresh we do not copy over the attachment catalogs. If you create a new application and add attachments, you will be able to test properly. Apologies for the lack of direction here

[2020-05-22 13:21] megisys commented on #473
You have to use the EXT Fee. This is the only way it will work..

[2020-05-22 13:28] MLWilkins commented on #337
@megisys Ashley Reed tried adding an attachment but got an error message.  See my comment above.
![image](https://user-images.githubusercontent.com/50637067/82672598-8c90da80-9c0e-11ea-9dc3-073ec62b20b4.png)

[2020-05-22 13:32] megisys commented on #557
BP_LicensedContact_SCF - to be promoted also
ElecPerm_ParentRequired_scf
BLD_ProgressOnResubmit_BU

[2020-05-22 13:34] megisys commented on #518
There is nothing i can do here. Mobile is a different platform. @JuanitaMiles @ABonomo21  - What would you like to do here. You can ask IIT to put in an enhancement request

[2020-05-22 13:44] megisys commented on #401
I cleared this out of Test. PLEase do a little testing as once it is gone from production it is gone for good

[2020-05-22 13:51] megisys commented on #525
July 2020 - IS the projected date for this

[2020-05-22 13:52] megisys commented on #525
@ABonomo21 - Can we close this.. Nothing we can do until newer release

[2020-05-22 14:27] JuanitaMiles commented on #525
I've got this ticket in our "Product Enhancements" project for follow up. Will close this ticket, and it will still show for us as a follow up item in the project.

[2020-05-22 14:27] #525 closed

[2020-05-22 14:37] JuanitaMiles commented on #561
The notification template: BLDG_Resubmittal is used for all resubmit request notifications. Example from test is below. I believe it's used for both completeness check and under review resubmittals.

![image](https://user-images.githubusercontent.com/31770504/82678515-ba2e5180-9c17-11ea-8dc5-626fd0f3a14c.png)
![image](https://user-images.githubusercontent.com/31770504/82678725-15604400-9c18-11ea-8

[2020-05-22 14:47] JuanitaMiles commented on #497
Per discussion during morning meeting on 5/21 this issue continues to happen even after the preferences have been reset. Ashley Reed has been able to replicate.

@megisys  @AReed327  Dan can you look into this apparent glitch with the dashboard widgets jumping to the bottom of the page? If  you would like a webex with Ashley to demonstrate the problem, please let us know. Afterwards, if you feel i

[2020-05-22 15:38] AReed327 commented on #337
attachment added on a new project and it worked. Also tested uploading and opening email and it worked.SP260052

![image](https://user-images.githubusercontent.com/58854333/82684549-c66adc80-9c20-11ea-9e93-6c2b3ef8b0e9.png)

[2020-05-22 15:41] megisys commented on #561
This is not going to be a straight forward request. As we sent the building application details to this notification and not the review details. Am I adding all reviewers names. Only those against resubmits. What happens if it is 2 rounds of resubmit. Am I leaving off the previous reviewer details. Do you want phone numbers and names ? This is an enhancement. But please be specific in what you wou

[2020-05-22 15:43] megisys commented on #497
@JuanitaMiles  - This will need to be an Xtreme ticket for sure.

[2020-05-22 15:44] megisys commented on #497
@pooldaddy @Ycoto - Please log with Infor Development. I can not fix this as it is a base product issue

[2020-05-22 16:28] ABonomo21 opened #562 "Treasury Receipts to Print Site address for permits"
I have copied Juanita and Jeff on this email to see where they can help. I am assuming your back office cashiering IPS looks just like mine...Jeff and Juanita can you confirm?

If that is the case there should be an option under the documents section when you look up the building permit to print the building details report.

I should have walked through this with you all today when I was at the of

[2020-05-26 12:01] ABonomo21 commented on #473
Using the EXT fee will not work there are associated renewal fee and account strings that are specifically tied to grading extensions.

Also  another reason we cant use the EXT Fee – that is associated with building extensions (49.00) that would mean I would need to modify every extension fee (after already having to add it)

EP 5/26/20

[2020-05-26 17:03] AReed327 commented on #531
D260059 SITE worktype- should have closed/complete upon approval of review
Application stopped at admin closure milestone and asked for PWCONSTRUC worktype mylar check condition.
![image](https://user-images.githubusercontent.com/58854333/82929155-37780000-9f51-11ea-89f8-9be45bf9b7f3.png)

[2020-05-26 17:18] AReed327 commented on #531
@JuanitaMiles We need to add assigning all reviews in the SOP/status check window so they do not stay on my Planning dashboards if they follow the directions correctly. I would think we should include it at completeness check and when the review populates "under review". Do you have any other ideas as to how we can keep these tasks off of my dashboards? I don't think making the dashboard search mo

[2020-05-26 17:40] AReed327 commented on #531
Application Creation/Submittal: D260060
• Work Type = PREPLAT

Intake Review:
• Work Type = PREPLAT Passed (there are additional options here that are not necessary but it works. The good thing is ePlans is not an option)

Awaiting Applicant Resubmit:
• Work Type = PREPLAT - Passed. Tested on D260061 since I passed this on the first one.

Add Plan Review Fees:
• Work Type = PREPLAT - Passed

Await

[2020-05-26 17:57] ABonomo21 opened #563 "Historic Reviews"
Emailed Dan - He is working on this ticket now for me. Marked as high priority because we have a permit that needs to have reviews added and cannot be added right now.

Grading permits-

On grading permits that need a historic review, determined by the historic detail on the parcel information-

If historic is marked Y- the historic review should generate at the under review milestone
Right  now t

[2020-05-27 09:41] #337 closed

[2020-05-27 09:48] megisys commented on #531
@AReed327 @JuanitaMiles  - This has been adjusted

[2020-05-27 11:07] #563 closed

[2020-05-27 14:48] AReed327 commented on #531
D260062 - Verified reports work for Application Details and Project Pending Letter. Verified problems populated and dropped off with addressed resolution code and they transferred to following cycle if not resulted.
D260062 - PREPLAT - PASSED - Closed and Finalized

D260063 - APFO
After review approval should go to closed/finalized.
Remove DUSUM Mylar condition as it should only be on PWCONSTRUC w

[2020-05-28 11:54] megisys commented on #531
This is fixed @AReed327

[2020-05-28 11:54] megisys commented on #473
Hi All,

I will need to know the fees you want to use. Is it one or many ?

Dan

[2020-05-28 11:55] AReed327 opened #564 "PLANNING - Adding additional parcel screent - formatting overlapping"
Formatting overlapping under action - change sites.  Also under the Associated sites. See screenshots
![image](https://user-images.githubusercontent.com/58854333/83138202-707eb480-a0b8-11ea-9cc8-53cf61a6fbf6.png)

![image](https://user-images.githubusercontent.com/58854333/83137847-d6b70780-a0b7-11ea-9eca-ce36167ddfb9.png)

[2020-05-28 11:56] megisys commented on #562
HI All,

Modification to the Receipt is very limiting and permits paid are not all for one address. Some have no address at all. I guess we should talk process options here first.

@JuanitaMiles @ABonomo21

Dan

[2020-05-28 11:58] megisys commented on #561
Is this for More Information Only ? or is it for the review resubmit too !

[2020-05-28 11:59] megisys commented on #559
County has decided to test with the 15 Second Time out turned off.

[2020-05-28 12:03] megisys commented on #564
I think you internet zoom is off. Ensure it is 100%

[2020-05-28 12:04] megisys commented on #564
![image](https://user-images.githubusercontent.com/47392306/83139113-d9b2f780-a0b9-11ea-85a2-6543348b7da3.png)

[2020-05-28 12:27] AReed327 commented on #564
So the 100% works but I have zoomed in and out a lot. On this little laptop screen I'm always much smaller and at work I think we are set at 200 or more with the size of the screen. Probably only an issue when going less than 100. Closing ticket,

[2020-05-28 12:27] #564 closed

[2020-05-28 12:45] AReed327 commented on #531
D260067 - APFO - verified corrected closed/finalized
D260068 - PLAT - verified corrected closed/finalized
D260069 - PREPLAT - verified corrected closed/finalized
D260070 - SITE - verified corrected closed/finalized
D260071 - PWCONSTRUC - Confirmed application still went to admin closure with condition for mylars - once condition resulted yes - application progressed to closed/finalized

[2020-05-28 15:07] JuanitaMiles commented on #559
Copying Jeff's most recent update with path forward. IIT will need to continue to provide updates on progress of this item.

![image](https://user-images.githubusercontent.com/31770504/83158931-6ae29800-a0d3-11ea-8486-c58297bc76b9.png)

[2020-05-28 15:56] JuanitaMiles commented on #325
Retested the 5 applications I previously tested above and we've taken a step backward. Now inspections are not generating correctly for ANY of the applications below:

CONSTSERV - 278187 (Inspections did not generate correctly per matrix.)
ALTADDACC - 278186 (Inspections did not generate correctly per matrix.)
DEMO - 278188 (Inspections did not generate correctly per matrix.)
HEAVYUP - 278189 (Ins

[2020-05-28 18:44] JuanitaMiles opened #565 "Test PDox Error at Assign Reviewers Task"
I am trying to test and create documentation on a topic for permits using the TEST PDox and IPS systems. Upon trying to complete the Assign Reviewers task in Test Pdox, I get the following error and cannot progress forward.

![image](https://user-images.githubusercontent.com/31770504/83180528-91173080-a0f1-11ea-958e-346cf27f0a26.png)

[2020-05-28 19:26] ABonomo21 commented on #555
in the middle of testing 278194- error in pdox when trying to assign

[2020-05-28 19:30] ABonomo21 commented on #401
will reconsider for future phase to better evaluate the issue

[2020-05-28 19:30] #401 closed

[2020-05-28 19:42] ABonomo21 commented on #557
retested all four above and was sucessful

[2020-05-28 19:45] ABonomo21 commented on #445
test accepted!

[2020-05-28 19:51] ABonomo21 commented on #561
Reviewer name and contact information being email address -yes for more information only should only pull those contacts when a re-submission is request

[2020-05-28 20:16] JuanitaMiles commented on #540
Reopening. Applicant is still reporting problems trying to submit. @megisys Dan if you make a change in production, please do not close the ticket until the County can confirm the applicant can successfully submit. Just assign back to myself and Ashlye and we will close if confirmed. Thanks.

[2020-05-28 20:21] JuanitaMiles commented on #540
I am also having Abbie/Ashlye follow up with the customer to see if we can get any confirmation that it is the same error occuring.

[2020-05-28 20:24] JuanitaMiles commented on #562
Will look to get a meeting with Dan L, AB, Dan G, and Tara if possible to understand the requirements surrounding the receipts and how the Capacity are configured to show the address. Will have Dustin schedule, maybe with Dan's webex to allow for screen sharing? @dhenry-KCI

[2020-05-28 20:26] JuanitaMiles commented on #521
assigning Dan as he is the one leading the efforts and updates on this.

[2020-05-28 20:26] JuanitaMiles commented on #550
assigning Dan as he is the one leading the efforts and updates on this.

[2020-05-28 20:27] JuanitaMiles commented on #565
Dan to resync web services when available.

[2020-05-29 12:16] megisys commented on #325
Coding error was adjusted.

[2020-05-29 12:24] megisys commented on #565
in Sync

[2020-05-29 12:54] JuanitaMiles commented on #565
was able to get past the assign reviewers task, no error. thanks

[2020-05-29 12:54] #565 closed

[2020-05-29 16:42] ABonomo21 commented on #555
test accepted

[2020-05-29 17:04] megisys commented on #540
@JuanitaMiles - Can you also ask for the data they are trying to add to the row. Something is too long

[2020-05-29 17:26] JuanitaMiles commented on #325
**Residential, Work Type <>REAPFL:**

- Tested 9 electrical detail types and all PASSED on both initial inspections and final inspections. Will continue to test additional types as time allows. (278215, 278214, 278216, 278217, 278219, 278218, 278222, 278220, 278221)

**Residential, Work Type = REAPFL:**

- Tested 2 electrical detail types and each PASSED. Final inspection only generated as expecte

[2020-05-29 17:37] JuanitaMiles commented on #325
I discovered an oversight on our part of 5 nonres electrical detail types didn't have the ELEC-FINAL inspection checked off. Confirmed with Ashlye, all types should have a final inspection. I have amended the spreadsheet and have attached version 2.1 below. Sorry Dan.
[Inspections_Matrix_v2.1.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4703300/Inspections_Matrix_v2.1.xlsx)

**No

[2020-05-29 18:10] JuanitaMiles commented on #550
Update from Dan 5/29:

Aiming for a special June release to address this issue.

[2020-05-29 18:10] JuanitaMiles commented on #521
Update from Dan 5/29:

Aiming for a special June release to address this issue.

[2020-05-29 19:11] JuanitaMiles commented on #300
Test result from Bob 5/29 3:08pm
![image](https://user-images.githubusercontent.com/31770504/83296358-a8701f80-a1be-11ea-838b-276fea3884d3.png)

[2020-05-31 12:03] #555 closed

[2020-05-31 12:10] #557 closed

[2020-05-31 12:57] megisys commented on #531
Deployed

[2020-05-31 12:57] #531 closed

[2020-05-31 13:17] megisys commented on #300
BP_ScheduleInspection_BU

Cleaned up
		If (ServerApplication.GetDateNow().Hour >= 12 and oInspection.CallDateTime.DayofWeek = 1 and ServerApplication.GetDateNow().DayofWeek = 5) or (ServerApplication.GetDateNow().DayofWeek = 6 or ServerApplication.GetDateNow().DayofWeek = 0 and oInspection.CallDateTime.DayofWeek = 1) Then

			Dim dt As Date = Date.Parse(oInspection.CallDateTime)

			Dim dateString

[2020-06-01 00:51] ABonomo21 opened #566 "Permit of $20,000 in Fees- No Re-inspection fees"
We have a permit that paid over 20k in fees and should not generate re-inspection fees,
![image](https://user-images.githubusercontent.com/47611580/83367001-49f29f00-a380-11ea-8849-c8e91f213864.png)

I checked the transactions and do not see where is was manually added ?

Please check the coding to make sure permits where permit fees paid over 20k do not charge re-inspection fees.

Thanks

[2020-06-01 01:01] ABonomo21 opened #567 "Resbldg - Parent Apartments and Condos"
The fire final is not generating on parent units for apartments and condos and should be.

The parent building check box will be indicated the apartment and condo details page for those occupancy types of resapt and rescon

![image](https://user-images.githubusercontent.com/47611580/83367319-e8cbcb00-a381-11ea-875c-1b7fa80249f2.png)

while these are res structures they are reviewed as non res with

[2020-06-01 01:04] ABonomo21 opened #568 "Septic Inspection - RESBLDG"
A septic Final did not generate on a RESBLDG SFD permit on well and septic and should have.

267987 did not generate a septic final - inspection had to be manually added.

[2020-06-01 12:40] Ycoto opened #569 "Permit Attachment not generating on IPS11"
![image](https://user-images.githubusercontent.com/63804011/83409857-46dcca80-a3e3-11ea-8530-0522fca54ffe.png)

[2020-06-01 12:55] JuanitaMiles commented on #568
Let's fix this specific inspection within the current configuration now, as we continue to work through the overall inspection redesign.

[2020-06-01 12:57] JuanitaMiles commented on #567
Let's fix this specific inspection within the current configuration now, as we continue to work through the overall inspection redesign.

[2020-06-01 13:31] #490 closed

[2020-06-01 14:26] megisys commented on #569
This is REsolved. Please check Again

[2020-06-01 14:30] megisys commented on #566
ReInspection 20,000 was set up for the Trades and Not the Non Res. You sure you want this ?
@ABonomo21

[2020-06-01 14:30] awhite806 opened #570 "MPDU code in parcel not generating fee"
This parcel has the MPDU code in the parcel however it did not generate the MPDU fee for the permit.
<img width="1193" alt="Screen Shot 2020-05-29 at 12 56 49 PM" src="https://user-images.githubusercontent.com/58981029/83419337-eb1a3d80-a3f2-11ea-9f86-44db98ccb5ae.png">
<img width="1193" alt="Screen Shot 2020-05-29 at 12 56 03 PM" src="https://user-images.githubusercontent.com/58981029/83419349-f1

[2020-06-01 14:40] megisys commented on #570
The Address Needs the Subdivision Code .

![image](https://user-images.githubusercontent.com/47392306/83420248-5adcf800-a3f4-11ea-8c75-175b77137be9.png)

[2020-06-01 15:04] megisys commented on #566
Needs to be NON RES - For ALL Occupancy > 20,000 of Fees

[2020-06-01 15:16] megisys commented on #567
This looks fine. DO you have an example

[2020-06-01 15:16] megisys commented on #567
![image](https://user-images.githubusercontent.com/47392306/83423704-5bc45880-a3f9-11ea-9ece-257ba12aec61.png)

[2020-06-01 15:22] AReed327 commented on #546
This is not working in Production.
- The temporary password is not provided in the email.
- The link to the portal in the email is not working. It does not take you to the public portal.
[Frederick County - Portal Account Registered Email to new user.pdf](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4712055/Frederick.County.-.Portal.Account.Registered.Email.to.new.user.pdf)
[RE_ F26010

[2020-06-01 15:24] megisys commented on #325
Adjustments made by Dave Lucier

[2020-06-01 15:32] megisys commented on #546
Hi Ashley,

How did this contact get created. The Email Address was not valid. I fixed it now

[2020-06-01 15:32] megisys commented on #546
Please try again

[2020-06-01 15:55] AReed327 commented on #546
How was the email not valid? I added them through the contact details tab and saved the row. This is not something I can just test. I need to wait until I have another new portal user. Also, I''m confused because they received the email. That does not indicate an invalid email.

[2020-06-01 15:58] megisys commented on #546
The Notification says it didn't send in your image

[2020-06-01 18:07] pooldaddy commented on #570
Subdivision NOT populated at SDAT  see below:
![image](https://user-images.githubusercontent.com/47391482/83439467-317e9500-a411-11ea-8123-56ce96993e59.png)

[2020-06-01 18:07] pooldaddy commented on #570
Emailed Mary in GIS to research

[2020-06-01 18:13] pooldaddy commented on #569
@megisys What if anything did u change??????

[2020-06-01 18:29] megisys commented on #569
I just reset them and ran batch manager again- Its under actions

[2020-06-01 18:34] ABonomo21 commented on #568
Did we move the septic inspections to generate at the inspection milestone instead of the final inspection milestone? @JuanitaMiles

[2020-06-01 18:35] megisys commented on #568
It is moved to INspections now

[2020-06-01 18:42] Ycoto commented on #570
it has been updated.

![image](https://user-images.githubusercontent.com/63804011/83442333-fdf23980-a415-11ea-9de3-76387778a9ad.png)

[2020-06-01 18:48] megisys commented on #570
@Ycoto - Just this address. or is there an issue with GIS mappng here ?

[2020-06-01 19:17] Ycoto commented on #570
@megisys It was just this address.

[2020-06-01 19:17] #570 closed

[2020-06-02 13:32] AReed327 commented on #546
I know it says that but I attached the email that they received. I also provided a screenshot above.

[2020-06-02 14:49] ABonomo21 opened #571 "SERVICE REQUESTS ON R4C"
PLEASE FIX RIGHT AWAY - ON R4C UNDER SERVICE REQUEST IT SAYS CITY REQUESTS,,, SHOULD SAY COUNTY REQUESTS

![image](https://user-images.githubusercontent.com/47611580/83534160-80cecf00-a4be-11ea-91d2-efc1fe8dae80.png)

HERE IS A SCREENSHOT FROM A PREVIOUS TICKET WERE IT WAS COUNTY. NOT SURE WHEN IT CHANGED.

![image](https://user-images.githubusercontent.com/47611580/83534282-a65bd880-a4be-11ea-99b

[2020-06-02 14:53] AReed327 commented on #521
I am getting a lot of duplicates today.
![image](https://user-images.githubusercontent.com/58854333/83534469-dacf9480-a4be-11ea-9748-ee94294b8639.png)
![image](https://user-images.githubusercontent.com/58854333/83534582-08b4d900-a4bf-11ea-90a4-6ae769e59634.png)
The plat came through 8 times. PL260113, PL260114, PL260115, PL260116, PL260117, PL260118, PL260119, PL260120
The NID came through 3 times

[2020-06-02 15:15] JuanitaMiles commented on #325
NonRes - DEMO - 278230 -  No Change. Still went straight to closed with no final inspection generating.
NonRes - HEATAC - 278231 - No change. Passed on initial inspections, but did not generate a final inspection.
NonRes - LOWV - 278232 - No change. Passed on initial inspections, but did not generate a final inspection.
 NonRes - POOL - 278233 - No change. Passed on initial inspections, but did no

[2020-06-02 15:29] Ycoto commented on #569
@megisys RESUSES - APPLICATION #  280863 didn't generate a permit.

[2020-06-02 15:31] JuanitaMiles commented on #571
@pooldaddy @Ycoto This looks to require a language change on the formlet(?) for this page. Can you look into asap. Dan is currently out of office, if we absolutely NEED to call him you can.

[2020-06-02 15:40] AReed327 commented on #546
This is not resolved. I have another new applicant.
richard@casasmd.com
![image](https://user-images.githubusercontent.com/58854333/83539858-91cf0e80-a4c5-11ea-8203-0654e61e5cb4.png)
There is nothing wrong with this email
![image](https://user-images.githubusercontent.com/58854333/83539966-b4f9be00-a4c5-11ea-97c6-d57547fafa12.png)

![image](https://user-images.githubusercontent.com/58854333/835400

[2020-06-02 16:06] AReed327 commented on #546
Once again an email went out even though the system message says notification was unable to send. The portal link in the email that was sent does not take you to the portal. The temporary password is not provided in the email. Today when I clicked the portal link in the email, it gave me a message that says Can't reach this page.
![image](https://user-images.githubusercontent.com/58854333/83541573

[2020-06-02 16:07] ABonomo21 commented on #521
More duplicates for permits today
282228
282227
282226
282225

[2020-06-02 16:48] JuanitaMiles commented on #518
Spoke with Ashlye...Yes, @pooldaddy or @Ycoto please submit an enhancement request to Infor per Dan's suggestion above.

[2020-06-02 17:09] #571 closed

[2020-06-02 18:04] JuanitaMiles commented on #567
@ABonomo21 Ash, do you have any AP numbers as examples of this issue?

[2020-06-02 19:27] MLWilkins commented on #497
This is happening again on my dashboard, again with the withdraw request dashboard.  I moved it earlier today (before lunch) and tried moving it at 3:30 and it jumps to the bottom.

[2020-06-02 19:35] Ycoto commented on #569
Here is another one that didn't generate the permit.
APPLICATION # 280736

[2020-06-03 11:46] megisys commented on #569
Batch Manager scheduling was off

[2020-06-03 12:18] pooldaddy commented on #497
Added extreme ticket # 14623649

[2020-06-03 12:25] pooldaddy commented on #518
Added extreme ticket #14623660

[2020-06-03 12:42] megisys commented on #546
POrtal Link is addressed in Production.. working on Issue of Failed Delivery and the content

[2020-06-03 12:43] megisys commented on #325
Hi Juanita,

Please Retest.. CHanges were made

[2020-06-03 12:53] choreboy commented on #560
I will try it and let you know

[2020-06-03 14:24] AReed327 commented on #546
Results from Webex with Dan 6/3/2002

Govolution is not making the connection due to no address on contacts created from the contact details tab. Contact details only requests first/last name, phone and email.

Dan to update all new contacts which have rhythm accounts to be Unknown 00000 and ask them to update on first log in.

[2020-06-03 14:31] megisys commented on #546
ContactUtils - Formula to be promoted.
Notification is updated

[2020-06-03 15:01] JuanitaMiles commented on #546
Ash B. received the same type of error from one of her customers. Can we confirm the highlighted email/user meets the same criteria as the above identified issue. See email below, and ensure the fix will be applied to all applicable modules.

![image](https://user-images.githubusercontent.com/31770504/83653224-7dece080-a589-11ea-835e-de715c08051b.png)

[2020-06-03 18:03] AReed327 commented on #521
More duplicates today for planning
SP260128
SP260129
SP260130
SP260131
SP260132
B260126

[2020-06-03 18:22] JuanitaMiles commented on #325
All applications and scenarios I have tested for electrical have now passed. I am now generally comfortable with the new electrical inspection configuration. I will however, continue to test the other electrical detail types to confirm they all work as expected.

I will meet with Ashlye and Bob to determine the next application type to undergo configuration and thorough testing. ResUse was due to

[2020-06-03 19:54] AReed327 opened #572 "Planning - General Comment under Problems is missing for BOE reveiw"
A/P 19080
Please add General Comment to the Grid so comments can be logged under problems by BOE

Should look like this
![image](https://user-images.githubusercontent.com/58854333/83682634-30d13480-a5b2-11ea-9845-d32e143c9b74.png)

It is missing under BOE reveiew'
![image](https://user-images.githubusercontent.com/58854333/83682769-60803c80-a5b2-11ea-8fa2-464187a07859.png)

[2020-06-03 19:58] AReed327 commented on #572
BOE is trying to enter comments to finish a reivew that was due on 5/15/2020. I put medium on this but this should be done as soon as possible.

[2020-06-04 00:41] ABonomo21 commented on #473
Minor Grading AND Minor Logging Extensions
account string 10.98.998.999.40770.0000 (this should automatically add twice) value of $96.00 each= equalling a total of $192.00.

Major Logging Extensions
account string 10.98.998.999.40770.0000 value of $424.00

Major Grading & SWM (priority 1-active)
account string 10.98.998.999.40770.0000 value of $424.00 (admin fee) AND
account string 10.98.998.999.4

[2020-06-04 11:30] megisys commented on #473
[Standard.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4729640/Standard.xlsx)

[2020-06-04 11:31] megisys commented on #473
Hi Ashlye, I need to know the Fees by name to be used, as they are manually entered by Emily and I need to only update once the fees by name are paid.

[2020-06-04 11:39] megisys commented on #572
![image](https://user-images.githubusercontent.com/47392306/83752435-8b13d900-a636-11ea-8d74-cf3cc6e6e738.png)

[2020-06-04 11:40] megisys commented on #572
This is where this is done. If you @Ycoto would like to do in Test. I did in Production as I was already in there

[2020-06-04 11:42] megisys commented on #572
PWCONSTRUC - BOE

[2020-06-04 12:11] Ycoto commented on #572
Thank you @megisys  I will do it in Test.

[2020-06-04 14:23] TaraF commented on #445
This is in que to be moved to PROD.  I will update this thread when complete.

[2020-06-05 02:07] ABonomo21 commented on #473
[Standard - Grading Extensions.xlsx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4733523/Standard.-.Grading.Extensions.xlsx)

[2020-06-05 02:08] ABonomo21 commented on #473
Please see the highlighted fee names in the Standard- Grading Extensions.

[2020-06-05 13:04] #568 closed

[2020-06-05 13:04] megisys commented on #473
This has been updated.

[2020-06-05 16:13] JuanitaMiles commented on #325
Marking as test accepted. Continued testing of the remaining electrical types will be ongoing, but we feel comfortable enough to promote the electrical configuration.

Please ensure any configuration done on Plumbing does not get promoted as we did not provide any documentation for the required inspections and no testing was completed.

![image](https://user-images.githubusercontent.com/31770504/8

[2020-06-05 16:15] JuanitaMiles commented on #325
Once promoted this ticket can be closed. A new ticket will be created for the next AP type to be configured. This ticket will be reopened for any electrical permit inspection related issues only.

[2020-06-05 17:04] megisys commented on #325
@JuanitaMiles, We did this based off the formulas.  I will ensure it is not put into place.

[2020-06-05 17:18] JuanitaMiles commented on #569
Dan, Yaciel, and Jeff have worked to establish a process for identifying correspondence that is being held up and releasing that correspondence. Closing this ticket with the understanding that there will be an ongoing process and implementation of standard operating procedures surrounding checking batch tasks, identifying errors, reporting and resolving them.

[2020-06-05 17:18] #569 closed

[2020-06-05 17:28] JuanitaMiles commented on #546
@megisys Can you work with @pooldaddy and @Ycoto to sort out any additional work that needs to be done regarding the account creation notifications containing temp passwords and the solution of the address for portal payments. I'd like Jeff and Yaciel to have a full understanding of the issue, how it can be resolved and assist with any testing that needs to be done. Then we can have Ashley confirm

[2020-06-06 15:19] ABonomo21 commented on #300
tested 6.6.20 in test a/p 278148 in test inspection number 1097263- Failed I was able to request 6.8.20

[2020-06-06 15:19] ABonomo21 commented on #300
![image](https://user-images.githubusercontent.com/47611580/83947868-a2de8f00-a7e7-11ea-9795-ed15c2649bf2.png)

[2020-06-07 13:11] ABonomo21 commented on #300
I was not able to submit a request on sunday for monday 278148 inspection 1097264

I also rescheduled the previous inspection tested yesterday and was able to schedule for rescdule for 6.9.20 but was not able to reschedule again for 6.8.20

[2020-06-08 12:00] megisys commented on #300
I will test it myself this weekend. As I can not see an issue in the code and will need to debug this. Sorry for the delay.

[2020-06-08 20:05] TaraF commented on #445
This has been moved to PROD.

[2020-06-08 20:36] JuanitaMiles commented on #439
Adding another PDox email template request from Ashlye to remove the Priority from the "Applicant Upload Task is Past Due" email template.

We will need to confirm whether or not this change impacts planning as well and if it does, confirm with Ashley R that it is okay to remove from planning notices.

![image](https://user-images.githubusercontent.com/31770504/84078011-2d6ced00-a9a6-11ea-977b-d80

[2020-06-09 11:08] MLWilkins commented on #572
BOW was able to add problems under ap 19080 but the comments are in code. Elevating this to high priority because applicants cannot read the comments and it is delaying projects.

![image](https://user-images.githubusercontent.com/50637067/84140521-c3912980-aa1f-11ea-81ba-1dfc5ba78439.png)

[2020-06-09 11:46] MLWilkins commented on #572
thought there was an error with comments but we believe it was due to how the reviewer added the problems. took off test failed.

[2020-06-09 11:47] MLWilkins commented on #572
Planning is good to go on this ticket

@Ycoto once you have what you need from this ticket it can be closed.

[2020-06-09 12:11] #572 closed

[2020-06-09 12:47] AReed327 commented on #546
This new portal contact does not have an address of unknown. I thought that was going to be corrected when Dan said all customers were able to pay online.

![image](https://user-images.githubusercontent.com/58854333/84148545-29d07900-aa2d-11ea-9313-7f54a40aad04.png)

It is still saying notification didn't send with it sends.
![image](https://user-images.githubusercontent.com/58854333/84148922-abc0

[2020-06-09 14:00] JuanitaMiles opened #573 "Building Permits - NonRes - Blank Certificate of Completion Report"
Inputting on behalf of Emily and Ashlye:

When running the Certificate of Occupancy / Completion report for AP # 191419 the report is blank. The correspondence that automatically ran and attached to the permit is also blank.

![image](https://user-images.githubusercontent.com/31770504/84156669-cbf55e80-aa37-11ea-96d6-0ed5666de3e7.png)

![image](https://user-images.githubusercontent.com/31770504/84

[2020-06-09 14:21] JuanitaMiles opened #574 "GIS - Address / Parcel Update Logic Request"
Inputting on behalf of Mary McMullough. She sent the following request to Juanita, Rick Little, Dan G, and Austin WIlliams on 6/8/2020. We will need to understand the feasibility of this request and the effort involved. Dan, if you can provide your initial thoughts, that would be great in helping to determine next steps.

"Can you please log in the request to change some logic.  I would like when

[2020-06-09 19:30] AReed327 opened #575 "PLANNING - PWCONSTRUC - SHA should add from parcel layer State Road Designation"
Project Number - PW260057
Observed behavior - SHA review didn't add on PWCONSTRUC Application. You can see from the different Issued date that I added it from PDOX.
Expected behavior - When parcel designates road as S, State Highway (SHA) review should auto generate.
Screenshot -
![image](https://user-images.githubusercontent.com/58854333/84191020-dcbcc900-aa65-11ea-9404-9f9355e655e5.png)

![image

[2020-06-09 19:31] JuanitaMiles commented on #445
@ABonomo21 Can you confirm the reports runs as expected in Production. If so, we can close the ticket.

[2020-06-09 19:39] JuanitaMiles commented on #540
Abbie has tried to follow up but has not received a reply. Assigning Abbie so she can provide information once received.

[2020-06-09 20:21] JuanitaMiles opened #576 "Reports for Dial"
Source: Email from Ashlye B (below). Example reports attached below.

From: Bonomo, Ashlye
Sent: Tuesday, February 25, 2020 10:46:09 AM (UTC-05:00) Eastern Time (US & Canada)
To: Miles, Juanita
Cc: Wilkins, Michael
Subject: FW: Query Information

Juanita-

Is there any way when you have time, this is not pressing that you can check with Jeff or Tara to see if they were ever provided these crystal

[2020-06-10 15:54] JuanitaMiles opened #577 "Inspection Cycle #'s Not Generating Correctly"
Inspection cycle numbers are not generating correctly. When resulting a second inspection with failed or partial pass, the third inspection that generates also shows a cycle of 2. Then the fourth inspection generates as cycle 3.

We found this issue when testing ticket #566

![image](https://user-images.githubusercontent.com/31770504/84288324-067dfa80-ab0f-11ea-9188-bdf51d8dbf1e.png)

![image](htt

[2020-06-10 16:04] ABonomo21 opened #578 "Code Enforcement Changes needed"
Need a way to clear resolution dates on code enforcement cases- via a log. (similar to the clear final date in building permits)

Resolution Code field on the case information should be not be editable please hide from case information pages.

![image](https://user-images.githubusercontent.com/47611580/84291025-878ac100-ab12-11ea-9fe1-3d2bdc20ea49.png)

[2020-06-10 19:50] JuanitaMiles opened #579 "Building Permits - Inspections Configuration Matrix - RESIDENTIAL USES PERMIT"
Please find the attached inspection matrix for the Residential Uses permit (RESUSES). We would like to use this application type as a training opportunity for Dan to explain and demonstrate the new inspection configuration setup to IIT so they can use that knowledge to configure future application types.

This AP may require a special formula for Septic inspections, as it does not fit cleanly into

[2020-06-11 11:13] MLWilkins commented on #497
now completeness check and withdraw dashboard are behaving this way.  Cant even expand the dashboard report to read it.

![image](https://user-images.githubusercontent.com/50637067/84378958-03d4e100-abb3-11ea-969b-243d2963ed1f.png)

[2020-06-11 11:17] MLWilkins commented on #521
tried to provide a screen shot of the completeness check dashboard but the bug reported in ticket 497 is preventing me from doing so.  The applications Ashley reported above (F260155-158), as well as an additional one that generated after Ashely's comment above (F260159) all came in 1 minute apart.

[2020-06-11 11:28] TheBobEnsor commented on #560
Test acceptable
Passed

[2020-06-11 11:28] #560 closed

[2020-06-11 11:50] megisys commented on #540
Change made in TEST - Extended what is being sold from 30 characters to 70.

[2020-06-15 00:57] pooldaddy commented on #558
Kamos changed to kdillman in PROD for future review assignments, any existing reviews not completed by kamos will require reassignment.

[2020-06-15 00:57] #558 closed

[2020-06-15 11:22] MLWilkins commented on #521
Planning had 19 duplicate BOA applications this morning, B260161-B260182. Unable to take screen shot again due to dashboard bug

[2020-06-15 15:10] megisys commented on #546
Hi There, I tested this in Test. for PWConstruct and all seems to be working

![image](https://user-images.githubusercontent.com/47392306/84674291-c34dce00-aef8-11ea-91c4-1b36f5aae982.png)

[2020-06-15 15:48] ABonomo21 opened #580 "REVPISIG Review"
when a revpisig review is added and marked as a resubmit on ANY building permit type it is triggering the $27.00 revision fee and is should not be can we please correct this ASAP

[2020-06-15 15:49] ABonomo21 opened #581 "Historic Reviews"
282129 generated a historic review only after a resubmit was asked for and did not generate the first time - should have generated the first round of reviews if the parcel was marked historic.
![image](https://user-images.githubusercontent.com/47611580/84678664-4887b180-aefe-11ea-9574-b3868e0c60d3.png)

[2020-06-15 19:26] MLWilkins opened #582 "Planning- items randomly appearing in Admin Closure dashboard report-and some are not populating"
applications are randomly showing up in the admin closure dashboard without any actions having been taken on the applications.  These were not in admin closure a week or so ago.  How and why did this happen?  Applications that should be under resubmit now appear to the applicants to be approved!

![image](https://user-images.githubusercontent.com/50637067/84696951-4a13a280-af1b-11ea-80b2-f8b0c67ca

[2020-06-15 19:31] MLWilkins commented on #582
here is a PWConst

![image](https://user-images.githubusercontent.com/50637067/84697929-fc983500-af1c-11ea-87da-203dd7c4435b.png)

[2020-06-15 19:34] MLWilkins commented on #582
log below.  These projects were not in admin closure since go live as I have monitored all items in this dashboard from the start.

![image](https://user-images.githubusercontent.com/50637067/84698345-a7105800-af1d-11ea-8825-4c422cc50389.png)

[2020-06-15 19:41] megisys commented on #582
Hi Mike,

I worked with Ashley on this and we bulk moved these again on 12/7. See Logs where you can see we added STOPNOT Log and moved them to Admin Closure. I dont have the history of why we landed here

REVPISIG
![image](https://user-images.githubusercontent.com/47392306/84698969-af1cc780-af1e-11ea-8f39-b2e2ab6565a3.png)

[2020-06-15 19:46] megisys commented on #581
![image](https://user-images.githubusercontent.com/47392306/84699349-5994ea80-af1f-11ea-8def-8e37a8cd4a3a.png)

Someone updated this address after the initial creation., See Test. Historic = N

[2020-06-15 19:47] megisys commented on #581
![image](https://user-images.githubusercontent.com/47392306/84699405-73363200-af1f-11ea-81a5-2013c86ae356.png)

[2020-06-15 19:47] megisys commented on #582
This will take a working party. As we moved all of these during GO LIve activities. @JuanitaMiles

[2020-06-15 19:49] megisys commented on #580
Which AP Type and Number did this occur on please

[2020-06-15 19:49] megisys commented on #580
@JuanitaMiles @ABonomo21

[2020-06-15 22:15] JuanitaMiles commented on #574
Emailed Mary M. to perform a test in TEST environment on 6/15. Will update with her results when received.

[2020-06-15 22:33] MLWilkins commented on #582
@megisys we added stopnot to every in life application. I am pretty sure we would not have moved these to admin closure knowingly.

[2020-06-16 00:14] JuanitaMiles opened #583 "Grading Permits - Resubmittal Notification Not Sending at Awaiting Applicant Revisions"
Resubmittal notifications are not generating and being sent to customers when grading applications enter the Awaiting Applicant Revisions milestone.

It appears this has been an issue since late January and was not noticed until recently. I did a search of all current Grading applications in the Awaiting Applicant Revisions milestone and 260734 was the last application in the list to have received

[2020-06-16 00:27] JuanitaMiles opened #584 "Building Permits - Hold Notification Showing Business Objects"
The "Building Permits on Hold" notification is showing all of the business objects rather than the data they should be pulling when it is sent to the applicant. This notification was sent from application # 282223.

![image](https://user-images.githubusercontent.com/31770504/84718291-3a5d8380-af46-11ea-84a5-dc5d89006e44.png)
![image](https://user-images.githubusercontent.com/31770504/84718359-61b4

[2020-06-16 01:01] JuanitaMiles opened #585 "Building Permit Extensions Not Auto-Generating Fee"
When processing application extensions, various staff have recently reported that the building extension fee is no longer automatically adding to the application once the EXT review is approved.

Some permit examples that are not adding the fee automatically include:
RESBLDG - 193465
ELECPERM - 193631, 194339
RESUSES - 194338

![image](https://user-images.githubusercontent.com/31770504/84720019-e4

[2020-06-16 11:51] TaraF commented on #573
Investigating.

[2020-06-16 12:21] megisys commented on #583
BP_AwaitingResubmitNotification - to be promoted -

[2020-06-16 12:31] megisys commented on #584
Issue addressed in both environments - can be tested in Test. Close once tested, as copied across to Production following my testing

[2020-06-16 12:32] megisys commented on #582
Items were moved pre go live with AREED as the user. I remember us sitting down and making some broad decisions, these could be caught up in that. Will need AREED assistance here.

[2020-06-16 12:35] megisys commented on #580
BLDG_PWDRNoRevisionFee_AOC - To be promoted once accepted

[2020-06-16 12:40] MLWilkins commented on #582
below is a screen shot I took of the admin closure dashboard on February 24th.  Note that the applications I reported above that are now appearing on the dashboard were not there in February.

![image](https://user-images.githubusercontent.com/50637067/84775182-dc17bb80-afac-11ea-9fa8-23092fea8f3f.png)

[2020-06-16 12:53] megisys commented on #561
BP_AwaitingResubmitNotification - to be promoted if accepted

[2020-06-16 13:09] megisys commented on #582
Hi Mike,

What adhoc Report is this one please. ? I do see the Admin Closure Adhoc Report. It only should be showing Admin CLosures after June 1st 2019
![image](https://user-images.githubusercontent.com/47392306/84778510-15eac100-afb1-11ea-9f8a-2c6b09eda97c.png)
I didnt write this, so i am in the dark to this

[2020-06-16 14:58] MLWilkins commented on #582
@megisys  the screen shot is of the admin closure report

[2020-06-16 15:02] JuanitaMiles commented on #582
@megisys @MLWilkins The screenshot Mike has of a dashboard report appears to be the out of the box Planning Reviewer To-Do list. Our Admin Closure ad hoc does not have these fields on it. The planning reviewer to do list shows the reviews that were once assigned to Mike and seeing as this screenshot was taken back in February, it makes sense they were showing because Mike didn't result one of the

[2020-06-16 17:04] ABonomo21 opened #586 "Fee Estimation Detail Pages"
Fee Estimation detail pages for all building permits.

[2020-06-16 18:26] megisys commented on #473
Promoted - Record Review Results Changes - Formula for Fee Payment.

[2020-06-16 18:26] megisys commented on #473
PLease let me know

[2020-06-17 11:22] MLWilkins commented on #582
manually adjusted milestones on Dev Rev projects that recently appeared in this dashboard and were incorrectly in admin closure.   Screenshot below is to document current dashboard to help monitor any projects that were in admin closure as of 12/7/19 that show up on the dashboard in the future.

![image](https://user-images.githubusercontent.com/50637067/84892050-e5675d80-b06a-11ea-8534-962749cdd2

[2020-06-17 13:00] MLWilkins commented on #521
more

![image](https://user-images.githubusercontent.com/50637067/84901062-f15a1c00-b078-11ea-9c68-ac1311b5f512.png)

[2020-06-17 14:28] JuanitaMiles commented on #584
Confirmed in production.

![image](https://user-images.githubusercontent.com/31770504/84910702-33895a80-b085-11ea-86e9-685e91363e02.png)

[2020-06-17 14:28] #584 closed

[2020-06-17 14:44] MLWilkins commented on #582
Ran a query for all projects in admin closure from June 1 2019 to present.  Found three projects that do not appear on dashboard.

Dashboard:
![image](https://user-images.githubusercontent.com/50637067/84912339-587ecd00-b087-11ea-926f-beac21a257da.png)

query
![image](https://user-images.githubusercontent.com/50637067/84912486-7ba97c80-b087-11ea-96fe-186392237822.png)

[2020-06-17 14:51] JuanitaMiles commented on #583
confirmed in test

![image](https://user-images.githubusercontent.com/31770504/84913432-8ca6bd80-b088-11ea-824f-a3104df8da94.png)

[2020-06-17 15:57] ABonomo21 commented on #585
164621 did not auto generate the fee today. I had to manually add it.

[2020-06-17 17:32] JuanitaMiles commented on #574
Mary tested and provided the attached document with her tests and results.

[ipstest.docx](https://github.com/dhenry-KCI/FredCo-Post-Go-Live-/files/4794216/ipstest.docx)

![image](https://user-images.githubusercontent.com/31770504/84930193-e7e3aa80-b09e-11ea-8c6b-e08197ac2ce7.png)

[2020-06-18 13:37] TaraF commented on #573
The Construction type of "ACC500" did not exist/ was not provided when the report was originally written, but it has now been added to the applicable types for NONRESBLDG.  Full list for NONRESBLDG is as follows:  **('FULL', 'COMPLETE' , 'ADDITION', 'CHANGE','FITOUT','NOCHANG','OWNERCH','ACC500')**   This change has been made in TEST and PROD.

If there are other 'new' construction types that shou

[2020-06-18 14:23] ABonomo21 commented on #419
![image](https://user-images.githubusercontent.com/47611580/85032327-b249ca80-b14d-11ea-81d5-5712e0b09104.png)

[2020-06-18 14:25] ABonomo21 commented on #419
Zoning review did not generate on this grading permit until the second review. #268368

[2020-06-18 14:26] ABonomo21 commented on #419
should have generated on the first round of reviews this is not in a major subdivision

[2020-06-18 14:30] ABonomo21 opened #587 "Reviews not generating on the first cycle"
276783 should have generated a historic review on the first cycle and it did not generate until the second cycle which was asked for a resubmit.

![image](https://user-images.githubusercontent.com/47611580/85033190-ad394b00-b14e-11ea-977e-dd0f2b175b78.png)

[2020-06-18 15:30] ABonomo21 commented on #580
![image](https://user-images.githubusercontent.com/47611580/85039941-41f37700-b156-11ea-8bef-42194c68248c.png)

We need to make a PIREV available for all building and use a/p types
This review will be manually added at the revision assignment milestone in the event that a revision is received and the applicant did not provide the details and information needed to submit a review back to the reques

[2020-06-18 15:31] #580 closed

[2020-06-18 15:36] ABonomo21 commented on #573
worked 191419

[2020-06-18 15:38] JuanitaMiles commented on #573
also confirmed in prod. closing

[2020-06-18 15:38] #573 closed

[2020-06-18 15:41] ABonomo21 opened #588 "Zoning Cert Issuance correspondence"
Zoning Certificate once issued is adding the official issuance document (which generates blank) and should be adding the Zoning Certificate document.

see example 192611 in production
generating this report
![image](https://user-images.githubusercontent.com/47611580/85041880-8253f480-b158-11ea-8ed8-75d6038b7849.png)
blank
![image](https://user-images.githubusercontent.com/47611580/85041890-8718a88

[2020-06-18 15:53] ABonomo21 commented on #561
do not want to implement into production - we need to work on the notifications as a whole-do not want a formula based notification and i do not like the look of how it generates contact information,
![image](https://user-images.githubusercontent.com/47611580/85042880-be3b8980-b159-11ea-9383-5e9bcfb85521.png)
![image](https://user-images.githubusercontent.com/47611580/85043342-3bff9500-b15a-11ea-9

[2020-06-18 15:53] #561 closed

[2020-06-18 16:01] ABonomo21 commented on #540
![image](https://user-images.githubusercontent.com/47611580/85044355-7e75a180-b15b-11ea-9ba9-b5b763311b02.png)

[2020-06-18 16:09] ABonomo21 commented on #587
duplicate ticket 581

[2020-06-18 16:09] #587 closed

[2020-06-18 16:19] ABonomo21 commented on #581
GIS updated parcel information for historic registry- will close for now.

[2020-06-18 16:19] #581 closed

[2020-06-18 17:32] #419 closed

[2020-06-18 17:47] JuanitaMiles commented on #530
Assigning to Tara for completion.

[2020-06-19 13:36] JuanitaMiles commented on #577
will mintor in production

[2020-06-19 13:36] #577 closed

[2020-06-19 13:44] JuanitaMiles commented on #546
Confirmed with Dan that the notification is working in production as designed. will create a new ticket to reevaluate the process as a whole in next phase. and will have a meeting to discuss

[2020-06-19 15:43] JuanitaMiles commented on #579
Migrated to Future Phases repository for completion in next project phase.
[Ticket 94](https://github.com/JuanitaMiles/FredCo_Future_Phases/issues/94)

[2020-06-19 15:43] #579 closed

[2020-06-19 15:44] JuanitaMiles commented on #576
Assigning to Tara for completion.

[2020-06-19 15:51] JuanitaMiles commented on #562
Migrated to the Future Phase repository for consideration in the next phase of the project.
[Ticket 95](https://github.com/JuanitaMiles/FredCo_Future_Phases/issues/95)

[2020-06-19 15:51] #562 closed

[2020-06-19 16:29] JuanitaMiles commented on #546
Ticket has been created in Future Phase repository for re-evaluation in the next phase of the project. We will meet to discuss an acceptable workaround for editing the contact details page after is has already been submitted.
[Ticket 96](https://github.com/JuanitaMiles/FredCo_Future_Phases/issues/96)

Closing this ticket as Dan has confirmed the configuration for the email is working properly in p

[2020-06-19 16:29] #546 closed

[2020-06-19 17:57] JuanitaMiles commented on #518
This item will not be addressed prior to July 1. A Future Phase Ticket has been created for tracking in the next phase of the project.
[Ticket 97](https://github.com/JuanitaMiles/FredCo_Future_Phases/issues/97)

[2020-06-19 17:57] #518 closed

[2020-06-19 18:09] JuanitaMiles commented on #497
@pooldaddy In recent communications with Terry May, you provided an update regarding this extreme ticket. Can you document that update here for everyone's knowledge please. If this is to be fixed with a future patch, please find out the expected release date for that patch and provide as well.

[2020-06-19 21:21] MLWilkins commented on #582
Closing this. Will reopen if issue arises again.

[2020-06-22 11:24] MLWilkins opened #589 "R4C- submit application header missing Planning/Zoning"
Bold header should read " Licences, Permits, Planning, and Zoning" and the descriptor below it should read "Apply for or renew a  license,  permit, Planning, or Zoning application"

![image](https://user-images.githubusercontent.com/50637067/85281982-e88e8f00-b458-11ea-8ccd-df774cb71a95.png)